<%
let id = `collapse${idx}-` + chainassets.chainID ;
let cls = ( expanded ) ? "btn-outline-secondary" : "btn-outline-secondary";
let cls2 = ( expanded ) ? "show" : "";
%>
<div>
<a class="btn <%= cls; %> btn-block" style="text-transform: none; text-align: left" data-mdb-toggle="collapse" href="#<%= id; %>" role="button" aria-control="<%= id; %>" aria-expanded="<%= expanded; %>" style="text-align:left">
 <img width="24" src="<%= chainassets.iconUrl; %>"> <%= chainassets.chainName; %> <%= uiTool.currencyFormat(chainassets.balanceUSD); %>
  <%
  for ( let i = 0; i<chainassets.assets.length; i++) { %>
  <%  let a = chainassets.assets[i]; %>
  <% if ( a.state.transferable ) { %>
  [<%= uiTool.presentFloat(a.state.transferable) %> <%= a.symbol; %>]
  <% } %>
 <% } %>
</a>

<div class="collapse mt-3 <%= cls2; %>" id="<%= id; %>">

<table width="100%">
<% if ( chainassets.ss58Address && chainassets.ss58Address.length > 0 ) { %>
<tr style="border-top: 2px solid black; border-bottom: 2px solid black;">
  <td width="40%" align=left>SS58 Address: <code><%- uiTool.getShortHash(chainassets.ss58Address, false); %></code> <a href='/qrcode/<%= chainassets.ss58Address; %>'><i class="fa-solid fa-qrcode"></i></a></td>
  <td width="60%" align=right>
  <a href='https://sub.id/<%= chainassets.ss58Address; %>' target='_new'><img src='https://cdn.polkaholic.io/subid.svg' width="16"></a>
  <% if ( chainassets.subscanURL ) { %>
     <a href='<%= chainassets.subscanURL; %>/account/<%= chainassets.ss58Address; %>' target='_new'><img src='https://cdn.polkaholic.io/subscan.svg' width="16"></a>
  <% } %>
  <a href='https://<%= chainassets.id; %>.polkaholic.io/account/<%= chainassets.ss58Address; %>' target='_new'><img src='https://cdn.polkaholic.io/polkaholic.png' width="16"></a>

  <% if ( chainassets.dappURL ) { %>
  <a class='btn-sm btn-primary' href="<%= chainassets.dappURL; %>" target="_new">APP</a>
  <% } %>
  </td>
</tr>
<% } %>
<% for ( let i = 0; i<chainassets.assets.length; i++) { %>
<%    let a = chainassets.assets[i]; %>
<% if ( a.state.balance ) { %>
<tr style="border-top: 1px solid gray;">
 <td width="40%" align=left valign=top>
  <B><%= a.symbol; %></B>
  <% if ( a.symbol != a.assetName ) { %>
    <B>(<%= a.assetName; %>)</B>
  <% } %>
  Balance:<br>
<% if ( false ) { %>
  <a id="verifyaccount-<%= chainassets.id %>" class="btn btn-link">Verify</a>
 <script>
  $("#verifyaccount-<%= chainassets.id %>").on('click', function (e) {
     verifyExec("<%= chainassets.id %>", {"verification": "account", "id": "<%= chainassets.id %>", "address": "<%= chainassets.ss58Address; %>"}, <%- JSON.stringify(a.state); %>);
   });
 </script>
<form id="verifyForm<%= chainassets.id; %>" method="POST" action="/verify" target="VW<%= chainassets.id %>"><input type="hidden" name="verify" value=""/><input type="hidden" name="obj" value=""/></form>
<% } else { %>
<%- include("assetinfobutton", {asset: a}); %>
<% } %>
 </td>
 <td width="60%" align=right>
  <%= uiTool.presentFloat(a.state.balance) %> <%= a.symbol; %><br/>
  <small><%= uiTool.currencyFormat(a.state.balanceUSD); %></small>

 </td>
</tr>
<% } else if ( a.state.adjustedVoucherUSD ) { %>
<tr style="border-top: 1px solid gray;">
 <td width="40%" align=left valign=top><B><%= a.assetName; %></B> Balance:<br><%- include("assetinfobutton", {asset: a}); %></td>
 <td width="60%" align=right>Supplied: <%= uiTool.presentFloat(a.state.supplied) %><br/><small><%= uiTool.currencyFormat(a.state.adjustedVoucherUSD); %></small><br/>
 </td>
</tr>
<% } else if ( a.state.adjustedPrincipalUSD ) { %>
<tr style="border-top: 1px solid gray;">
 <td width="40%" align=left valign=top><B><%= a.assetName; %></B> Balance:<br><%- include("assetinfobutton", {asset: a}); %></td>
 <td width="60%" align=right>Borrowed: <%= uiTool.presentFloat(a.state.borrowed) %><br/><small><%= uiTool.currencyFormat(a.state.adjustedPrincipalUSD); %></small><br/>
 </td>
</tr>
<% } else if ( a.state.borrowedUSD ) { %>
<tr style="border-top: 1px solid gray;">
 <td width="40%" align=left valign=top><B><%= a.assetName; %></B> Balance:<br><%- include("assetinfobutton", {asset: a}); %></td>
 <td width="60%" align=right>Borrowed: <%= uiTool.presentFloat(a.state.borrowed) %> <%= a.state.borrowedAsset.Token; %><br/><small><%= uiTool.currencyFormat(a.state.borrowedUSD); %></small><br/>
   <% if ( a.state.collateral != undefined ) { %>
   Collateral: <%= uiTool.presentFloat(a.state.collateral) %> <%= a.assetName; %><br/><small><%= uiTool.currencyFormat(a.state.collateralUSD); %></small><br/>
   <% } %>
   <% if ( a.state.collateralRatio != undefined ) { %>
   Collateral Ratio: <%= uiTool.presentFloat(a.state.collateralRatio) %><br/>
   <% } %>
   <small><%= uiTool.currencyFormat(a.state.balanceUSD); %></small>
 </td>
</tr>

<% } %>
<% if ( a.state.transferable && ( a.state.transferable != a.state.balance ) ) { %>
<tr>
 <td width="40%" align=left>Transferable:</td>
 <td width="60%" align=right><%= uiTool.presentFloat(a.state.transferable) %> <%= a.assetName; %><br/><small><%= uiTool.currencyFormat(a.state.transferableUSD); %></small>
 </td>
</tr>
<% } %>

<% if ( a.state.reserved ) { %>
<tr>
 <td width="40%" align=left>Reserved balance:</td>
 <td width="60%" align=right><%= uiTool.presentFloat(a.state.reserved) %> <%= a.assetName; %><br/><small><%= uiTool.currencyFormat(a.state.reservedUSD); %></small></td>
</tr>
<% } %>

<% if ( a.state.miscFrozen ) { %>
<tr>
 <td width="40%" align=left>Misc Frozen:</td>
 <td width="60%" align=right><%= uiTool.presentFloat(a.state.miscFrozen); %> <%= a.assetName; %><br/><small><%= uiTool.currencyFormat(a.state.miscFrozenUSD); %></small></td>
</tr>
<% } %>
<% if ( a.state.frozen ) { %>
<tr>
 <td width="40%" align=left>Frozen:</td>
 <td width="60%" align=right><%= uiTool.presentFloat(a.state.frozen); %><%= a.assetName; %><br/><small><%= uiTool.currencyFormat(a.state.frozenUSD); %></small></td>
</tr>
<% } %>

<% } %>
</table>
</div>

</div>
