<%- include('header', {chainInfo: chainInfo, title: "Top Accounts"}); %>


<select class="select" id="topN">
        <% for ( const f of topNfilters ) {
	   let sel = ( f.filter == topN ) ? " SELECTED" : ""; %>
	     <option value="<%= f.filter %>"<%= sel; %>><%= f.display; %></option>
	<% } %>
</select>

<table id="tableaddresstopn" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>Account Balance (USD)</th>
          <th id="topnhdr">Value</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var topNfilters = <%- JSON.stringify(topNfilters) %>;
</script>
<script src="/addresstopn.js"></script>
