<%- include('header', {chainInfo: chainInfo, title: "Account"}); %>

<script src="/ethers-5.2.umd.min.js"></script>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2  text-center">
      <%- uiTool.presentBlockiesOrIdenticon(address); %><br/>
      <% if ( contract ) { %>
          <%- contract.assetType %>
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
	<% if ( contract ) { %>
	Contract <%- contract.asset; %>
	<% } else { %>
	Address	<%- address; %>
	<% } %>
	</h5>
	<% if ( account.nickname ) { suggest = false; %>
	  <B><%= account.nickname %></B><br/>
	<% } else if ( account.subName ) { suggest = false; %>
	  <B><%= account.subName %></B>
	  <% if ( account.parent ) { suggest = false; %>
	  (<a href='/account/<%= account.parent; %>'>parent identity</a>)<br/>
	  <% } %>
        <% } %>

        <table class="table table-hover table-bordered">
	<% if ( contract ) { %>
	<% if ( contract.assetName ) { %>
	<tr>
		<td>Name:</td>
		<td><%- contract.assetName %></td>
	</tr>
	<% } %>
	<tr>
		<td>Chain:</td>
		<td><%- uiTool.presentChain(contract.chainID, contract.chainName); %></td>
	</tr>
	<% } %>
	<% if ( contract && contract.assetType == "ERC20LP" ) { %>
	<tr>
	   <td>Token Pair:</td>
	   <td><a href='/address/<%- contract.token0 %>'><%- uiTool.getShortHash(contract.token0) %></a> / <a href='/address/<%- contract.token1 %>'><%- uiTool.getShortHash(contract.token1) %></a></td>
	</tr>
	   <%
	   let t0 = query.assetInfo[paraTool.makeAssetChain(contract.token0, contract.chainID)];
	   let t1 = query.assetInfo[paraTool.makeAssetChain(contract.token1, contract.chainID)];
	   %>
	  <% if ( t0 && t1 ) { %>
	<tr>
	   <td>Token Symbol:</td>
	   <td><%- include("symbollink", {assetInfo: t0}) %> / <%- include("symbollink", {assetInfo: t1}) %> </td>
	</tr>
  	   <% } %>
	<% } %>
	<% if ( contract && contract.creator && contract.createdAtTx ) {%>
	<tr>
	   <td>Contract Creator:</td>
	   <td><%- uiTool.presentERCID(contract.creator) %> at txn <%- uiTool.presentTx(contract.createdAtTx) %></td>
	</tr>
	<% } %>
	<% if ( contract && ( contract.assetType == "ERC20" ) ) { %>
	<tr>
<td>Token Symbol:</td>
		<td><%- contract.symbol; %></td>
	</tr>
	<% } %>
	<tr>
		<td>Tokens:</td>
		<td><%- include("addressTokens", { account }) %></td>
	</tr>
	</table>

      </div>
    </div>
  </div>
</div>

<div id="unfinalized">
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" style="font-size:1rem" id="accountTab" role="tablist">
<%
let tabs = [
{ title: "Transactions", target: "evmtxs" },
{ title: "XCM Transfers", target: "xcmtransfers" },
];

if ( contract ) {
  tabs.splice(1, 0, { title: "Internal Txns", target: "transfers" });
  tabs.splice(2, 0, { title: "ERC20 Token Txns", target: "erc20" });
  tabs.splice(3, 0, { title: "Contract", target: "contract" });
}

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="evmtxs" role="tabpanel" aria-labelledby="evmtxs-tab">
    <table id="tableevmtxs" class="display" style='width: 100%'>
      <thead>
        <tr>
      <th>Tx Hash</th>
      <th>Method</th>
      <th>Block</th>
      <th>Age</th>
      <th>From</th>
      <th>To</th>
      <th>Value</th>
      <th>Fee</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tab-pane" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
    <table id="tabletransfers" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Event ID</th>
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Amount (USD)</th>
          <th>Date</th>
          <th>Chain</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tab-pane" id="xcmtransfers" role="tabpanel" aria-labelledby="xcmtransfers-tab">
    <table id="tablexcmtransfers" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Extrinsic</th>
          <th>Amount Sent</th>
          <th>Value (USD)</th>
          <th>Sender</th>
          <th>Beneficiary</th>
          <th>From Chain</th>
          <th>To Chain</th>
          <th>Date</th>
          <th>Chain</th>
        </tr>
      </thead>
    </table>
  </div>
<% if ( contract ) { %>
  <div class="tab-pane" id="internal" role="tabpanel" aria-labelledby="internal-tab">
    <table id="tableinternal" class="display" style='width: 100%'>
      <thead>
        <tr>
         <th>Parent Tx Hash</th>
         <th>Block</th>
         <th>Date</th>
         <th>From</th>
         <th>To</th>
         <th>Value</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tab-pane" id="erc20" role="tabpanel" aria-labelledby="erc20-tab">
    <table id="tableerc20" class="display" style='width: 100%'>
      <thead>
        <tr>
         <th>Tx Hash</th>
         <th>Date</th>
         <th>From</th>
         <th>Type</th>
         <th>To</th>
         <th>Value</th>
         <th>Value USD</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane" id="contract" role="tabpanel" aria-labelledby="contract-tab">
  <div class="row w-100">
   <div class="col-2">
    <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-tabs-code-tab" data-mdb-toggle="tab" href="#v-tabs-code" role="tab" aria-controls="v-tabs-code" aria-selected="true">Code</a>
      <a class="nav-link" id="v-tabs-read-tab"     data-mdb-toggle="tab" href="#v-tabs-read" role="tab" aria-controls="v-tabs-read" aria-selected="false">Read Contract</a>
      <a class="nav-link" id="v-tabs-write-tab"    data-mdb-toggle="tab" href="#v-tabs-write" role="tab" aria-controls="v-tabs-write" aria-selected="false">Write Contract</a>
    </div>
   </div>
   <div class="col-10">
    <div class="tab-content" id="v-tabs-tabContent">
      <div class="tab-pane fade show active" id="v-tabs-code" role="tabpanel" aria-labelledby="v-tabs-code-tab"></div>
      <div class="tab-pane fade" id="v-tabs-read" role="tabpanel" aria-labelledby="v-tabs-read-tab"></div>
      <div class="tab-pane fade" id="v-tabs-write" role="tabpanel" aria-labelledby="v-tabs-write-tab"></div>
    </div>
   </div>
  </div>
  </div>
<% } %>
</div>

<script>
let address = '<%= address; %>';
let chainID = '<%= chainID; %>';
let chain = <%- JSON.stringify(chain); %>;
let requestedChainAddress = '<%= address; %>';
let tabs = <%- JSON.stringify(tabs); %>;
let chainListStr = '<%= chainListStr; %>';
let isEVM = 1;
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/accountui.js"></script>
<script src="/addressui.js"></script>
<script src="/address.js"></script>
