<%- include('header', {chainInfo: chainInfo, title: "Account API Keys"}); %>

<div class="card">
  <div class="card-body">
   <h5 class="card-title">Your Account API Keys</h5>

   <% if ( apikeys.length >0 ) { %>
   <table class="table table-striped table-hover">
   <thead>
       <tr>
             <td class='tdc'>API Key</td>
             <td class='tdc'>Plan</td>
             <td class='tdc'>Created</td>
             <td class='tdc'>Action</td>
       </tr>
   </thead>
   <tbody>
   <%
     for ( var i = 0; i < apikeys.length ; i++) {
       let apikey = apikeys[i].apikey;
       let createDT = apikeys[i].createDT;
       let planID = apikeys[i].planID;
       let plan = plans[planID] ? plans[planID] : { "name": "FREE - Unk", "minuteLimit": 600, "monthlyUSD": 0 };
       let monthlyUSD = plan.monthlyUSD;
       let qps = plan.minuteLimit / 60;
        %>
             <tr>
               <td>
                 <code><%= apikey; %></a>
               </td>
               <td>
                 <%= plan.planName; %> (<%= qps; %> QPS, $<%= monthlyUSD %>/mo)
               </td>
               <td>
                 <%= createDT; %>
               </td>
               <td>
                 <a href='/apikeys/delete/<%= apikey; %>'>Delete</a>
               </td>
             </tr>
   <% } %>
   </tbody>
   </table>
   <% } else { %>
      You have no API Keys.  <a href='/apikeys/create'>Create one!</a>
   <% }  %>

   If you would like a customized plan, contact <a href='mailto:info@polkaholic.io'>info@polkaholic.io</a>
  </div>
</div>

<%- include('footer'); %>
