<div>
<h4>Trading Pairs</h4>
<table>
<tr><th>Chain</th><th>Trading Pair</th></tr>
<% for (var i = 0; i < assetpairs.length; i++) {
     let c = assetpairs[i];
     let asset = JSON.parse(c.asset);
     let assetP = uiTool.presentTokenAsset(asset);
     %>
 <tr>
   <td class='tdc'><a href='/blocks/<%= c.chainID %>'><%= uiTool.presentChain(c.chainID); %></a></td>
   <td class='tdc'><a href='/assetpair/<%= assetP %>'> <%= assetP; %></a></td>

   <td class='tdc' align=right>
   <% if ( c.close ) { %>
   <%= uiTool.presentFloat(c.close, 5); %>
   <% } %>
   </td>
 </tr>
<%

  } %>
</table>

</div>
