<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `System Contracts` }); %>


<%
let relayChain = chain.relayChain;
let paraID = chain.paraID;
let id = chain.id;
%>
<div class="alert" role="alert" data-mdb-color="warning">
    <i class="fas fa-exclamation-triangle"></i>NEW! You can obtain the <a href="https://github.com/colorfulnotion/xcm-global-registry/blob/main/metadata/xcmgar.json">XCM Global Asset Registry</a> from BigQuery in the <a href='https://github.com/colorfulnotion/substrate-etl/'>substrate-etl</a> project -- see <a href="https://github.com/colorfulnotion/substrate-etl/blob/main/schema/assets.json">assets</a> and <a href="https://github.com/colorfulnotion/substrate-etl/blob/main/schema/xcmassets.json">xcmassets</a> Schema 
</div>


<table id="tableassets" class="display" style='width: 100%'>
    <thead>
    <tr>
      <th scope="col">Contract Address</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>

<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
var assetType = '<%- assetType; %>';
$(document).ready(function() {
  showassets(id, assetType);
})
</script>
<script src="/chainui.js"></script>

