<%- include('header', {chainInfo: chainInfo, title: "Asset"}); %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Polkaholic</a></li>
    <li class="breadcrumb-item"><img src="<%= asset.iconUrl; %>" width="20"/><a href='/chain/<%= asset.id; %>#xcmassets'><%= asset.chainName; %> [Chain <%= asset.chainID %> : <%= asset.id %>]</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= asset.assetName; %></li>
  </ol>
</nav>

<table class="table table-hover table-bordered">
  <tbody>
  <% if ( asset.currencyID ) { %>
    <tr>
      <td width="200">Currency ID</td>
      <td>
        <%= asset.currencyID %>
      </td>
    </tr>
  <% } %>
    <tr>
      <td width="200">Asset Type</td>
      <td>
        <%= asset.assetType %>
      </td>
    </tr>
    <tr>
      <td>Asset Name</td>
      <td>
        <%= asset.assetName %>
      </td>
    </tr>

    <tr>
      <td>Symbol</td>
      <td><a href="/symbol/<%= asset.symbol %>"><%= asset.symbol %></a></td>
    </tr>

    <tr>
      <td>Decimals</td>
      <td><%= asset.decimals; %></td>
    </tr>
<% if ( asset.xcContractAddress ) { %>
    <tr>
      <td>Contract Address</td>
      <td><a href='/address/<%= asset.xcContractAddress; %>'><%- uiTool.getShortHash(asset.xcContractAddress, false); %></a></td>
    </tr>
<% } %>
<% if ( asset.priceUSD >= 0 ) { %>
    <tr>
      <td>Current Price</td>
      <td><%- uiTool.currencyFormat(asset.priceUSD); %></td>
    </tr>
<% } %>
</table>

<div class="row">
<%
let symbol = false;
for ( let k = 0; k < asset.length ; k++) {
  let a = asset[k];
  if ( ! symbol ) symbol = a.symbol;
%>
  <div class="col-sm-3">
   <%- include("assetstats", { asset: a }); %>
  </div>
<%
}

let a = asset;
if ( a.assetType == "ERC20LP" || a.assetType == "LiquidityPair" ) {
%>
  <div class="col-sm-2">
   <%- include("assetpair", { chainID: a.chainID, asset: a.token0, symbol: a.token0Symbol, decimals: a.token0Decimals, supply: a.token0Supply }); %>
  </div>
  <div class="col-sm-2">
   <%- include("assetpair", { chainID: a.chainID, asset: a.token1, symbol: a.token1Symbol, decimals: a.token1Decimals, supply: a.token1Supply }); %>
  </div>
  <div class="col-sm-1">
    <div class="card text-white bg-info" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-title"><%- uiTool.presentAssetPairChart(asset.assetChain); %></h6>
      </div>
    </div>
  </div>
<%
}
%>

</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="assetTab" role="tablist">
<%
let tabs = [
  { title: "Your Holdings", target: "accountassets" },
  { title: "Liquidity Pairs", target: "assetsrelated" },
  { title: "Top 1K Holders", target: "assetholders" }
];
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane" id="accountassets" role="tabpanel" aria-labelledby="accountassets-tab">
    <table id="tableaccountassets" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Your Account</th>
          <th>Your Holdings</th>
          <th>Value (USD)</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane" id="assetsrelated" role="tabpanel" aria-labelledby="assetsrelated-tab">
    <table id="tableassetsrelated" class="display" style='width: 100%'>
    <thead>
    <tr>
      <th scope="col">Asset</th>
      <th scope="col">Your Holdings</th>
      <th scope="col">Decimals</th>
      <th scope="col"># Holders</th>
      <th scope="col">Current Price (USD)</th>
      <th scope="col">Total Free</th>
      <th scope="col">TVL</th>
    </tr>
    </thead>
    </table>
  </div>

  <div class="tab-pane" id="assetholders" role="tabpanel" aria-labelledby="assetholders-tab">
    <table id="tableassetholders" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Account</th>
          <th># (State)</th>
          <th>Balance (USD)</th>
        </tr>
      </thead>
    </table>
  </div>
  
  <div class="tab-pane" id="assethistory" role="tabpanel" aria-labelledby="history-tab">
    <div id="container" class="chart"></div>
  </div>

</div>

<script>
var chainID = '<%- chainID; %>';
var currencyID = '<%- currencyID; %>';
var asset = '<%- asset.asset; %>';
var tabs = <%- JSON.stringify(tabs); %>;
var accounts = <%- JSON.stringify(accounts); %>;
</script>
<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/assetui.js"></script>
<script src="/asset.js"></script>
