<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `Recent Blocks` }); %>

<%- include('substrateetlalert', { chain: chain }); %>
<table id="tablerecentblocks" class="display" style='width: 100%'>
  <thead>
    <tr class="tableheader">
      <th scope="col"><%- include("tooltip", {k: "block"}) %>Block #</th>
      <th scope="col"><%- include("tooltip", {k: "blockhash"}) %>Block Hash</th>
      <th scope="col"><%- include("tooltip", {k: "blocktimestamp"}) %>Time</th>
<% if ( chain.isEVM ) { %>
      <th scope="col"><%- include("tooltip", {k: "evmtransactions"}) %># EVM Txs</th>
      <th scope="col"><%- include("tooltip", {k: "blockgasused"}) %>Gas Used</th>
<% } else { %>
      <th scope="col"><%- include("tooltip", {k: "extrinsics"}) %># Extrinsics</th>
      <th scope="col"><%- include("tooltip", {k: "signedextrinsics"}) %># Signed</th>
<% } %>
      <th scope="col"><%- include("tooltip", {k: "xcmtransfers"}) %># XCM Txs</th>
      <th scole="col"><%- include("tooltip", {k: "events"}) %># Events</th>
      <th scope="col"><%- include("tooltip", {k: "transfers"}) %># Transfers</th>
      <th scole="col"><%- include("tooltip", {k: "valuetransfers"}) %>Value of Transfers (USD)</th>
    </tr>
  </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showrecentblocks(id);
  setupapidocs("chain", "recentblocks", `${id}`);
})
</script>
<script src="/chainui.js"></script>

