<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Block` }); %>
<%
  let prevBlockUrl = `/block/${id}/${blockNumber - 1}`;
  let nextBlockUrl = `/block/${id}/${blockNumber + 1}`;
%>
<%- include('chainheader', { chain: chain, title: `Block ${blockNumber}` }); %>

<table class="table table-hover table-bordered">
  <tr>
    <td>Block</td>
    <td>
      <a href='<%= prevBlockUrl; %>' class="btn btn-link btn-sm">&lt;</a>
      <span class="font-weight-bold"><%= b.number %></span>
      <a href='<%= nextBlockUrl; %>' class="btn btn-link btn-sm">&gt;</a>
    </td>
  </tr>
  <tr>
    <td>Finalized</td>
    <td><span id="status"><%- include("finalized", {finalized: b.finalized}); %></span></td>
  </tr>
  <tr>
    <td>Hash</td>
    <td>
      <%- uiTool.getFullHash(b.hash); %>
    </td>
  </tr>
  <tr>
    <td>Parent Hash</td>
    <td>
      <%- uiTool.getFullHash(b.header.parentHash); %>
    </td>
  </tr>
  <tr>
    <td>State Root</td>
    <td>
      <%- uiTool.getFullHash(b.header.stateRoot); %>
    </td>
  </tr>
  <% if (b.author){  %>
  <tr>
    <td>Author</td>
    <td>
      <img src="/identicon/<%= b.author; %>" class="rounded-start"  width="25px"  loading="lazy"/>
      <a href='/account/<%= paraTool.getPubKey(b.author) %>'>
        <code><%= b.author; %></code>
      </a>
       <%- uiTool.showAccountInfo(b, "authorAddress") %>
     </td>
  </tr>
<% } %>
  <tr>
    <td>Timestamp</td>
    <td class='date'><%= uiTool.presentTS(b.blockTS); %></td>
  </tr>
  <tr>
    <td>Block Time</td>
    <td class='date'><%= uiTool.presentSecondsAgoTS(b.blockTS); %></td>
  </tr>
  <tr>
    <td>Spec Version</td>
    <td>
      <%- uiTool.presentSpecVersion(id, b.specVersion); %>
    </td>
  </tr>
  <tr>
    <td>Trace</td>
    <td>
      <%- uiTool.presentTrace(id, blockNumber, b.hash); %>
    </td>
  </tr>
  <tr>
    <td>Compare to</td>
    <td>
    <%
    let endpoints = uiTool.getPublicWSEndpoints(chain);
    let polkadotJSURL = `https://polkadot.js.org/apps/?rpc=${encodeURIComponent(endpoints[0])}#/explorer/query/${b.hash}`; %>
      <a href='<%= polkadotJSURL; %>' target='_new'><img src="https://cdn.polkaholic.io/polkadotjs.svg" width="16"></a>
      <% if ( chain.subscanURL ) {
         let subscanURL = `${chain.subscanURL}/block/${blockNumber}`;
         %>
      <a href='<%- subscanURL; %>' target='_new'><img src="https://cdn.polkaholic.io/subscan.svg" width="16"></a>
      <% } %>
      <% if ( chainID && (chainID == 2004 || chainID == 22023)) {
         let externalURL = (chainID == 2004)? `https://moonscan.io` : `https://moonriver.moonscan.io`
         let imgURL = (chainID == 2004) ? "https://cdn.polkaholic.io/moonscan.svg" : "https://cdn.polkaholic.io/moonriverscan.svg"
         let txURL = `${externalURL}/block/${b.hash}`;
         %>
      <a href="<%= txURL; %>" target="_new"><img src="<%= imgURL; %>" width="16"></a>
      <% }%>
      <% if ( chainID && (chainID == 2006 || chainID == 22007)) {
         let externalURL = (chainID == 2006)? `https://blockscout.com/astar` : `https://blockscout.com/shiden`
         let imgURL = "https://cdn.polkaholic.io/blockscout.png"
         let txURL = `${externalURL}/block/${b.hash}`;
         %>
      <a href="<%= txURL; %>" target="_new"><img src="<%= imgURL; %>" width="16"></a>
      <% }%>
    </td>

  </tr>
</table>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="blockTab" role="tablist">
  <%
let tabs = [
{ title: "Extrinsics", target: "extrinsics" },
{ title: "Events", target: "events" }
]
if ( b.evmBlock ) {
   let evmtabs = [
    { title: "EVM Transactions", target: "evmtxs" },
    { title: "EVM Header", target: "evmheader" }
   ];
   tabs = evmtabs.concat(tabs);
}

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
  <%
}

%>
</ul>

<div class="tab-content">
  <%
  let defHash = "extrinsics";
  if ( b.evmBlock ) {
        defHash = "evmtxs";   %>
  <%- include("evmBlock", {block: b.evmBlock, chainID: chainID}); %>
  <% } %>
  <%- include("blockextrinsics", {chainID: chainID, id:id, extrinsics: b.extrinsics }); %>
  <%- include("blockevents", {chainID: chainID, id: id, extrinsics: b.extrinsics }); %>
</div>

<script src="/block.js"></script>
<script>
  let chainID = <%= chainID %> ;
  let id = '<%- id; %>';
  let blockNumber = <%= blockNumber %>;
  let tabs = <%- JSON.stringify(tabs); %> ;
  <% if ( ! b.finalized ) { %>
    let blockHash = '<%= blockHash %>';
    showblockstatus("<%= b.hash; %>");
  <% } else { %>
    let blockHash = '';
  <% } %>
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
