<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `Summary` }); %>

<% if ( chain.crawlingStatus.length > 0 ) { %>
<div class="alert" role="alert" data-mdb-color="warning">
  <i class="fas fa-exclamation-triangle"></i> Warning: <%= chain.crawlingStatus; %>
</div>
<% } %>


<%- include('chainstats', {chain: chain}); %>

<ul class="nav nav-tabs" id="chainTab" role="tablist">
<%
let tabs = [
{ title: "Recent Blocks", target: "recentblocks" },
{ title: "XCM Assets", target: "xcmassets" },
//{ title: "Tokens", target: "tokens" },
{ title: "XCM Transfers", target: "xcmtransfers" },
{ title: "XCM Messages", target: "xcmmessages" },
{ title: "Projects", target: "routers" },
{ title: "Pools", target: "pools" },
{ title: "Daily Log", target: "chainlog" },
{ title: "Spec Versions", target: "specversions" },
{ title: "Chain Info", target: "chaininfo" }
];

if ( chain.isWASM ) {
  tabs.splice(1, 0, { title: "Contracts", target: "wasmcontracts", func: "showwasmcontracts" });
  tabs.splice(2, 0, { title: "Code", target: "wasmcode", func: "showwasmcode" });
}

if ( chain.chainID > 2 ) {
  tabs.splice(4, 0, { title: "Channels", target: "channels" });
}

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="recentblocks" role="tabpanel" aria-labelledby="recentblocks-tab">
<table id="tablerecentblocks" class="display" style='width: 100%'>
  <thead>
    <tr class="tableheader">
      <th scope="col"><%- include("tooltip", {k: "block"}) %>Block #</th>
      <th scope="col"><%- include("tooltip", {k: "blockhash"}) %>Block Hash</th>
      <th scope="col"><%- include("tooltip", {k: "blocktimestamp"}) %>Time</th>
<% if ( chain.isEVM ) { %>
      <th scope="col"><%- include("tooltip", {k: "evmtransactions"}) %># EVM Txs</th>
      <th scope="col"><%- include("tooltip", {k: "blockgasused"}) %>Gas Used</th>
<% } else { %>
      <th scope="col"><%- include("tooltip", {k: "extrinsics"}) %># Extrinsics</th>
      <th scope="col"><%- include("tooltip", {k: "signedextrinsics"}) %># Signed</th>
<% } %>
      <th scope="col"><%- include("tooltip", {k: "xcmtransfers"}) %># XCM Txs</th>
      <th scole="col"><%- include("tooltip", {k: "events"}) %># Events</th>
      <th scope="col"><%- include("tooltip", {k: "transfers"}) %># Transfers</th>
      <th scole="col"><%- include("tooltip", {k: "valuetransfers"}) %>Value of Transfers (USD)</th>
    </tr>
  </thead>
</table>
</div>

<% if ( chain.isWASM ) { %>
<div class="tab-pane" id="wasmcontracts" role="tabpanel" aria-labelledby="wasmcontracts-tab">
    <table id="tablewasmcontracts" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "wasmcontractaddress"}) %>Contract Address</th>
          <th><%- include("tooltip", {k: "wasmcontractstatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "wasmcontractdeployer"}) %>Deployer</th>
          <th><%- include("tooltip", {k: "wasmcodehash"}) %>Code Hash</th>
          <th><%- include("tooltip", {k: "wasmcontractinstantied"}) %>Instantiated</th>
          <th><%- include("tooltip", {k: "wasmcontracttimestamp"}) %>Date</th>
        </tr>
      </thead>
    </table>
</div>

<div class="tab-pane" id="wasmcode" role="tabpanel" aria-labelledby="wasmcode-tab">
    <table id="tablewasmcode" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "wasmcodehash"}) %>Code Hash</th>
          <th><%- include("tooltip", {k: "wasmcodestatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "wasmcodestorer"}) %>Storer</th>
          <th><%- include("tooltip", {k: "wasmcodestored"}) %>Stored</th>
          <th><%- include("tooltip", {k: "wasmcodelanguage"}) %>Language</th>
          <th><%- include("tooltip", {k: "wasmcodecompiler"}) %>Compiler</th>
          <th><%- include("tooltip", {k: "wasmcodetimestamp"}) %>Date</th>
        </tr>
      </thead>
    </table>
</div>
<% } %>

<div class="tab-pane" id="xcmtransfers" role="tabpanel" aria-labelledby="xcmtransfers-tab">
    <table id="tablexcmtransfers" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "module"}) %>Section:Method</th>
          <th><%- include("tooltip", {k: "amountsent"}) %>Amount Sent</th>
          <th><%- include("tooltip", {k: "valueusd"}) %>Value (USD)</th>
          <th><%- include("tooltip", {k: "sender"}) %>Sender</th>
          <th><%- include("tooltip", {k: "beneficiary"}) %>Beneficiary</th>
          <th><%- include("tooltip", {k: "origination"}) %>From Chain/Extrinsic ID</th>
          <th><%- include("tooltip", {k: "destination"}) %>To Chain</th>
          <th><%- include("tooltip", {k: "txtimestamp"}) %>Date</th>
          <th><%- include("tooltip", {k: "relaychain"}) %>Relay</th>
        </tr>
      </thead>
    </table>
</div>

<div class="tab-pane" id="xcmmessages" role="tabpanel" aria-labelledby="xcmmessages-tab">
    <table id="tablexcmmessages" class="display" style="width: 100%">
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "xcmmessagehash"}) %>MsgHash</th>
	  <th><%- include("tooltip", {k: "extrinsicid"}) %>Extrinsic</th>
	  <th><%- include("tooltip", {k: "xcmmessagetype"}) %>Msg Type</th>
	  <th><%- include("tooltip", {k: "origination"}) %>Sent</th>
	  <th><%- include("tooltip", {k: "destination"}) %>Received</th>
          <th><%- include("tooltip", {k: "assets"}) %>Assets Received/Instructions</th>
          <th><%- include("tooltip", {k: "beneficiary"}) %>Beneficiary</th>
	  <th><%- include("tooltip", {k: "executionstatus"}) %>Execution</th>
        </tr>
      </thead>
    </table>
</div>

<div class="tab-pane" id="xcmassets" role="tabpanel" aria-labelledby="xcmassets-tab">
<table id="tablexcmassets" class="display" style='width: 100%'>
  <thead>
    <tr class="tableheader">
      <th scope="col"><%- include("tooltip", {k: "assets"}) %>Asset</th>
      <th scope="col"><%- include("tooltip", {k: "holdings"}) %>Chain-Specific Holdings</th>
      <th scope="col"><%- include("tooltip", {k: "currencyid"}) %>CurrencyID</th>
      <th scope="col"><%- include("tooltip", {k: "numholders"}) %># Holders</th>
      <th scope="col"><%- include("tooltip", {k: "price"}) %>Price</th>
      <th scope="col"><%- include("tooltip", {k: "free"}) %>Total Free</th>
      <th scope="col"><%- include("tooltip", {k: "tvlfree"}) %>TVL Free</th>
      <th scope="col"><%- include("tooltip", {k: "reserved"}) %>Total Reserved</th>
      <th scope="col"><%- include("tooltip", {k: "tvlreserved"}) %>TVL Reserved</th>
      <th scope="col"><%- include("tooltip", {k: "relaychain"}) %>Relay Chain</th>
    </tr>
  </thead>
</table>
</div>

 <%- include("tokenstab", {}) %>
 <%- include("routerstab", {}) %>
 <%- include("poolstab", {}) %>


<div class="tab-pane" id="chainpending" role="tabpanel" aria-labelledby="chainpending-tab">
  <table>
    <thead>
        <tr>
          <th>ExtrinsicHash</th>
          <th>Action</th>
          <th>Result</th>
          <th>From</th>
          <th>Params</th>
        </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="chainlog" role="tabpanel" aria-labelledby="chainlog-tab">
  <div class="alert" role="alert" data-mdb-color="warning">
    <i class="fas fa-exclamation-triangle"></i>This is a new feature under active development; data is being indexed.
  </div>
  <table id="tablechainlog" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th>Date</th>
          <th># Active Accounts</th>
          <th># Holders</th>
          <th># Signed Extrinsics</th>
          <th># EVM Txs</th>
          <th># Transfers</th>
          <th>Value Transfers-USD</th>
          <th>Fees (Native Token)</th>
          <th>XCM Transfers In</th>
          <th>XCM Transfers Out</th>
          <th>XCM Transfers In-USD</th>
          <th>XCM Transfers Out-USD</th>
          <th>XCM Messages In</th>
          <th>XCM Messages Out</th>
        </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="specversions" role="tabpanel" aria-labelledby="specversions-tab">
  <table id="tablespecversions" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th><%- include("tooltip", {k: "specversion"}) %>Spec Version</th>
          <th><%- include("tooltip", {k: "block"}) %>Block Number</th>
          <th><%- include("tooltip", {k: "blockhash"}) %>Block Hash</th>
          <th><%- include("tooltip", {k: "specversionfirstseen"}) %>First Seen</th>
        </tr>
    </thead>
  </table>
</div>


<div class="tab-pane" id="channels" role="tabpanel" aria-labelledby="channels-tab">
  <div class="alert" role="alert" data-mdb-color="warning">
    <i class="fas fa-exclamation-triangle"></i>This is a new feature under active development; data is being indexed.
  </div>
  <table id="tablechannels" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th><%- include("tooltip", {k: "channelsender"}) %>Sender</th>
          <th><%- include("tooltip", {k: "channelrecipient"}) %>Recipient</th>
          <th><%- include("tooltip", {k: "channelstatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "channelrequest"}) %>Request</th>
          <th><%- include("tooltip", {k: "channelaccepted"}) %>Accepted</th>
          <th><%- include("tooltip", {k: "channelsymbols"}) %>Symbols</th>
          <th><%- include("tooltip", {k: "channelmessagessent"}) %>Num Messages Sent 7d </th>
          <th><%- include("tooltip", {k: "channelvalueused"}) %>Val Messages Sent 7d (USD)</th>
        </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="chaininfo" role="tabpanel" aria-labelledby="chaininfo-tab">
  <table>
   <tr>
    <th scope="col">ChainID</th><td><%= chain.chainID %></td>
   </tr>
   <tr>
    <th scope="col">ID</th><td><%= chain.id %></td>
   </tr>
   <tr>
    <th scope="col">Latest Block</th><td><%= chain.blocksCovered %> <%- uiTool.presentTS(chain.lastCrawlTS); %></td>
   </tr>
   <tr>
    <th scope="col">Blocks Finalized</th><td><%= chain.blocksFinalized %> <%- uiTool.presentTS(chain.lastFinalizedTS); %></td>
   </tr>
   <tr>
    <th scope="col">Public WS Endpoint(s)</th>
    <td>
   <%
   let traceCoverage = ( chain.blocksFinalized > 0 ) ? 100.0 * chain.numTraces / chain.blocksFinalized : 0;
    let endpoints = uiTool.getPublicWSEndpoints(chain);
    let endpointlinks = endpoints.map( (e) => {
       return  `<a href='https://polkadot.js.org/apps/?rpc=${encodeURIComponent(e)}' target='_new'>${e}</a>`
   });
   %>
   <%- endpointlinks.join(" | ") %>
    </td>
   </tr>
   <tr>
    <th scope="col">Trace Coverage</th><td><%= chain.numTraces %> traces (<%= traceCoverage; %>%)</td>
   </tr>
   <tr>
    <th scope="col">SS58 Prefix</th><td><%= chain.ss58Format %></td>
   </tr>
   <tr>
    <th scope="col">EVM</th><td><%= chain.isEVM; %></td>
   </tr>
   <tr>
    <th scope="col">Asset Symbol</th><td><%= chain.symbol; %></td>
   </tr>
   <% if ( chain.githubURL ) { %>
   <tr>
    <th scope="col">Github URL</th><td><a href="<%= chain.githubURL; %>" target="_new"><%= chain.githubURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.parachainsURL ) { %>
   <tr>
    <th scope="col">Parachains.info</th><td><a href="<%= chain.parachainsURL; %>" target="_new"><%= chain.parachainsURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.substrateURL ) { %>
   <tr>
    <th scope="col">Substrate.io Marketplace</th><td><a href="<%= chain.substrateURL; %>" target="_new"><%= chain.substrateURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.subscanURL && false ) { %>
   <tr>
    <th scope="col">Subscan URL</th><td><a href="<%= chain.subscanURL; %>" target="_new"><%= chain.subscanURL; %></a></td>
   </tr>
   <% } %>
  </table>
</div>
</div>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
let tabs = <%- JSON.stringify(tabs); %>;
var accounts = <%- JSON.stringify(accounts); %>;
</script>
<script src="/chainui.js"></script>
<script src="/poolsui.js"></script>
<script src="/chain.js"></script>
