<%
function beautifyCamelCase(string) {
	 if ( string ) {
   	 	 return string.charAt(0).toUpperCase() + string.slice(1);
         }
}

%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Polkaholic</a></li>
    <li class="breadcrumb-item"><img src="<%= chain.iconUrl; %>" width="20"/><a href='/blocks/<%= chain.id; %>'><%- beautifyCamelCase(chain.chainName); %> [Chain <%= chain.chainID %> : <%= chain.id %>]</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= title; %></li>
  </ol>
</nav>
