<%- include('header', {chainInfo: chainInfo, title: "All Chains"}); %>

<span style='float:right; white-space: nowrap; width: 200px; font-size: 8pt;'>Relay chain filter:<select name="relaychain" id="relaychain" class="select" data-mdb-option-height="44">
  <option value="all" data-mdb-secondary-text="All Parachains" <%=  ( relaychain == "" ) ? "SELECTED": ""; %>>All</option>
  <option value="polkadot" data-mdb-secondary-text="Polkadot+Parachains" <%=  ( relaychain == "polkadot" ) ? "SELECTED": ""; %>>Polkadot</option>
  <option value="kusama" data-mdb-secondary-text="Kusama+Parachains" <%=  ( relaychain == "kusama" ) ? "SELECTED": ""; %>>Kusama</option>
</select></span>

<table id="tablechains" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Chain</th>
          <th>Symbol/Price</th>
          <th>Your Holdings</th>
          <th>Latest Block</th>
          <th>Latest Finalized</th>
          <th>Avg DAU (7d)</th>
          <th>XCM Transfers In (7d)</th>
          <th>XCM Transfers Out (7d)</th>
          <th>Relay</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var relaychainfilter = "";
var accounts = <%- JSON.stringify(accounts); %>;
$(document).ready(function() {
show_chains()
})
</script>

<script src="/chainui.js"></script>
<script src="/chains.js"></script>
