<%- include('header', {chainInfo: chainInfo, skipSearch: true}); %>

<h4>Chain Administration</h4>
<form class="row g-3 needs-validation" novalidate="" action="/admin/chain" method="POST">
  <div class="col-md-12">
    <div class="form-outline">
      <input name="chainID" type="text" class="form-control" id="validationCustom01" value="<%= chain.chainID; %>" readonly>
      <label for="validationCustom01" class="form-label">chainID</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="chainName" type="text" class="form-control" id="validationCustom01" value="<%= chain.chainName; %>">
      <label for="validationCustom01" class="form-label">chainName</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="id" type="text" class="form-control" id="validationCustom01" value="<%= chain.id; %>">
      <label for="validationCustom01" class="form-label">id</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="prefix" type="number" class="form-control" value="<%= chain.prefix; %>">
      <label for="validationCustom01" class="form-label">prefix [eg 42]</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="asset" type="text" class="form-control" value="<%= chain.asset; %>">
      <label for="validationCustom01" class="form-label">asset</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="symbol" type="text" class="form-control" value="<%= chain.symbol; %>">
      <label for="validationCustom01" class="form-label">symbol</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="WSEndpoint" type="text" class="form-control" value="<%= chain.WSEndpoint; %>" placeholder="WSEndpoint">
      <label for="validationCustom03" class="form-label">WSEndpoint</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="WSEndpoint2" type="text" class="form-control" value="<%= chain.WSEndpoint2; %>" placeholder="WSEndpoint2">
      <label for="validationCustom03" class="form-label">WSEndpoint2</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-outline">
      <input name="WSEndpoint3" type="text" class="form-control" value="<%= chain.WSEndpoint3; %>" placeholder="WSEndpoint3">
      <label for="validationCustom03" class="form-label">WSEndpoint3</label>
    </div>
  </div>


  <div class="col-12">
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>

<script>
// disabling form submissions if there are invalid fields
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation');

// Loop over them and prevent submission
Array.prototype.slice.call(forms).forEach(function (form) {
 form.addEventListener( 'submit',
 function (event) {
  if (!form.checkValidity()) {
    event.preventDefault();
    event.stopPropagation();
  }
  form.classList.add('was-validated');
  console.log("VALID");
 },
 false);
});

</script>

<%- include('footer'); %>
