<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `Chain Info` }); %>

<%- include('chainstats', {chain: chain}); %>

<table>
   <tr>
    <th scope="col">ChainID</th><td><%= chain.chainID %></td>
   </tr>
   <tr>
    <th scope="col">ID</th><td><%= chain.id %></td>
   </tr>
   <tr>
    <th scope="col">Latest Block</th><td><%= chain.blocksCovered %> <%- uiTool.presentTS(chain.lastCrawlTS); %></td>
   </tr>
   <tr>
    <th scope="col">Blocks Finalized</th><td><%= chain.blocksFinalized %> <%- uiTool.presentTS(chain.lastFinalizedTS); %></td>
   </tr>
   <tr>
    <th scope="col">Public WS Endpoint(s)</th>
    <td>
   <%

    let endpoints = uiTool.getPublicWSEndpoints(chain);
    let endpointlinks = endpoints.map( (e) => {
       return  `<a href='https://polkadot.js.org/apps/?rpc=${encodeURIComponent(e)}' target='_new'>${e}</a>`
   });
   %>
   <%- endpointlinks.join(" | ") %>
    </td>
   </tr>
   <tr>
    <th scope="col">SS58 Prefix</th><td><%= chain.ss58Format %></td>
   </tr>
   <tr>
    <th scope="col">EVM</th><td><%= chain.isEVM; %></td>
   </tr>
   <tr>
    <th scope="col">Asset Symbol</th><td><%= chain.symbol; %></td>
   </tr>
   <% if ( chain.githubURL ) { %>
   <tr>
    <th scope="col">Github URL</th><td><a href="<%= chain.githubURL; %>" target="_new"><%= chain.githubURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.parachainsURL ) { %>
   <tr>
    <th scope="col">Parachains.info</th><td><a href="<%= chain.parachainsURL; %>" target="_new"><%= chain.parachainsURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.substrateURL ) { %>
   <tr>
    <th scope="col">Substrate.io Marketplace</th><td><a href="<%= chain.substrateURL; %>" target="_new"><%= chain.substrateURL; %></a></td>
   </tr>
   <% } %>
   <% if ( chain.subscanURL && false ) { %>
   <tr>
    <th scope="col">Subscan URL</th><td><a href="<%= chain.subscanURL; %>" target="_new"><%= chain.subscanURL; %></a></td>
   </tr>
   <% } %>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showchaininfo(id);
  setupapidocs("chain", "", `${id}`);
})
</script>
<script src="/chainui.js"></script>

