<%- include('header', {chainInfo: chainInfo}); %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="chainsTab" role="tablist">
<%
let tabs = [
{ title: "Chains", target: "chains", func: "showchainsadmin" }
];

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="chains" role="tabpanel" aria-labelledby="chains-tab">
    <table id="tablechains" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>RelayChain/ParaID</th>
          <th>Chain Name</th>
          <th>id</th>
          <th>prefix</th>
          <th>asset</th>
          <th>symbol</th>
          <th>WSEndpoints</th>
        </tr>
      </thead>
    </table>
  </div>
</div>


<%- include('footer', {apiUrl: ""}); %>
<script>
var relaychainfilter = "";
let tabs = <%- JSON.stringify(tabs); %>;
</script>
<script src="/chainsadmin.js"></script>
