<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>

<h5>XCM Channels</h5>

<table id="tablechannels" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th><%- include("tooltip", {k: "channelsender"}) %>Sender</th>
          <th><%- include("tooltip", {k: "channelrecipient"}) %>Recipient</th>
          <th><%- include("tooltip", {k: "channelstatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "channelrequest"}) %>Request</th>
          <th><%- include("tooltip", {k: "channelaccepted"}) %>Accepted</th>
          <th><%- include("tooltip", {k: "channelsymbols"}) %>Symbols</th>
          <th><%- include("tooltip", {k: "channelmessagessent"}) %>Num Messages Sent 7d </th>
          <th><%- include("tooltip", {k: "channelvalueused"}) %>Val Messages Sent 7d (USD)</th>
        </tr>
    </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>

<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showchannels(id);
})
</script>

<script src="/chainui.js"></script>
