<%- include('header', {chainInfo: chainInfo, title: "Asset"}); %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/xcmassets">Polkaholic XCM Assets</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= symbol; %></li>
  </ol>
</nav>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="channelTab" role="tablist">
<%
let tabs = [
  { title: "Daily Log", target: "xcmassetlog" },
  { title: "XCM Messages", target: "xcmmessages" },
];
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="xcmassetlog" role="tabpanel" aria-labelledby="xcmassetlog-tab">
    <table id="tablexcmassetlog" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Date</th>
          <th># XCM Transfers</th>
          <th>Value Transferred</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane" id="xcmmessages" role="tabpanel" aria-labelledby="xcmmessages-tab">
    <table id="tablexcmmessages" class="display" style="width: 100%">
      <thead>
        <tr>
	  <th>MsgHash</th>
	  <th>Extrinsic</th>
	  <th>Msg Type</th>
	  <th>Sent</th>
	  <th>Received</th>
          <th>Assets Received/Instructions</th>
          <th>Beneficiary</th>
	  <th>Execution</th>
        </tr>
      </thead>
    </table>
  </div>

</div>

<script>
var chainID = '<%- chainID; %>';
var chainIDDest = '<%- chainIDDest; %>';
var tabs = <%- JSON.stringify(tabs); %>;
var symbol = '<%- symbol; %>';
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/channel.js"></script>
<script src="/chainui.js"></script>
