<%- include('header', {chainInfo: chainInfo}); %>


<div class="card">
  <div class="card-body">
   <h5 class="card-title">Your Account API Keys</h5>

   <% if ( plan.length >0 ) { %>
   <table class="table table-striped table-hover">
   <thead>
       <tr>
             <td class='tdc'>Plan</td>
             <td class='tdc'>QPS</td>
             <td class='tdc'>Monthly Cost</td>
       </tr>
   </thead>
   <tbody>
   <%
     for ( var i = 0; i < plans.length ; i++) {
       let planID = i;
       let plan = plans[i];
       let name = plan.name;
       let monthlyUSD = plan.monthlyUSD;
       let qps = plan.minuteLimit / 60;
        %>
             <tr>
               <td>
                 <code><%= planID; %></a> <%= name %>
               </td>
               <td>
                 <%= qps; %> QPS
               </td>
               <td>
                 $<%= monthlyUSD; %> / mo
               </td>
               <td>
                 <a href='/changeplan/<%= apikey; %>/<%= planID; %>'>Select</a>
               </td>
             </tr>
   <% } %>
   </tbody>
   </table>
   <% } else { %>
      You have no API Keys.  <a href='/apikeys/create'>Create one!</a>
   <% }  %>

  </div>
</div>

<%- include('footer'); %>
