<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200">Code Hash</td>
      <td>
        <%- uiTool.getShortHash(f.codeHash, false) %>
      </td>
    </tr>

    <tr>
      <td>Created</td>
      <td>
	<%= uiTool.presentTS(f.blockTS); %>
      </td>
    </tr>

    <tr>
      <td>Salt</td>
      <td><%= f.salt %></td>
    </tr>

    <tr>
      <td>Deployer</td>
      <td><%= f.deployer %></td>
    </tr>

    <tr>
      <td>Chain</td>
      <td>
        <a href='/chain/<%= f.chainID; %>'><%= f.chainName; %></a>
        <%- include("blockNumber", {chainID: f.chainID, blockNumber: f.sourceBlocknumber}); %>
      </td>
    </tr>

    <tr>
      <td>Instantiated At</td>
      <td>
        <a href='/chain/<%= f.id; %>'><%= uiTool.capitalizeFirstLetter(f.chainName); %></a>
        <%- include("blockNumber", {chainID: f.chainID, blockNumber: f.instantiateBN}); %>
      </td>
    </tr>

    <tr>
      <td>Destination</td>
      <td>
        <a href='/chain/<%= f.chainIDDest; %>'><%= f.chainDestName; %></a>
        <%- include("blockNumber", {chainID: f.idDest, blockNumber: f.destBlocknumber}); %>
      </td>
    </tr>

    <tr>
      <td>Code</td>
      <td>
          <textarea>TODO
	  </textarea>
      </td>
    </tr>

    <tr>
      <td>Constructor</td>
      <td>
          <textarea>TODO
	  </textarea>
      </td>
    </tr>

    <tr>
      <td>Metadata</td>
      <td>
          <textarea>TODO
	  </textarea>
      </td>
    </tr>

</table>
