<%
let rjouter = "rjouter" + id;
let jhouter = "jhouter" + id;
let rj = "rj" + id;
let jh = "jh" + id;
let dec = "dec" + id;
let vc = "vc" + id;
let copyA = "ca" + id;
let copyB = "cb" + id;
%>
<div id="<%= rjouter; %>" style="display:none; overflow: hidden">
  <div id="<%= rj; %>" class="renderjson" style="overflow-y: scroll; max-width: 800px; max-height: 600px"></div>
  <button id="<%= dec %>" type="button" class="btn btn-link">View Decoded</button>
  <button id="<%= copyA %>" type="button" class="btn btn-link">Copy</button>
</div>
<div id="<%= jhouter; %>" style="display: block; overflow: hidden">
  <div id="<%= jh; %>" class="jsontable" style="overflow-y: scroll; max-width: 800px; max-height: 600px"></div>
  <button id="<%= vc %>" type="button" class="btn btn-link">View Raw</button>
  <button id="<%= copyB %>" type="button" class="btn btn-link">Copy</button>
<div>
<script>presentJSONObject(<%- JSON.stringify(obj) %>, "<%= id; %>");</script>

