<%
function parseEventID(eventID) {
    let ida = eventID.split("-");
    if (ida.length == 4) {
        let extrinsicID = `${ida[1]}-${ida[2]}`
        let eventIndex = ida[3];
        return [extrinsicID, eventIndex];
    }
    return [null, null];
}

    let title = "";
    let [extrinsicID, eventIndex] = parseEventID(eventID);
    if (extrinsicID && eventIndex) {
        title = `View ${extrinsicID} Event# ${eventIndex}`;
    } else {
        title = `View ${eventID}`
    }
%>
<div style='width:650px'>
    <a class="btn btn-outline-secondary btn-block text-capitalize" data-mdb-toggle="collapse" href="#data<%= eventID; %>" role="button" aria-control="data<%= eventID; %>" aria-expanded="false" style="text-align:left">
    <%= title %>
    </a>
    <div class="collapse mt-3 renderjson" id="data<%= eventID; %>"></div>
</div>
<script>
    document.getElementById('data<%= eventID; %>').addEventListener('show.bs.collapse', () => { fetcheventdata("<%= eventID; %>") } )
</script>

