<table class="table table-striped table-hover">
  <%
    function lowerCaseFirstLetter(string) {
        return string.charAt(0).toLowerCase() + string.slice(1);
    }
    for ( let i=0; i < events.length; i++) {
     let e = events[i];
     let eventIdx = i+1;
     let docs = (( e.docs ) && ( e.docs.length > 0 ))? e.docs: ''
     let pallet = e.section;
     let method = e.method;
     let pallet_method = `${lowerCaseFirstLetter(e.section)}(${e.method})` // hack
     let dataArr = e.data;
     let dataTypeArr = e.dataType;
     let decodedDataArr = e.decodedData;
     %>
    <tr>
      <td>Event <%= e.eventID %></td>
      <td><a href='/events/<%= chainID %>/<%= pallet; %>/<%- method %>' class="btn btn-outline-primary" style="text-transform: unset !important;" data-mdb-toggle="tooltip" title="<%= docs; %>"><%= pallet_method; %></a></td>
      <td><%- include("decode", {id: e.eventID, obj: decodedDataArr, verify: { verification: "event", blockNumber: blockNumber, eventID: e.eventID }, size: [] }); %></td>
    </tr>
  <% } %>
</table>
