<table>
<%
let maxLen = 15
let transfersLen = tx.transfers.length
for (let t = 0 ; t < transfersLen; t++) {
let tok = tx.transfers[t];
%>
<tr>
  <td>
    <b>From </b>
    <% if (transfersLen <= maxLen){  %>
    <%- uiTool.presentBlockiesOrIdenticon(tok.from, 15); %>
    <% } %>
    <a href='/account/<%= paraTool.getPubKey(tok.from) %>'><%- uiTool.getShortHash(tok.from, true, false) %>
    </a>
      &emsp;
  </td>
  <td><b>To </b>
    <% if (transfersLen <= maxLen){  %>
    <%- uiTool.presentBlockiesOrIdenticon(tok.to, 15); %>
    <% } %>
    <a href='/account/<%= paraTool.getPubKey(tok.to) %>'>
    <%- uiTool.getShortHash(tok.to, true, false) %>
    </a>
      &emsp;
  </td>
  <td>
    <b>For </b>
    <%- tok.value; %> <%- uiTool.presentERCToken(tok.tokenAddress, tok.assetInfo, false); %>
      &emsp;
  </td>
  <td>
  <%- uiTool.currencyFormat(tok.valueUSD, tok.priceUSD, tok.priceUSDCurrent, true, true) %>
  </td>
</tr>
<% } %>
</table>
