<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Block` }); %>
<%- include('chainheader', { chain: chain, title: `Block ${blockNumber}` }); %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="blockTab" role="tablist">
<%
let defHash = '#overview';
let tabs = [
{ title: "Overview", target: "overview" },
{ title: "Transactions", target: "evmtxs" },
{ title: "Extrinsics", target: "extrinsics" },
{ title: "Events", target: "events" },
]

if ( b.evmBlock.transactionsInternal && ( b.evmBlock.transactionsInternal.length > 0 ) ) {
  tabs.splice(2, 0, { title: "Internal Txns", target: "internal" });
}

if ( b.evmBlock.transactionsConnected && ( b.evmBlock.transactionsConnected.length > 0 ) ) {
  tabs.splice(2, 0, { title: "Remote Executions", target: "remote" });
}

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<div class="tab-content">
<%- include("evmBlockOverview", {chainID: chainID, id: id, block: b }); %>

<div class="tab-pane" id="evmtxs" role="tabpanel" aria-labelledby="evmtxs-tab">
  <table id="tableevmtxs" class="display" style="width: 100%">
    <thead>
    <tr class="tableheader">
      <th><%- include("tooltip", {k: "transactionhash"}) %>Tx Hash</th>
      <th><%- include("tooltip", {k: "method"}) %>Method</th>
      <th><%- include("tooltip", {k: "block"}) %>Block</th>
      <th><%- include("tooltip", {k: "blocktimestampago"}) %></th>
      <th><%- include("tooltip", {k: "txresult"}) %>Result</th>
      <th><%- include("tooltip", {k: "evmfrom"}) %>From</th>
      <th><%- include("tooltip", {k: "evmto"}) %>To</th>
      <th><%- include("tooltip", {k: "evmvalue"}) %>Value</th>
      <th><%- include("tooltip", {k: "txfees"}) %>Fee</th>
    </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="remote" role="tabpanel" aria-labelledby="remote-tab">
  <table id="tableremote" class="display" style="width: 100%">
    <thead>
    <tr class="tableheader">
      <th><%- include("tooltip", {k: "transactionhash"}) %>Tx Hash</th>
      <th><%- include("tooltip", {k: "method"}) %>Method</th>
      <th><%- include("tooltip", {k: "block"}) %>Block</th>
      <th><%- include("tooltip", {k: "blocktimestampago"}) %></th>
      <th><%- include("tooltip", {k: "txresult"}) %>Result</th>
      <th><%- include("tooltip", {k: "evmfrom"}) %>From</th>
      <th><%- include("tooltip", {k: "evmto"}) %>To</th>
      <th><%- include("tooltip", {k: "evmvalue"}) %>Value</th>
      <th><%- include("tooltip", {k: "txfees"}) %>Fee</th>
    </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="internal" role="tabpanel" aria-labelledby="internal-tab">
  <table id="tableinternal" class="display" style="width: 100%">
    <thead>
    <tr class="tableheader">
       <th><%- include("tooltip", {k: "parenttxhash"}) %>Parent Txn Hash</th>
       <th><%- include("tooltip", {k: "typetraceaddress"}) %>Type Trace Address</th>
       <th><%- include("tooltip", {k: "evmfrom"}) %>From</th>
       <th><%- include("tooltip", {k: "evmto"}) %>To</th>
       <th><%- include("tooltip", {k: "evmvalue"}) %>Value</th>
       <th><%- include("tooltip", {k: "txgaslimit"}) %>Gas Limit</th>
       <th><%- include("tooltip", {k: "txgasused"}) %>Gas Used</th>
    </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="extrinsics" role="tabpanel" aria-labelledby="extrinsics-tab">
  <div class="form-check form-switch" style="float: right; padding: 20px">
    <input class="form-check-input" id="showallextrinsics" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Show all extrinsics</label>
  </div>
  <table id="tableevmblockextrinsics" class="display" style='width: 100%'>
    <thead>
      <tr class="tableheader">
        <th><%- include("tooltip", {k: "extrinsicid"}) %>Extrinsic ID</th>
        <th><%- include("tooltip", {k: "module"}) %>Section/Method</th>
        <th><%- include("tooltip", {k: "params"}) %>Params</th>
        <th><%- include("tooltip", {k: "sender"}) %>From</th>
        <th><%- include("tooltip", {k: "txresult"}) %>Result</th>
      </tr>
    </thead>
  </table>
</div>

<div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
  <div class="form-check form-switch" style="float: right; padding: 20px">
    <input class="form-check-input" id="showallevents" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
    <label class="form-check-label" for="flexSwitchCheckDefault">Show all events</label>
  </div>
  <table id="tableevmblockevents" class="display" style='width: 100%'>
    <thead>
      <tr class="tableheader">
        <th><%- include("tooltip", {k: "eventid"}) %>Event ID</th>
        <th><%- include("tooltip", {k: "extrinsicid"}) %>Extrinsic ID</th>
        <th><%- include("tooltip", {k: "method"}) %>Action</th>
        <th><%- include("tooltip", {k: "params"}) %>Params</th>
      </tr>
    </thead>
  </table>
</div>

</div>

<script type="text/javascript">
let chainID = <%= chainID %> ;
let defHash = "<%= defHash %>";
let id = '<%- id; %>';
let chainSymbol = '<%- chainInfo.symbol; %>';
let blockNumber = <%= blockNumber %>;
let tabs = <%- JSON.stringify(tabs); %> ;
<% if ( ! b.finalized ) { %>
    let blockHash = '<%= blockHash %>';
<% } else { %>
let blockHash = '';
<% } %>
<%
if (b.evmBlock != undefined && b.evmBlock.transactions !=undefined) { %>
let evmtxs = <%- JSON.stringify(b.evmBlock.transactions.reverse()); %>;
<% } else { %>
let evmtxs = '[]';
<% } %>


<% if (b.evmBlock != undefined && b.evmBlock.transactionsInternal !=undefined) { %>
let evminternal = <%- JSON.stringify(b.evmBlock.transactionsInternal); %>;
<% } else { %>
let evminternal = '[]';
<% } %>

<% if (b.evmBlock != undefined && b.evmBlock.transactionsConnected !=undefined) { %>
let evmremote = <%- JSON.stringify(b.evmBlock.transactionsConnected); %>;
<% } else { %>
let evmremote = '[]';
<% } %>

<% if (b.extrinsics != undefined) { %>
let extrinsics = <%- JSON.stringify(b.extrinsics); %>;
<% } else { %>
let extrinsics = '[]';
<% } %>
// extract events from extrinsics, and tally totalSubstrateSignedExtrinsics, totalEvents
let events = [];
let totalSubstrateSignedExtrinsics = 0;
let totalEvents = 0;
for (const extrinsic of extrinsics) {
   let extrinsicEventIndex = 0; // this is the eventIndex within the extrinsic
   let signed = ( ( extrinsic.signer == undefined ) || ( extrinsic.evm ) ) ? false : true;
   if ( signed ) totalSubstrateSignedExtrinsics++;
   for (const e of extrinsic.events) {
        let pieces = e.eventID.split('-') //2-12039596-1-1
        e.rawEventID = `${pieces[1]}-${pieces[3]}`
        e.extrinsicID = extrinsic.extrinsicID
        e.extrinsicHash = extrinsic.extrinsicHash
        e.extrinsicEventIndex = extrinsicEventIndex
	    e.signed = signed;
	    extrinsicEventIndex++
        if ( signed ) totalEvents++
	    events.push(e);
   }
}
document.getElementById('evmtxs-tab').innerHTML = `Transactions (${evmtxs.length})`;
let internalTab = document.getElementById('internal-tab');
if ( evminternal && internalTab ) internalTab.innerHTML = `Internal Txns (${evminternal.length})`;
let remoteTab = document.getElementById('remote-tab');
if ( evmremote && remoteTab ) remoteTab.innerHTML = `Remote Executions (${evmremote.length})`;
document.getElementById('extrinsics-tab').innerHTML = `Extrinsics (${totalSubstrateSignedExtrinsics})`;
document.getElementById('events-tab').innerHTML = `Events (${totalEvents})`;
</script>
<script src="/evmblock.js"></script>

<%- include('footer', {apiUrl: apiUrl}); %>
