<div class="tab-pane" id="overview" role="tabpanel" aria-labelledby="overview-tab">
<%
  let prevBlockUrl = `/block/${id}/${blockNumber - 1}`;
  let nextBlockUrl = `/block/${id}/${blockNumber + 1}`;
  let block = b.evmBlock;
  console.log("THIS IS IT", block);
%>
 <table class="table table-hover table-bordered">
  <tr>
    <td><%- include("tooltip", {k: "block"}) %>Block</td>
    <td>
      <a href='<%= prevBlockUrl; %>' class="btn btn-link btn-sm">&lt;</a>
      <span class="font-weight-bold"><%= block.number %></span>
      <a href='<%= nextBlockUrl; %>' class="btn btn-link btn-sm">&gt;</a>
    </td>
  </tr>
  <tr>
    <td><%- include("tooltip", {k: "transactions"}) %>Transactions</td>
    <td>
<%
if ( block && block.transactions ) { %>
<a class="btn-sm btn-primary" href='javascript:jumpTab()'><%= block.transactions.length %> transactions</a>
    <% if ( block.transactionsInternal && ( block.transactionsInternal.length > 0 ) ) { %>
     and <a class="btn-sm btn-primary" href='javascript:jumpTab("#internal")'><%= block.transactionsInternal.length %> internal transactions</a> in this block
    <% } %>
<% } else { %>
     Awaiting finalization
<% } %>
    <% if ( b.numXCMTransfersOut ) { %>
    <a class="btn-sm btn-primary" href='/xcmtransfers?chainfilters=<%= id; %>&blockNumber=<%= blockNumber %>'><%= b.numXCMTransfersOut; %> XCM transfers</a>
    <% } %>
    <% if ( b.numInternalTxs ) { %>
    <a class="btn-sm btn-primary" href='/internaltxs/<%= blockNumber %>'><%= b.numInternalTxs %> contract internal txs</a>
    <% } %>
    </td>
  </tr>
  <% if ( b.numXCMMessagesIn > 0 || b.numXCMMessagesOut > 0 ) { %>
  <tr>
    <td><%- include("tooltip", {k: "xcmmessages"}) %>XCM Messages</td>
    <td>
    <% if ( b.numXCMMessagesIn > 0 ) { %>
    <a class="btn-sm btn-primary" href='/xcmmessages?chainfilters=<%= id; %>&blockNumber=<%= blockNumber %>'><%= b.numXCMMessagesIn; %> XCM Incoming messages</a>
    <% } %>
    <% if ( b.numXCMMessagesOut > 0 ) { %>
    <a class="btn-sm btn-primary" href='/xcmmessages?chainfilters=<%= id; %>&blockNumber=<%= blockNumber %>'><%= b.numXCMMessagesOut; %> XCM Outgoing messages</a>
    <% } %>
    </td>
  </tr>
  <% } %>

    <%
    if ( block.transactionsConnected && block.transactionsConnected.length > 0 ) {

    %>
  <tr>
    <td><%- include("tooltip", {k: "remoteexecutions"}) %># Remote Executions</td>
    <td>
    <a class="btn-sm btn-primary" href='javascript:jumpTab("#remote")'><%= block.transactionsConnected.length; %> Remote Executions</a>
    </td>
  </tr>
    <% } %>

<% if ( block ) { %>
<% if ( block.miner ) { %>
  <tr>
    <td><%- include("tooltip", {k: "collator"}) %>By Collator</td>
    <td>
        <%- uiTool.presentBlockiesOrIdenticon(block.miner, 25) %>
        <a href='/address/<%= paraTool.getPubKey(block.miner) %>'>
          <code><%= block.miner; %></code>
        </a>
    </td>
  </tr>
<% } %>
    <tr>
      <td><%- include("tooltip", {k: "blockgasused"}) %>Gas Used</td>
      <td>
        <%= uiTool.presentNumber(block.gasUsed); %><%- ` (${uiTool.presentPercentage(block.gasUsed/block.gasLimit)})` %>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "blockgaslimit"}) %>Gas Limit</td>
      <td>
        <%= uiTool.presentNumber(block.gasLimit); %>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "evmblockhash"}) %>Hash</td>
      <td><%- uiTool.getFullHash(block.hash); %></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "evmparenthash"}) %>Parent Hash</td>
      <td><%- uiTool.getFullHash(block.parentHash); %></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "evmstateroot"}) %>State Root</td>
      <td>
        <%- uiTool.getFullHash(block.stateRoot); %>
      </td>
    </tr>
<% } %>
<% if ( b.author != undefined && b.miner != undefined && b.author.toLowerCase() != block.miner.toLowerCase()) { %>
  <tr>
    <td><%- include("tooltip", {k: "author"}) %>Author</td>
    <td>
      <img src="/identicon/<%= b.author; %>" class="rounded-start"  width="25px"  loading="lazy"/>
      <a href='/address/<%= paraTool.getPubKey(b.author) %>'>
        <code><%= b.author; %></code>
      </a>
       <%- uiTool.showAccountInfo(b, "authorAddress") %>
     </td>
  </tr>
<% } %>
 </table>
</div>
