<div class="tab-pane" id="evmheader" role="tabpanel" aria-labelledby="evmheader-tab">
  <table class="table table-hover table-bordered">
    <tr>
      <td>Block Hash</td>
      <td><%- uiTool.getFullHash(block.hash); %></td>
    </tr>
    <tr>
      <td>Parent Hash</td>
      <td><%- uiTool.getFullHash(block.parentHash); %></td>
    </tr>
    <tr>
      <td>State Root</td>
      <td>
        <%- uiTool.getFullHash(block.stateRoot); %>
      </td>
    </tr>
    <tr>
      <td>Gas Used</td>
      <td>
        <%= uiTool.presentNumber(block.gasUsed); %>
      </td>
    </tr>
    <tr>
      <td>Gas Limit</td>
      <td>
        <%= uiTool.presentNumber(block.gasLimit); %>
      </td>
    </tr>
    <tr>
      <td>Mined By</td>
      <td>
        <img src="/identicon/<%= block.miner; %>" class="rounded-start"  width="25px"  loading="lazy"/>
        <a href='/account/<%= paraTool.getPubKey(block.miner) %>'>
          <code><%= block.miner; %></code>
        </a>
       </td>
    </tr>
    <tr>
      <td>Block Reward</td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>Compare to</td>
      <td>
        <% if ( chainID && (chainID == 2004 || chainID == 22023)) {
           let externalURL = (chainID == 2004)? `https://moonscan.io` : `https://moonriver.moonscan.io`
           let imgURL = (chainID == 2004) ? "https://cdn.polkaholic.io/moonscan.svg" : "https://cdn.polkaholic.io/moonriverscan.svg" 
           let txURL = `${externalURL}/block/${block.hash}`;
           %>
        <a href="<%= txURL; %>" target="_new"><img src="<%= imgURL; %>" width="16"></a>
        <% }%>
        <% if ( chainID && (chainID == 2006 || chainID == 22007)) {
           let externalURL = (chainID == 2006)? `https://blockscout.com/astar` : `https://blockscout.com/shiden`
           let imgURL = "https://cdn.polkaholic.io/blockscout.png"
           let txURL = `${externalURL}/block/${block.hash}`;
           %>
        <a href="<%= txURL; %>" target="_new"><img src="<%= imgURL; %>" width="16"></a>
        <% }%>
      </td>
    </tr>

  </table>

</div>

<div class="tab-pane" id="evmtxs" role="tabpanel" aria-labelledby="evmtxs-tab">
  <table class="table table-striped table-hover">
    <tr>
      <th>Transaction Hash</th>
      <th>Action</th>
      <th>Result</th>
      <th>From</th>
      <th>To</th>
      <th>Value</th>
      <th>Fee</th>
    </tr>
    <%  for ( var i = 0; i < block.transactions.length ; i++) {
       let tx = block.transactions[i];
       let txValue = (tx.value / 10**18)
       let txFeeMax = (tx.gas * tx.gasPrice/ 10**18)
%>
    <tr>
      <td>
        <code><%- uiTool.presentTx(tx.transactionHash); %></code>
      </td>
      <td>
        <%- include("evmtxdecodedinput", {tx: tx.decodedInput, showParams: false}) %>
      </td>
      <td><%- include("isSuccess", {success: tx.status, errorMsg: false}); %></td>
      <td>
        <code><%- uiTool.presentID(tx.from); %></code>
      </td>
      <td>
        <code><%- uiTool.presentID(tx.to); %></code>
      </td>
      <td>
        <%- uiTool.presentFloat(tx.value, 6); %>
      </td>
      <td>
        <%- uiTool.presentFloat(tx.fee, 6); %>
      </td>
    </tr>
    <%  } %>
  </table>
</div>

<script type="text/javascript">
<% if (block.transactions.length > 0) {  %>
  document.getElementById('evmtxs-tab').innerHTML = '<%- `EVM Transactions (${block.transactions.length})` %>'
<% } %>
</script>
