<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Block` }); %>
<%- include('chainheader', { chain: chain, title: `Block ${blockNumber}` }); %>


<!-- Nav tabs -->
<ul class="nav nav-tabs" id="blockTab" role="tablist">
<%
let tabs = [
{ title: "Overview", target: "overview" },
{ title: "Extrinsics", target: "extrinsics" },
{ title: "Events", target: "events" },
]
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
let defHash = '#overview';
%>
</ul>

<div class="tab-content">
  <%- include("evmBlockOverview", {chainID: chainID, id: id, block: b }); %>
  <%- include("xcmtransactions", {chainID: chainID, id: id, extrinsics: b.extrinsics }); %>
  <%- include("blockevents", {chainID: chainID, id: id, extrinsics: b.extrinsics }); %>
</div>

<script src="/evmblock.js"></script>
<script>
  let chainID = <%= chainID %> ;
  let defHash = "<%= defHash %>";
  let id = '<%- id; %>';
  let blockNumber = <%= blockNumber %>;
  let tabs = <%- JSON.stringify(tabs); %> ;
  <% if ( ! b.finalized ) { %>
    let blockHash = '<%= blockHash %>';
    showblockstatus("<%= b.hash; %>");
  <% } else { %>
    let blockHash = '';
  <% } %>
</script>


<%- include('footer', {apiUrl: apiUrl}); %>

