<table>
<% for ( let j=0; j< params.length; j++) {
     let e = params[j]; %>
  <tr>
   <th><%- e.name; %></th>
   <td><%- e.type; %></td>
   <td>
   <% if ( e.type == "address" ) { %> 
   <%- uiTool.presentID(e.value); %>
   <% } else if ( e.type == "address[]" ) { %> 
   <%- uiTool.presentIDs(e.value); %>
   <% } else { %>
   <%- e.value; %>
   <% } %>
   </td>
  </tr>
<% } %>
</table>

