<%- include('header', {chainInfo: chainInfo, title: `${tx.chainName} Transaction ${tx.transactionHash}`}); %>
<script src="/tx.js"></script>

<h4>Transaction Details</h4>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="txTab" role="tablist">
<%
let tabs = [
{ title: "Overview", target: "overview" },
]
if ( tx.decodedLogs && tx.decodedLogs.length > 0 ) {
   tabs.push({ title: `Logs (${tx.decodedLogs.length})`, target: "logs" });
}
if ( tx.transactionsInternal && tx.transactionsInternal.length > 0 ) {
   tabs.push({ title: `Internal Txns (${tx.transactionsInternal.length})`, target: "internal" });
}

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
let defHash = '#overview';
%>
</ul>

<div class="tab-content">
  <%- include("evmtxOverview", {chainID: tx.chainID, id: tx.id, tx: tx }); %>
  <% if ( tx.transactionsInternal) { %>
  <%- include("evmtxInternal", {chainID: tx.chainID, id: tx.id, tx: tx }); %>
  <% } %>
  <%- include("evmtxLogs", {chainID: tx.chainID, id: tx.id, tx: tx }); %>
</div>

<script>
  let chainID = "<%= tx.chainID %>";
  let defHash = "#overview";
  let id = '<%= tx.id; %>';
  let blockNumber = <%= tx.blockNumber %>;
  let txHash = "<%= tx.transactionHash; %>";
  let tabs = <%- JSON.stringify(tabs); %> ;
</script>
<script>
showtxstatus("<%= tx.transactionHash %>"); //setupcurrency inside of txstatus
</script>
<%- include('footer', {apiUrl: apiUrl}); %>
