<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Block` }); %>
<%
let block = b.evmBlock;
%>
<h5>Transactions</h5>
For Block <a href='/block/<%= id; %>/<%= blockNumber; %>'><%= blockNumber; %></a>

<div>
A total of <%= block.transactions.length %> transactions found.
</div>

<table class="table table-striped table-hover">
    <tr>
      <th>Tx Hash</th>
      <th>Method</th>
      <th>Block</th>
      <th>Age</th>
      <th>Result</th>
      <th>From</th>
      <th>To</th>
      <th>Value</th>
      <th>Fee</th>
    </tr>
    <%  for ( var i = 0; i < block.transactions.length ; i++) {
       let tx = block.transactions[i];
       let txValue = (tx.value / 10**18)
       let txFeeMax = (tx.gas * tx.gasPrice/ 10**18)
%>
    <tr>
      <td>
        <code><%- uiTool.presentTx(tx.transactionHash); %></code>
      </td>
      <td>
        <%- include("evmtxdecodedinput", {tx: tx.decodedInput, showParams: false}) %>
      </td>
      <td>
        <a href='/block/<%= id; %>/<%= blockNumber; %>'><%= blockNumber; %></a>
      </td>
      <td>
        <%- uiTool.presentSecondsAgoTS(tx.timestamp); %>
      </td>
      <td><%- include("isSuccess", {success: tx.status, errorMsg: false}); %></td>
      <td>
        <code><%- uiTool.presentAddress(tx.from); %></code>
      </td>
      <td>
        <code><%- uiTool.presentAddress(tx.to); %></code>
      </td>
      <td>
        <%- uiTool.presentFloat(tx.value, 6); %>
      </td>
      <td>
        <%- uiTool.presentFloat(tx.fee, 6); %>
      </td>
    </tr>
    <%  } %>
</table>

<script type="text/javascript">
<% if (block.transactions.length > 0) {  %>
  document.getElementById('evmtxs-tab').innerHTML = '<%- `EVM Transactions (${block.transactions.length})` %>'
<% } %>
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
