<div class="tab-pane" id="internal" role="tabpanel" aria-labelledby="internal-tab">

The contract call <B>From</B> <code><%- uiTool.getShortHash(tx.from) %></code> <B>To</B> <code><%- uiTool.getShortHash(tx.to) %></code> produced <%= tx.transactionsInternal.length %> internal transactions:

<table class="table table-striped table-hover">
   <tr>
     <th>Type Trace Address</th>
     <th>From</th>
     <th>To</th>
     <th>Value</th>
     <th>Gas Limit</th>
     <th>Gas Used</th>
   </tr>
   <% for ( let i = 0; i < tx.transactionsInternal.length; i++) {
        let t = tx.transactionsInternal[i];
      %>
       <tr>
        <td>
	 <%- uiTool.presentStack(t.stack); %>
	</td>
        <td>
	 <%- uiTool.presentID(t.from); %>
	</td>
        <td>
	 <%- uiTool.presentID(t.to); %>
	</td>
        <td>
	 <%- t.value; %>
	</td>
        <td align=right>
	 <%- t.gas; %>
	</td>
        <td align=right>
	 <%- t.gasUsed; %>
	</td>
	</tr>
   <% } %>
</table>
</div>
