<%- include('header', {chainInfo: chainInfo}); %>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2  text-center">
      <img src="/identicon/<%= address; %>"  class="rounded-start"  height="100%"  loading="lazy" class="card-img-center"/>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title"><B>Account</B></h5>
        <p class="card-text">
          <small class="text-muted"><a href='/account/<%= address; %>'><%= address %></a></small>
        </p>
      </div>
    </div>
  </div>
  
<% for ( let i = 0; i < followers.length ; i++ ) {
      let id = followers[i].fromAddress;
%>
  <div class="row g-0">
    <div class="col-md-2  text-center">
      <img src="/identicon/<%= id; %>" class="rounded-start"  height="100%"  loading="lazy" class="card-img-center"/>
    </div>
    <div class="col-md-8  text-center">
      <div class="card-body">
       <%- uiTool.presentIDRow(followers[i], "fromAddress") %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
      <% if ( paraTool.sameAddress(id, fromAddress) ) { %>
         This is you.
      <% } else if ( followers[i].isFollowing ) { %>
        <a href="/unfollow/<%= id; %>" class="btn btn-outline-secondary">Unfollow</a>
      <% } else { %>
        <a href="/follow/<%= id; %>" class="btn btn-secondary">Follow</a>
      <% } %>
      </div>
    </div>
  </div>
<% } %>

</div>


<%- include('footer', {apiUrl: apiUrl}); %>

