<!doctype html>
<html lang="en">
  <head>
    <title><% if ( title != undefined ) { %> <%= title; %><% } %> - Polkaholic.io</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Polkaholic Style / UI Helpers -->
    <link rel="stylesheet" type="text/css" href="/polkaholic.css" />
    <!-- JQuery + DataTables -->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/b-2.2.3/b-html5-2.2.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/b-2.2.3/b-html5-2.2.3/datatables.min.js"></script>
    <!-- MBS Bootstrap Icons -->


    <link rel="stylesheet" href="/css/mdb.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <!-- evm wallet -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
    <script src="/uihelper.js"></script>


    <script src="/blockies.min.js"></script>
    <script src="/bundle-polkadot-util.js"></script>
    <script src="/bundle-polkadot-util-crypto.js"></script>
    <script src="/bundle-polkadot-types.js"></script>
    <script src="/bundle-polkadot-api.js"></script>
    <script src="/bundle-polkadot-keyring.js"></script>
    <script src="/bundle-polkadot-api-contract.js"></script>
    <script src="/extension.min.js"></script>
    <% if ( process.env.NODE_ENV !== "development" ) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4Z3SY9LJJS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4Z3SY9LJJS');
    </script>
    <% } %>
</head>
<body>

<%

let chains = [
    {
        "isRelayChain": true,
        "chainID": 0,
        "paraID": 0,
        "id": "polkadot",
        "iconUrl": "https://cdn.polkaholic.io/polkadot.png",
        "chainName": "Polkadot",
        "ss58Format": 0
    },
    {
        "chainID": 2004,
        "paraID": 2004,
        "id": "moonbeam",
        "iconUrl": "https://cdn.polkaholic.io/moonbeam.png",
        "chainName": "Moonbeam",
        "ss58Format": 1284,
        "isEVM": 1,
        "hasSystemContracts": 1,
        "hasProjects": 1
    },
    {
        "chainID": 2026,
        "paraID": 2026,
        "id": "nodle",
        "iconUrl": "https://cdn.polkaholic.io/nodle.svg",
        "chainName": "Nodle",
        "ss58Format": 37
    },
    {
        "chainID": 2006,
        "paraID": 2006,
        "id": "astar",
        "iconUrl": "https://cdn.polkaholic.io/astar.png",
        "chainName": "Astar",
        "ss58Format": 5,
        "isEVM": 1,
        "isWASM": 1,
        "hasSystemContracts": 1,
        "hasProjects": 1
    },
    {
        "chainID": 2012,
        "paraID": 2012,
        "id": "parallel",
        "iconUrl": "https://cdn.polkaholic.io/parallel.png",
        "chainName": "Parallel",
        "ss58Format": 172,
        "hasProjects": 1
    },
    {
        "chainID": 2000,
        "paraID": 2000,
        "id": "acala",
        "iconUrl": "https://cdn.polkaholic.io/acala.png",
        "chainName": "Acala",
        "ss58Format": 10,
        "hasProjects": 1
    },
    {
        "chainID": 2032,
        "paraID": 2032,
        "id": "interlay",
        "iconUrl": "https://cdn.polkaholic.io/interlay.svg",
        "chainName": "Interlay",
        "ss58Format": 2032
    },
    {
        "chainID": 2031,
        "paraID": 2031,
        "id": "centrifuge",
        "iconUrl": "https://cdn.polkaholic.io/centrifuge.png",
        "chainName": "Centrifuge",
        "ss58Format": 36
    },
    {
        "chainID": 2037,
        "paraID": 2037,
        "id": "unique",
        "iconUrl": "https://cdn.polkaholic.io/unique.svg",
        "chainName": "Unique",
        "ss58Format": 7391
    },
    {
        "chainID": 2030,
        "paraID": 2030,
        "id": "bifrost-dot",
        "iconUrl": "https://cdn.polkaholic.io/bifrost.png",
        "chainName": "Bifrost-Polkadot",
        "ss58Format": 6
    },
    {
        "chainID": 2011,
        "paraID": 2011,
        "id": "equilibrium",
        "iconUrl": "https://cdn.polkaholic.io/equilibrium.svg",
        "chainName": "Equilibrium",
        "ss58Format": 68
    },
    {
        "chainID": 2002,
        "paraID": 2002,
        "id": "clover",
        "iconUrl": "https://cdn.polkaholic.io/clover.png",
        "chainName": "Clover",
        "ss58Format": 128,
        "isEVM": 1
    },
    {
        "chainID": 2035,
        "paraID": 2035,
        "id": "phala",
        "iconUrl": "https://cdn.polkaholic.io/phala.svg",
        "chainName": "Phala",
        "ss58Format": 30
    },
    {
        "chainID": 2013,
        "paraID": 2013,
        "id": "litentry",
        "iconUrl": "https://cdn.polkaholic.io/litentry.png",
        "chainName": "Litentry",
        "ss58Format": 31
    },
    {
        "chainID": 2021,
        "paraID": 2021,
        "id": "efinity",
        "iconUrl": "https://cdn.polkaholic.io/efinity.svg",
        "chainName": "Efinity",
        "ss58Format": 1110
    },
    {
        "chainID": 2034,
        "paraID": 2034,
        "id": "hydradx",
        "iconUrl": "https://cdn.polkaholic.io/hydradx.svg",
        "chainName": "HydraDX",
        "ss58Format": 63
    },
    {
        "chainID": 1000,
        "paraID": 1000,
        "id": "statemint",
        "iconUrl": "https://cdn.polkaholic.io/statemint.svg",
        "chainName": "Statemint",
        "ss58Format": 0
    },
    {
        "chainID": 2052,
        "paraID": 2052,
        "id": "kylin",
        "iconUrl": "https://cdn.polkaholic.io/kylin.png",
        "chainName": "Kylin",
        "ss58Format": 42
    },
    {
        "chainID": 2043,
        "paraID": 2043,
        "id": "origintrail",
        "iconUrl": "https://cdn.polkaholic.io/origintrail.png",
        "chainName": "Origin Trail",
        "ss58Format": 101
    },
    {
        "chainID": 2007,
        "paraID": 2007,
        "id": "kapex",
        "iconUrl": "https://cdn.polkaholic.io/totem.svg",
        "chainName": "Kapex",
        "ss58Format": 2007
    },
    {
        "chainID": 2019,
        "paraID": 2019,
        "id": "composable",
        "iconUrl": "https://cdn.polkaholic.io/composableFinance.png",
        "chainName": "Composable Finance",
        "ss58Format": 50
    },
    {
        "chainID": 2039,
        "paraID": 2039,
        "id": "integritee-shell",
        "iconUrl": "https://cdn.polkaholic.io/integritee.svg",
        "chainName": "Integritee Shell",
        "ss58Format": 13
    },
    {
        "chainID": 2046,
        "paraID": 2046,
        "id": "darwinia",
        "iconUrl": "https://cdn.polkaholic.io/darwinia.svg",
        "chainName": "Darwinia",
        "ss58Format": 18
    },
    {
        "isRelayChain": true,
        "chainID": 2,
        "paraID": 0,
        "id": "kusama",
        "iconUrl": "https://cdn.polkaholic.io/kusama.svg",
        "chainName": "Kusama",
        "ss58Format": 2
    },
    {
        "chainID": 22023,
        "paraID": 2023,
        "id": "moonriver",
        "iconUrl": "https://cdn.polkaholic.io/moonriver.png",
        "chainName": "Moonriver",
        "ss58Format": 1285,
        "isEVM": 1,
        "hasSystemContracts": 1,
        "hasProjects": 1
    },
    {
        "chainID": 22004,
        "paraID": 2004,
        "id": "khala",
        "iconUrl": "https://cdn.polkaholic.io/khala.svg",
        "chainName": "Khala",
        "ss58Format": 30
    },
    {
        "chainID": 22129,
        "paraID": 2129,
        "id": "snow",
        "iconUrl": "https://cdn.polkaholic.io/snow.png",
        "chainName": "Snow",
        "ss58Format": 2207
    },
    {
        "chainID": 22084,
        "paraID": 2084,
        "id": "calamari",
        "iconUrl": "https://cdn.polkaholic.io/calamari.png",
        "chainName": "Calamari",
        "ss58Format": 78
    },
    {
        "chainID": 22000,
        "paraID": 2000,
        "id": "karura",
        "iconUrl": "https://cdn.polkaholic.io/karura.svg",
        "chainName": "Karura",
        "ss58Format": 8,
        "hasProjects": 1
    },
    {
        "chainID": 22096,
        "paraID": 2096,
        "id": "bitcountrypioneer",
        "iconUrl": "https://cdn.polkaholic.io/bitcountryPioneer.png",
        "chainName": "Bit.Country Pioneer",
        "ss58Format": 268
    },
    {
        "chainID": 22007,
        "paraID": 2007,
        "id": "shiden",
        "iconUrl": "https://cdn.polkaholic.io/shiden.png",
        "chainName": "Shiden",
        "ss58Format": 5,
        "isEVM": 1,
        "isWASM": 1,
        "hasSystemContracts": 1
    },
    {
        "chainID": 22085,
        "paraID": 2085,
        "id": "parallel-heiko",
        "iconUrl": "https://cdn.polkaholic.io/heiko.png",
        "chainName": "Parallel Heiko",
        "ss58Format": 110,
        "hasProjects": 1
    },
    {
        "chainID": 22001,
        "paraID": 2001,
        "id": "bifrost-ksm",
        "iconUrl": "https://cdn.polkaholic.io/bifrost.png",
        "chainName": "Bifrost-Kusama",
        "ss58Format": 6
    },
    {
        "chainID": 22092,
        "paraID": 2092,
        "id": "kintsugi",
        "iconUrl": "https://cdn.polkaholic.io/kintsugi.png",
        "chainName": "Kintsugi",
        "ss58Format": 2092
    },
    {
        "chainID": 22086,
        "paraID": 2086,
        "id": "spiritnet",
        "iconUrl": "https://cdn.polkaholic.io/kilt.png",
        "chainName": "KILT Spiritnet",
        "ss58Format": 38
    },
    {
        "chainID": 22090,
        "paraID": 2090,
        "id": "basilisk",
        "iconUrl": "https://cdn.polkaholic.io/basilisk.png",
        "chainName": "Basilisk",
        "ss58Format": 10041
    },
    {
        "chainID": 22101,
        "paraID": 2101,
        "id": "zeitgeist",
        "iconUrl": "https://cdn.polkaholic.io/zeitgeist.png",
        "chainName": "Zeitgeist",
        "ss58Format": 73
    },
    {
        "chainID": 22114,
        "paraID": 2114,
        "id": "turing",
        "iconUrl": "https://cdn.polkaholic.io/turing.png",
        "chainName": "Turing",
        "ss58Format": 51
    },
    {
        "chainID": 22116,
        "paraID": 2116,
        "id": "tanganika",
        "iconUrl": "https://cdn.polkaholic.io/tanganika.png",
        "chainName": "Tanganika",
        "ss58Format": 33
    },
    {
        "chainID": 22048,
        "paraID": 2048,
        "id": "robonomics",
        "iconUrl": "https://cdn.polkaholic.io/robonomics.svg",
        "chainName": "Robonomics",
        "ss58Format": 32
    },
    {
        "chainID": 22118,
        "paraID": 2118,
        "id": "listen",
        "iconUrl": "https://cdn.polkaholic.io/listen.png",
        "chainName": "Listen",
        "ss58Format": 42
    },
    {
        "chainID": 21000,
        "paraID": 1000,
        "id": "statemine",
        "iconUrl": "https://cdn.polkaholic.io/statemine.svg",
        "chainName": "Statemine",
        "ss58Format": 2
    },
    {
        "chainID": 22088,
        "paraID": 2088,
        "id": "altair",
        "iconUrl": "https://cdn.polkaholic.io/altair.svg",
        "chainName": "Altair",
        "ss58Format": 136
    },
    {
        "chainID": 22095,
        "paraID": 2095,
        "id": "quartz",
        "iconUrl": "https://cdn.polkaholic.io/quartz.png",
        "chainName": "Quartz",
        "ss58Format": 255
    },
    {
        "chainID": 22125,
        "paraID": 2125,
        "id": "tinkernet",
        "iconUrl": "https://cdn.polkaholic.io/tinkernet.png",
        "chainName": "InvArch Tinkernet",
        "ss58Format": 117
    },
    {
        "chainID": 22015,
        "paraID": 2015,
        "id": "integritee",
        "iconUrl": "https://cdn.polkaholic.io/integritee.svg",
        "chainName": "Integritee",
        "ss58Format": 13
    },
    {
        "chainID": 22123,
        "paraID": 2123,
        "id": "gm",
        "iconUrl": "https://cdn.polkaholic.io/gm.png",
        "chainName": "GM Parachain",
        "ss58Format": 7013
    },
    {
        "chainID": 22107,
        "paraID": 2107,
        "id": "kico",
        "iconUrl": "https://cdn.polkaholic.io/kico.png",
        "chainName": "Kico",
        "ss58Format": 52
    },
    {
        "chainID": 22106,
        "paraID": 2106,
        "id": "litmus",
        "iconUrl": "https://cdn.polkaholic.io/litmus.png",
        "chainName": "Litmus",
        "ss58Format": 131
    },
    {
        "chainID": 22102,
        "paraID": 2102,
        "id": "pichiu",
        "iconUrl": "https://cdn.polkaholic.io/pichiu.png",
        "chainName": "Pichiu",
        "ss58Format": 42
    },
    {
        "chainID": 22012,
        "paraID": 2012,
        "id": "shadow",
        "iconUrl": "https://cdn.polkaholic.io/shadow.svg",
        "chainName": "Crust Shadow",
        "ss58Format": 66
    },
    {
        "chainID": 22119,
        "paraID": 2119,
        "id": "bajun",
        "iconUrl": "https://cdn.polkaholic.io/bajun.png",
        "chainName": "Bajun Network",
        "ss58Format": 1337
    },
    {
        "chainID": 22024,
        "paraID": 2024,
        "id": "genshiro",
        "iconUrl": "https://cdn.polkaholic.io/genshiro.svg",
        "chainName": "Genshiro",
        "ss58Format": 67
    },
    {
        "chainID": 21001,
        "paraID": 1001,
        "id": "encointer",
        "iconUrl": "https://cdn.polkaholic.io/encointer.svg",
        "chainName": "Encointer",
        "ss58Format": 2
    },
    {
        "chainID": 22105,
        "paraID": 2105,
        "id": "crab",
        "iconUrl": "https://cdn.polkaholic.io/crab.svg",
        "chainName": "Darwinia Crab",
        "ss58Format": 18
    },
    {
        "chainID": 22115,
        "paraID": 2115,
        "id": "dorafactory",
        "iconUrl": "https://cdn.polkaholic.io/dorafactory.png",
        "chainName": "Dora Factory",
        "ss58Format": 128
    },
    {
        "chainID": 22121,
        "paraID": 2121,
        "id": "imbue",
        "iconUrl": "https://cdn.polkaholic.io/imbue.png",
        "chainName": "Imbue Network",
        "ss58Format": 42
    },
    {
        "chainID": 22222,
        "paraID": 2222,
        "id": "daoipci",
        "iconUrl": "https://cdn.polkaholic.io/daoipci.svg",
        "chainName": "DAO IPCI",
        "ss58Format": 32
    },
    {
        "chainID": 22087,
        "paraID": 2087,
        "id": "picasso",
        "iconUrl": "https://cdn.polkaholic.io/picasso.svg",
        "chainName": "Picasso",
        "ss58Format": 49
    },
    {
        "chainID": 22113,
        "paraID": 2113,
        "id": "kabocha",
        "iconUrl": "https://cdn.polkaholic.io/kabocha.svg",
        "chainName": "Kabocha",
        "ss58Format": 27
    },
    {
        "chainID": 22011,
        "paraID": 2011,
        "id": "sora",
        "iconUrl": "https://cdn.polkaholic.io/sora.svg",
        "chainName": "Sora Kusama",
        "ss58Format": 69
    },
    {
        "chainID": 22100,
        "paraID": 2100,
        "id": "subsocialx",
        "iconUrl": "https://cdn.polkaholic.io/subsocial.svg",
        "chainName": "SubsocialX",
        "ss58Format": 28
    },
    {
        "chainID": 22110,
        "paraID": 2110,
        "id": "mangatax",
        "iconUrl": "https://cdn.polkaholic.io/mangata.svg",
        "chainName": "Mangata",
        "ss58Format": 42
    },
   {
        "isRelayChain": true,
        "chainID": 60000,
        "paraID": 0,
        "id": "moonbase-relay",
        "iconUrl": "https://cdn.polkaholic.io/moonbase_alpha.png",
        "chainName": "moonbase-relay",
        "ss58Format": 42
    },
    {
        "chainID": 61000,
        "paraID": 1000,
        "id": "moonbase-alpha",
        "iconUrl": "https://cdn.polkaholic.io/moonbase_alpha.png",
        "chainName": "Moonbase Alpha",
        "ss58Format": 1287,
        "isEVM": 1,
        "hasSystemContracts": 1
    },
    {
        "chainID": 60888,
        "paraID": 888,
        "id": "moonbase-beta",
        "iconUrl": "https://cdn.polkaholic.io/moonbase_alpha.png",
        "chainName": "Moonbase Beta",
        "ss58Format": 1288,
        "isEVM": 1,
        "hasSystemContracts": 1
    },
  ]

  let selchain = "all";
  let sel = null;
  let selid = null;
  let selChainName = "All chains";
  let iconUrl = "/browser_icon.png";
  if (req.cookies && req.cookies.selchain) {
   selchain = req.cookies.selchain;
    for (const c of chains ) {
      if ( c.id == selchain) {
       sel = c;
      }
    }
  }
%>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a href="/" class="nav-link  mt-2 mt-lg-0"><img src="/browser_icon.png"/></a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/" class="nav-link"><B>Polkaholic</B></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAccountsMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Accounts</a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccountsMenuLink">
            <li>
               <a class="dropdown-item" href="javascript:home();">View All Accounts</a>
            </li>
	    <%
        if (req.cookies && req.cookies.homePub && req.cookies.homePubName) {
            let res = req.cookies.homePub;
            let res2 = req.cookies.homePubName;
            let out = [];
	        let ss = 0, evm = 0;
            if (res.length > 20) {
                let sa = res.split("|");
                let sa2 = res2.split("|");
                let sa3 = {}
                for (let a = 0; a < sa.length; a++) {
                    let addr = paraTool.getPubKey(sa[a]);
                    let addrName = sa2[a];
                    if (sa3[addr] != undefined) continue
                    sa3[addr] = 1
                    if ( addr.length > 60 ) {
                        let pres = addr;
                        let presName = addrName;
                        if ( sel && sel.ss58Format != undefined ) {
                            pres = paraTool.getAddress(addr, sel.ss58Format);
                        }
                        ss++;
	      %>
	      <li>
               <a class="dropdown-item" href="/account/<%= addr; %>"> <%- uiTool.presentBlockiesOrIdenticon(addr, 24) %> <%- ` ${presName} (${uiTool.getShortHash(pres, true, false)})` %></a>
          </li>
	              <% } else if (addr.length == 42){
                      if (addrName.substr(0,2) == '0x' || addrName.substr(0,4) == 'null') evm++
                      let presName = (addrName.substr(0,2) == '0x' || addrName.substr(0,4) == 'null')? `EVM Acct#${evm}` : `${addrName}`
                  %>
	      <li>
               <a class="dropdown-item" href="/address/<%= addr; %>"> <%- uiTool.presentBlockiesOrIdenticon(addr, 24) %>  <%- ` ${presName} (${uiTool.getShortHash(addr, true, false)})` %></a>
          </li>
	      <% }
				}
 				}
				}


	      %>
	        <li>
               <a class="dropdown-item" href="javascript:selectWalletAccount();">Manage Accounts</a>
            </li>
          </ul>
        </li>
<%  if ( selchain && sel) {
    selid = sel.id;
    selChainName = sel.chainName;
%>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarBlockchainMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Blockchain</a>
           <ul class="dropdown-menu" aria-labelledby="navbarBlockchainMenuLink">
             <li>
               <a class="dropdown-item" href="/chaininfo"><img src="<%= sel.iconUrl; %>" width="24" class="circularClass"/>&nbsp;<%= selChainName %><% if (sel.paraID) { %> (ParaID <%= sel.paraID; %>) <% } else { %> (Relay) <% } %> </a>
             </li>
             <li>
               <a class="dropdown-item" href="/blocks">Recent Blocks</a>
             </li>
	     <% if ( sel.isEVM ) { %>
             <li>
               <a class="dropdown-item" href="/pools">Liquidity Pools</a>
             </li>
	     <% } %>
	     <% if ( sel.isWASM ) { %>
             <li>
               <a class="dropdown-item" href="/wasmcodes">WASM Code</a>
             </li>
             <li>
               <a class="dropdown-item" href="/wasmcontracts">WASM Contracts</a>
             </li>
	     <% } %>
             <li>
               <a class="dropdown-item" href="/specversions">Spec Versions</a>
             </li>
	     <% if ( sel.isEVM ) { %>

	     <% if ( sel.hasSystemContracts ) { %>
             <li>
               <a class="dropdown-item" href="/assets/System">System Contracts</a>
             </li>
	     <% } %>
	     <% if ( sel.hasProjects ) { %>
             <li>
               <a class="dropdown-item" href="/projects">Projects</a>
             </li>
	     <% } %>
	     <% } %>
             <li>
               <a class="dropdown-item" href="/chainlog">Daily Log</a>
             </li>
             <li>
               <a class="dropdown-item" href="/chaininfo">Chain Info</a>
             </li>
           </ul>
        </li>
	<% } %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarXCMMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">XCM</a>
          <ul class="dropdown-menu" aria-labelledby="navbarXCMMenuLink">
            <li>
              <a class="dropdown-item" href="/xcmassets">XCM Assets</a>
            </li>
            <li>
              <a class="dropdown-item" href="/xcmtransfers?xcmType=xcmtransfer">XCM Transfers</a>
            </li>
	    <% if ( sel && sel.isEVM ) { %>
            <li>
              <a class="dropdown-item" href="/xcmtransfers?xcmType=xcmtransact">Remote Executions</a>
            </li>
	    <% } %>
            <li>
              <a class="dropdown-item" href="/xcmmessages">XCM Messages</a>
            </li>
	    <% if ( sel ) { %>
            <li>
              <a class="dropdown-item" href="/channels">XCM Channels</a>
            </li>
	    <% } %>
          </ul>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarToolsMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Tools</a>
           <ul class="dropdown-menu" aria-labelledby="navbarToolsMenuLink">
             <li>
               <a class="dropdown-item" href="/apikeys">API Keys</a>
             </li>
             <li>
               <a class="dropdown-item" href="https://docs.polkaholic.io">API Docs</a>
             </li>
             <li>
               <a class="dropdown-item" href="/multilocation">Multilocation Tool</a>
             </li>
             <li>
               <a class="dropdown-item" href="/remoteexecution">Remote Execution Tool</a>
             </li>
	     <% if ( false ) { %>
             <li>
               <a class="dropdown-item" href="/ss58">SS58 Converter</a>
             </li>
	     <% } %>
           </ul>
        </li>
        <% if ( req && req.session && req.session.email ) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
        </ul>
      </div>

      <div class="dropdown">
	<button type="button" class="btn btn-primary btn-block" style="text-align: left; text-transform: none; " data-mdb-toggle="modal" data-mdb-target="#selectChain">
	  <% if ( sel && sel.iconUrl ) { %>
	  <img src="<%= sel.iconUrl %>" width=24 class="circularClass"/>
	  <% } else { %>
	  <img src="<%= iconUrl %>" width=24 class="circularClass"/>
	  <% } %>&nbsp;<%= selChainName %>
	</button>

<div class="modal fade" id="selectChain" tabindex="-1" aria-labelledby="Select Chain" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="select">Select Chain</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Select All"></button>
      </div>
      <div class="modal-body">
	<div>
	  <button id="all" class="button btn btn-primary text-capitalize selchain" data-mdb-dismiss="modal"  style="width: 98%; height: 50px; padding: 2px; margin: 5px;" data-mdb-ripple-color="dark">Select ALL CHAINS</button>
	</div>
	<div class="form-outline" style="margin-top: 15px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
	  <input type="text" id="searchChains" class="form-control" value=""/>
	  <label class="form-label" for="searchChains">Search chains</label>
        </div>
	<script>
	  $('#searchChains').keyup(function( event ) {
	      if ( event.which == 13 ) {
		      event.preventDefault();
	      }
	      let txt = $('#searchChains').val().toLowerCase();
	      $(`button.selchain`).map( (e, f) => {
          let paraID = f.getAttribute('paraID')
          let chainID = f.getAttribute('chainID')
          if (paraID == '0') paraID = 'relay'
 		  if ( f.id == "all" ) {
		      // do nothing.
		  } else if ( txt.length > 0 && (f.id.includes(txt) || paraID.includes(txt) || chainID.includes(txt)) ) {
		      f.className = "btn btn-primary text-capitalize selchain";
		  } else {
		      f.className = "btn btn-outline-secondary text-capitalize selchain";
		  }
	      })
	  });
	</script>
      	<% for ( const c of chains ) { %>
          <% if ( c.isRelayChain ) {
              let relay = `${c.chainName.replace('-relay', '')} & Parachain`
               %>
              <br>
              <h6><%= relay %></h6>
          <% } %>
	  <button id="<%= c.id %>" paraID="<%= c.paraID %>" chainID="<%= c.chainID %>" type="button" class="btn btn-outline-secondary text-capitalize selchain"  data-mdb-dismiss="modal" style="text-align: center; width: 20%; height: 5em; padding: 3px; margin-left: 2%; margin-right: 2%; margin-top: 3px; margin-bottom: 3px" data-mdb-ripple-color="dark">&nbsp;<img width=24 class="circularImage"  src='<%= c.iconUrl %>'>&nbsp;<div style="font-size:0.85em;"><%= c.chainName %></div></button>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(`.selchain`).map( (e, f) => {
         // adjusting font size here
         let width = $(window).width()
         let height = $(window).height()
         let btn = `button#${f.id}`
         //console.log(`btn ${btn} ${width}x${height}`)
         if (width >= 764 && height >= 1200) {
             $(btn).css('text-align', 'center')
             $(btn).css('font-size', '1.1em')
             $(btn).css('height', '3em')
         }
});
$(".selchain").click(function (e) {
    e.preventDefault();
    let selchain = e.currentTarget.id;
    setCookie("selchain", e.currentTarget.id, 3650);
    if ( selchain && selchain != "all" ) {
	location.replace(`/blocks`)
    } else {
	location.replace(`/`)
    }
});
</script>
       </div>
       <!-- Left links -->
    </div>

  </div>
  <!-- Container wrapper -->
</nav>

<!--maintenance
<div class="alert" role="alert" data-mdb-color="secondary">
  Polkaholic.io is undergoing a maintenance update between 8pm-10pm PDT.
</div>
-->

<script>
var baseURL = '<%= config.baseURL; %>'
</script>
<% if ( locals.skipSearch ) { %>
<% } else { %>
<form class="form" action="/search/" method="post" >
   <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search by extrinsic/block/XCM message/WASM code/contract hash, block #, symbol, chain id" aria-label="Search" aria-describedby="search-addon" name="search" />
      <span class="input-group-text border-0" id="search-addon">
      <i class="bi bi-search"></i>
      </span>
   </div>
</form>
<% } %>

<!-- walletModal -->
<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="walletModalLabel">Select Accounts <%- include("tooltip", {k: "selectwalletaccounts"}) %></h5>
        <button type="button" id="walletModalClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <button type="button" id="walletSelect" data-dismiss="modal" class="btn btn-link" aria-label="Select">Confirm</button>
    </div>
  </div>
</div>
<script src="/wallet.js"></script>
