<div class="accordion  accordion-flush" style="width: <%= width; %>px">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading<%= id; %>">
      <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#flush<%= id; %>" aria-expanded="true" aria-controls="flush<%= id; %>">
        <%= title %>
      </button>
    </h2>
    <div id="flush<%= id; %>" class="accordion-collapse collapse" aria-labelledby="heading<%= id; %>">
      <div class="accordion-body"><%- include("decode", {id: id, obj: params, verify: null}) %></div>
    </div>
  </div>
</div>







