<%- include('header', {chainInfo: chainInfo, title: "Asset"}); %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Polkaholic</a></li>
    <li class="breadcrumb-item"><a href='/chain/<%= pool.id; %>#pools'><%= pool.chainName; %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= pool.poolName; %></li>
  </ol>
</nav>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>


<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td>Pool Address</td>
      <td>
      <% if ( pool.assetType == "LiquidityPair" ) { %>
      <%= pool.assetName %> 
      <% } else { %>
      <%- uiTool.presentID(pool.asset) %> (<%= pool.assetName %> <%- pool.poolName %>)
      <% } %>
      </td>
    </tr>
    <tr>
      <td>Chain</td>
      <td><%- uiTool.presentChain(pool.id, pool.chainName) %></td>
    </tr>
    <tr>
      <td width="200">Price</td>
      <td>
        <%- uiTool.currencyFormat(pool.priceUSD) %>
      </td>
    </tr>
    <tr>
      <td width="200">Token0</td>
      <td>
      <% let t0 = query.assetInfo[paraTool.makeAssetChain(pool.token0, pool.chainID)];
         let t1 = query.assetInfo[paraTool.makeAssetChain(pool.token1, pool.chainID)];
      %>
      <%- include("symbollink", {assetInfo: t0}) %>

      </td>
    </tr>
    <tr>
      <td width="200">Token1</td>
      <td>
      <%- include("symbollink", {assetInfo: t1}) %>
      </td>
    </tr>
    <tr>
      <td width="200">Total Free</td>
      <td>
        <%- uiTool.presentNumber(pool.totalFree); %>
      </td>
    </tr>
    <tr>
      <td width="200">TVL Free</td>
      <td>
        <%= uiTool.currencyFormat(pool.tvlFree) %>
      </td>
    </tr>
<% if ( pool.totalReserved > 0 ) { %>
    <tr>
      <td width="200">Total Reserved</td>
      <td>
        <%- uiTool.presentNumber(pool.totalReserved); %>
      </td>
    </tr>
    <tr>
      <td width="200">TVL Reserved</td>
      <td>
        <%= uiTool.currencyFormat(pool.tvlReserved) %>
      </td>
    </tr>
<% } %>
  </tbody>
</table>





<!-- Nav tabs -->
<ul class="nav nav-tabs" id="poolTab" role="tablist">
<%
let tabs = [
  { title: "Charts", target: "charts" },
  { title: "Top 1K Holders", target: "assetholders" }
];
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane" id="charts" role="tabpanel" aria-labelledby="charts-tab">

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%- pool.token0Symbol %> / <%- pool.token1Symbol %></h5>
        <div id="close"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TVL (USD)</h5>
	<div id="tvlUSD"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Volume (USD)</h5>
        <div id="volumeUSD"></div>
      </div>
    </div>
  </div>
</div>



  </div>


  <div class="tab-pane" id="assetholders" role="tabpanel" aria-labelledby="assetholders-tab">
    <table id="tableassetholders" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Account</th>
          <th># (State)</th>
          <th>Balance (USD)</th>
        </tr>
      </thead>
    </table>
  </div>
  
</div>


<script>
var asset = '<%- asset; %>';
var chainID = '<%- chainID; %>';
var poolhistory = <%- JSON.stringify(history); %>;
var accounts = <%- JSON.stringify(accounts); %>;
function get_history_data(f) {
  let out = [];
  for (let i =0; i < poolhistory.length; i++) {
    let h= poolhistory[i];
    out.push([h.indexTS*1000, h[f]]);
  }
  return(out);
}
var tabs = <%- JSON.stringify(tabs); %>;
let fields = ["tvlUSD", "volumeUSD", "close"];
for (const field of fields) {
    Highcharts.stockChart(field, {
      rangeSelector: {
        selected: 1
      },
      series: [{
        name: field,
        data: get_history_data(field),
        tooltip: {
          valueDecimals: 3
        }
      }]
    })
}
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/assetui.js"></script>
<script src="/pool.js"></script>

