<%
let nsources = Object.keys(priceUSD_routerAsset);
if ( nsources > 0 ) { %>

<div class="row">
  <div class="col-md-6">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Price Source</th>
      <th scope="col">Price</th>
      <th scope="col">Last</th>
      <th scope="col">Liquidity?</th>
      <th scope="col">Chart</th>
    </tr>
  </thead>
  <tbody>
<%
let routerAssetChain = null;
let routerName = null;
let liquid = 10;
for ( const p of priceUSD_routerAsset ) {
    if ( p.liquid < liquid ) {
      routerAssetChain = p.routerAssetChain;
      routerName = p.routerName;
      liquid = p.liquid;
    }
%>
    <tr>
      <th scope="row"><a href='/router/<%= p.routerAssetChain %>'><%= p.routerName %></a></th>
      <td><%= uiTool.currencyFormat(p.priceUSD); %></td>
      <td><%= uiTool.presentTS(p.indexTS); %></td>
      <td>
<% if ( p.liquid < 0.1 ) { %>
   <button type="button" class="btn btn-success">High</button>
<% } else if ( p.liquid < 1.0 ) { %>  
   <button type="button" class="btn btn-warning">Low</button>
<% } else { %>
   <button type="button" class="btn btn-danger">NOT LIQUID</button>
<% } %>
      </td>
      <td><a class="btn-sm btn-primary" href="javascript:showRouterAssetChainPrices('<%= p.routerAssetChain %>', '<%= p.routerName %>')">Chart</a></td>
    </tr>
<% } %>
  </tbody>
</table>
  </div>
  <div class="col-md-6">
   <div id="container" style="width: 100%"></div>
  </div>
  
</div>
<% } %>
<script>

function showRouterAssetChainPrices(routerAssetChain, routerName) {
  var series_name = `USD Value`

<% if ( asset ) { %>
  let url = `${baseURL}/asset/pricelog/${encodeURIComponent(asset)}/${encodeURIComponent(chainID)}/${encodeURIComponent(routerAssetChain)}`
  var title_text = `${asset.assetName} USD Value (Source: ${routerName})`;
<% } else { %>
  let url = `${baseURL}/asset/pricefeed/${encodeURIComponent(symbol)}/${encodeURIComponent(relayChain)}/${encodeURIComponent(routerAssetChain)}`
  var title_text = `${symbol} USD Value (Source: ${routerName})`;
<% } %>
  Highcharts.getJSON(url, function(data) {
    // Create the chart
    Highcharts.stockChart('container', {
      rangeSelector: {
        selected: 1
      },
      title: {
        text: title_text
      },
      series: [{
        name: series_name,
        data: data,
        tooltip: {
          valueDecimals: 3
        }
      }]
    });
});
}
</script>
