<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `Projects` }); %>

<div class="alert" role="alert" data-mdb-color="warning">
    <i class="fas fa-exclamation-triangle"></i>This is a new feature under active development; data is being indexed.
</div>
<table id="tablerouters" class="display" style='width: 100%'>
    <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Chain</th>
      <th scope="col">TVL</th>
    </tr>
    </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>

<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showrouters(id);
  setupapidocs("chain", "routers", `${id}`);
})
</script>
<script src="/chainui.js"></script>


