<%- include('header', {chainInfo: chainInfo}); %>
<%- include('chainheader', { chain: chain, title }); %>
<%
let [startDate, endDate] = uiTool.getRecentDateRange(3);
%>
<div class="card mb-3">
  <table>
    <tr>
      <td valign=top width=100>Dimension<br/>
       <select class="select" id="dimension" onchange="changedDimension()">
        <option value="date" SELECTED>Date</option>
        <option value="block">Block</option>
       </select>
      </td>
      <td width=350>
        Range<br/>
        <table class="datevisible"><tr><td>
      <div class="form-outline datepicker"  data-mdb-format="yyyy-mm-dd">
       <input type="text" class="form-control" id="startDate" value="<%= startDate; %>"/>
       <label for="startDate" class="form-label">Start Date</label>
      </div>
     </td>
     <td>
      <div class="form-outline datepicker"  data-mdb-format="yyyy-mm-dd">
       <input type="text" class="form-control" id="endDate" value="<%= endDate; %>"/>
       <label for="endDate" class="form-label">End Date</label>
      </div>
      </td>
    </tr>
	</table>

     <table class="blockvisible"><tr><td>
      <div class="form-outline">
       <input type="text" class="form-control" id="blockNumberStart" />
       <label for="blockNumberStart" class="form-label">Block # Start</label>
      </div></td><td>
      <div class="form-outline">
       <input type="text" class="form-control" id="blockNumberEnd" />
       <label for="blockNumberEnd" class="form-label">Block # End</label>
      </div></td></tr></table>
      </td>

      <td valign=top width=250>
      <% if ( tbl == "extrinsics" || tbl == "events" ) { %>
      Section<br/>
      <input class="form-control" data-mdb-clear-button="true" list="sectionOptions" id="section" placeholder="Type to search..." onchange="changedSection()" value="<%= section; %>">
      <datalist id="sectionOptions">
      </datalist>
      <% } else if ( tbl == "evmtxs" ) { %> %>
      Method<br/>
      <input class="form-control"  id="method" placeholder="method" value="<%= section; %>">
      <% } else if ( tbl == "xcmtransfers" || tbl == "xcmmessages" ) { let s = ( chainID == "all" ) ? " SELECTED" : ""; %>
      Chain Source<br/>
      <select class="select" id="chainID">
        <option value="all"<%= s; %>>All</option>
        <% for ( const c of chains ) {
	   let s = ( c.chainID == chainID ) ? " SELECTED" : ""; %>
	     <option value="<%= c.chainID %>"<%= s; %>><%= c.chainName; %></option>
	<% } %>
      </select>
      <% } else if ( tbl == "transfers" ) { %>
       Asset Symbol<br>
       <select class="select" id="symbol">
         <option value="">All</option>
         <% for ( const s of symbols ) { %>
         <option value="<%= s.symbol; %>"><%= s.symbol; %></option>
         <% } %>
       </select>
      <% } %>
      </td>

      <td valign=top width=200>
      <% if ( tbl == "extrinsics" || tbl == "events" ) { %>
      Method<br/>
      <input class="form-control" list="methodOptions" id="method" placeholder="Type to search..." value="<%= method; %>">
      <datalist id="methodOptions">
      </datalist>
      <% } else if ( tbl == "evmtxs" ) { %>
      MethodID<br/>
      <input class="form-control" style='width:200px' id="methodID" placeholder="methodID" value="<%= methodID; %>">
      <% } else if ( tbl == "xcmtransfers" ||  tbl == "xcmmessages" ) { let s = ( chainIDDest == "all" ) ? " SELECTED" : ""; %>
      Chain Dest<br/>
      <select class="select" id="chainIDDest">
        <option value="all"<%= s; %>>All</option>
        <% for ( const c of chains ) {
	   let s = ( c.chainID == chainIDDest ) ? " SELECTED" : ""; %>
	     <option value="<%= c.chainID %>"<%= s; %>><%= c.chainName; %></option>
	<% } %>
      </select>
      </datalist>
      <% } %>
      </td>
      <td width=150>
      <br/>
      <button type="button" id="btnFilter" class="btn btn-info">Search</button>
      </td>
    </tr>
    <tr>

     <td></td>
     <td>
     <% if ( tbl == "extrinsics" || tbl == "events" ) { %>
     Account<br/>
        <input class="form-control" id="fromAddress" value="<%= fromAddress; %>">
     <% } else if ( tbl == "xcmtransfers" ) { %>
     Sender<br/>
        <input class="form-control" id="fromAddress" value="<%= fromAddress; %>">
     <% } else if ( tbl == "evmtxs" || tbl == "transfers" ) { %>
     From<br/>
        <input class="form-control" id="fromAddress" value="<%= fromAddress; %>">
     <% } %>
     </td>
     <td>
     <% if ( tbl == "extrinsics" ) { %>
     Result<br/>
        <select class="select" id="result">
          <option value="">All</option>
          <option value="1">Success</option>
          <option value="0">Failed</option>
        </select>
     <% } else if ( tbl == "xcmtransfers" ) { %>
     Beneficiary<br/>
        <input class="form-control" id="toAddress" value="">
     <% } else if ( tbl == "xcmmessages" ) { %>
     Message Type<br/>
        <select class="select" id="msgType">
          <option value="">All</option>
          <option value="ump">ump (upward, parachain to relay chain)</option>
          <option value="xcmp">xcmp (parachain to parachain)</option>
          <option value="dmp">dmp (downward, relay chain to parachain)</option>
        </select>
     <% } else if ( tbl == "evmtxs" || tbl == "transfers" ) { %>
     To<br/>
        <input class="form-control" id="toAddress" value="">
     <% } %>
     </td>
     <td>
     <% if ( tbl == "extrinsics" ) { %>
     Signed<br/>
        <select class="select" id="signed">
          <option value="">All</option>
          <option value="1">Signed only</option>
        </select>
     <% } else if ( tbl == "evmtxs" ) { %>
     Is Contract Create?<br/>
        <select class="select" id="creates">
          <option value="">All</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
     <% } else if ( tbl == "xcmtransfers" ) { %>
     Completed?<br/>
        <select class="select" id="complete">
          <option value="">All</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      <% } else if ( tbl == "transfers" ) { let s = ( chainID == "all" ) ? " SELECTED" : ""; %>
      Chain Source<br/>
      <select class="select" id="chainID">
        <option value="all"<%= s; %>>All</option>
        <% for ( const c of chains ) {
	   let s = ( c.chainID == chainID ) ? " SELECTED" : ""; %>
	     <option value="<%= c.chainID %>"<%= s; %>><%= c.chainName; %></option>
        <% } %>
      </select>
      <% } else if ( tbl == "xcmmessages") { %>
      Relay Chain<br/>
          <select class="select" id="relayChain">
            <option value="">All</option>
            <option value="Polkadot">Polkadot</option>
            <option value="Kusama">Kusama</option>
          </select>
      <% } %>
     </td>
     <td>
     <% if ( tbl == "evmtxs" ) { %>
     Result<br/>
        <select class="select" id="result">
          <option value="">All</option>
          <option value="1">Success</option>
          <option value="0">Failed</option>
        </select>
     <% } %>
     </td>
    </tr>
  </table>

</div>

<div id="processing" class="text-center" style='visibility:hidden'>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<% if ( tbl == "extrinsics" ) { %>
<h5>Extrinsics</h5>
<table id="tableextrinsics" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Section/Method</th>
      <th scope="col">Extrinsic ID</th>
      <th scope="col">From</th>
      <th scope="col">Result</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
</table>
<% } else if ( tbl == "events" ) { %>
<h5>Events</h5>
<table id="tableevents" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Section/Method</th>
      <th scope="col">Event ID</th>
      <th scope="col">Extrinsic ID</th>
      <th scope="col">Block #</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
</table>
<% } else if ( tbl == "transfers" ) { %>
<h5>Transfers</h5>
<table id="tabletransfers" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Extrinsic ID</th>
      <th scope="col">Section/Method</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Amount</th>
      <th scope="col">Amount USD</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
</table>
<% } else if ( tbl == "evmtxs" ) { %>
<h5>EVM TXs</h5>
<table id="tableevmtxs" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Section/Method</th>
      <th scope="col">Tx Hash</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Result</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
</table>
<% } else if ( tbl == "xcmmessages" ) { %>
<h5>XCM Messages</h5>
    <table id="tablexcmmessages" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>XCM ID</th>
          <th>Chain (From)</th>
          <th>Chain (To) - Block #</th>
          <th>Message Hash</th>
          <th>Message</th>
          <th>Sent At</th>
          <th>Date</th>
        </tr>
      </thead>
    </table>
<% } else if ( tbl == "xcmtransfers" ) { %>
    <h5>XCM Transfers</h5>
        <table id="tablexcmtransfers" class="display" style='width: 100%'>
          <thead>
            <tr>
              <th>Section/Method</th>
              <th>Amount Sent</th>
              <th>Value (USD)</th>
              <th>Sender</th>
              <th>Beneficiary</th>
              <th>From Chain/Extrinsic ID</th>
              <th>To Chain</th>
              <th>Date</th>
            </tr>
          </thead>
        </table>
<% } %>
<script src="/query.js"></script>
<script>
<% if ( tbl == "extrinsics" || tbl == "events" ) { %>
var sectionMethods = <%- JSON.stringify(sectionMethods); %>;
<% } %>

$(document).ready(function() {
<% if ( tbl == "extrinsics" || tbl == "events" ) { %>
    loadSections();
<% } %>
    submitQuery("<%= chainID %>", "<%= tbl %>");
});

$("#btnFilter").on('click', function(e) {
  submitQuery("<%= chainID %>", "<%= tbl %>");
});
</script>
<%- include('footer', {apiUrl: apiUrl}); %>
