<%- include('header', {chainInfo: chainInfo}); %>

<table id="tablechains" class="display" style='width: 100%'>
  <thead>
     <tr>
          <th>Chain ID</th>
          <th>Count</th>
          <th>TODO</th>
          <th>Hours</th>
          <th>Reindexer</th>
          <th>Reindexer Count</th>
     </tr>
   </thead>
<% for ( let i = 0; i < chains.length; i++ ) {
      let c = chains[i];
%>
     <tr>
        <td><%= c.id; %> - <%= c.chainID; %></td>
        <td><%= c.cnt; %></td>
        <td><%= c.TODO; %></td>
        <td><%= c.hrs; %></td>
        <td><%= c.reindexer; %></td>
        <td><%= c.reindexerCount; %></td>
     </tr>
<% } %>
</table>


<%- include('footer', {apiUrl: apiUrl}); %>
