<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>

<h5>Remote Execution Tool</h5>

<div class="alert" role="alert" data-mdb-color="warning">
This tool is to support Remote Executions on Moonbase Alpha/Beta (active) and Moonriver + Moonbeam (planned) only (<a target="_new" href="https://docs.moonbeam.network/builders/xcm/xcm-transactor/">learn more ...</a>)
</div>

<div>
Given an origination chain address and its paraID, this calculates the derivative account address (EVM Account20 + Substrate Account32) on the destination chain:
</div>

<div>
  <b>Origination Chain Address:</b><br/>
  <input type="text" id="address" value="0xDcB4651B5BbD105CDa8d3bA5740b6C4f02b9256D" size="60"/><br/>
  <b>Origination Chain Para ID:</b><br/>
  <select id="paraID"  class="select">
<% for (const p of chains) {
     if ( p.isEVM ) {
        let s = ( p.chainID == 61000 ) ? " SELECTED" : "";
%>
<option value="<%= p.chainID % 20000; %>"<%= s%>><%= p.id %> [paraID <%= p.chainID % 20000; %>]</option>
  <% } %>
<% } %>
</select>
  <div>
  <button id="calculate" class="btn btn-primary">Calculate</button>
  </div>
  <div>
    <b>Derivative EVM Account:</b><br/>
    <div id="accountID20">
    Calculate
    </div>
    <br/>
    <b>Derivative Substrate Account:</b><br/>
    <div id="accountID32">
    Calculate
    </div>
    <br/>
  </div>
</div>

<script src="/multilocation.js"></script>
<script>
var chains = <%- JSON.stringify(chains); %>;
$('#calculate').on('click', async function(e) {
  let address = document.getElementById("address").value;
  let paraID = $( "#paraID" ).val() % 20000;
  let [a20, a32] = await calculateMultilocationDerivative(paraID, address);
  document.getElementById("accountID20").innerHTML = presentFullAddress(a20);
  document.getElementById("accountID32").innerHTML = presentFullAddress(a32);
});
$(document).ready(function() {
//  showmultilocation(0, 'polkadot')
})
</script>
<%- include('footer', {apiUrl: apiUrl}); %>

