<%- include('header', {chainInfo: chainInfo, title: "Project"}); %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Polkaholic</a></li>
    <li class="breadcrumb-item"><a href='/chain/<%= router.id; %>#routers'><%= router.chainName; %> Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= router.routerName; %></li>
  </ol>
</nav>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200">Project Name</td>
      <td>
        <%= router.routerName %>
      </td>
    </tr>
    <tr>
      <td width="200">TVL (across all pools)</td>
      <td>
        <%= uiTool.currencyFormat(router.tvl) %>
      </td>
    </tr>

    <tr>
      <td>Project Address</td>
      <td><a href="/address/<%= router.asset %>"><%= router.asset %></a></td>
    </tr>
  </body>
</table>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="assetTab" role="tablist">
<%
let tabs = [
  { title: "Pools", target: "pools" },
];
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
 <%- include("poolstab", {}) %>
</div>

<script>
var routerAssetChain = '<%- router.routerAssetChain; %>';
var asset = '<%- router.asset; %>';
var chainID = '<%- router.chainID; %>';
var tabs = <%- JSON.stringify(tabs); %>;
</script>
<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/assetui.js"></script>
<script src="/chainui.js"></script>
<script src="/router.js"></script>
