<%- include('header', {chainInfo: chainInfo}); %>
<h4>Search Results</h4>
<% if ( searchresults.length > 0 ) { %>
<table class="table">
<%
for (var i = 0; i < searchresults.length; i++) {
    let f = searchresults[i];
    let c = ( i % 2 ) ? 'r1' : 'r0';
 %>
 <tr class='<%= c; %>'>
<%- uiTool.presentSearchResult(f); %>
 </tr>
<% } %>
</table>
<% } else { %>
  No results found for <%= search %>
<% } %>

<%- include('footer'); %>
