<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `WASM Code` }); %>

<table id="tablespecversions" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th><%- include("tooltip", {k: "specversion"}) %>Spec Version</th>
          <th><%- include("tooltip", {k: "block"}) %>Block Number</th>
          <th><%- include("tooltip", {k: "blockhash"}) %>Block Hash</th>
          <th><%- include("tooltip", {k: "specversionfirstseen"}) %>First Seen</th>
        </tr>
    </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showspecversions(id);
  setupapidocs("chain", "specversions", `${id}`);
});
</script>
<script src="/chainui.js"></script>

