<%- include('header', {chainInfo: chainInfo, title: "Sponsor Offers"}); %>

<table class="table table-striped table-hover  table-sm">
  <thead>
    <tr>
      <th>Section/Method</th>
      <th>Offer URL</th>
      <th>Description</th>
      <th>Balance USDMin</th>
      <th>Reward</th>
    </tr>
  </thead>
  <tbody>
  <% for (let i = 0; i < sponsoroffers.length; i++) {
       let c = sponsoroffers[i];
       let pallet_method = `${c.section}:${c.method}`
       if ( pallet_method ) {
         let cid = i + "-" + id;
         let c_section = c.section;
         let c_method = c.method;    %>
    <tr>
      <td><%= `call ${i} - ${c_section} ${c_method}`; %></td>
      <td><%=`  ${c.offerURL} `; %></td>
      <td><%= c.description %></td>
      <td><%= c.balanceUSDMin %></td>
      <td><%= c.reward %> <%= c.symbol %></td>
    </tr>
    <%
       }
    }
  %>
  </tbody>
</table>


<%- include('footer', {apiUrl: apiUrl}); %>
