
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= name; %></h5>
    <b>7d</b>: <%= uiTool.presentNumber(num7d); %> (<%= uiTool.currencyFormat(valUSD7d, 0); %>)<br>
    <b>30d</b>: <%= uiTool.presentNumber(num30d); %> (<%= uiTool.currencyFormat(valUSD30d, 0); %>)<br>
    <b>Total</b>: <%= uiTool.presentNumber(numTot); %> (<%= uiTool.currencyFormat(valUSDTot, 0); %>)
  </div>
</div>
