<%
function beautifyCamelCase(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%if (paraID == 0){%>
      <h5 class="card-title"><%= beautifyCamelCase(relayChain) %> (Mainnet)</h5>
    <%} else {%>
      <h5 class="card-title"><%= beautifyCamelCase(relayChain) %> Para ID</h5>
      <%= paraID; %>
    <%} %>
    <p></p>
    <h5 class="card-title"># Holders</h5>
    <%= uiTool.presentNumber(numHolders); %>
    <p></p>
    <h5 class="card-title">Total Issuance</h5>
    <%= uiTool.presentNumber(totalIssuance); %>
  </div>
</div>
