<%- include('header', {chainInfo: chainInfo, title: "Admin Suggestions"}); %>

<table id="tableaddresssuggestion" class="display" style='width: 100%'>
   <thead>
     <tr>
          <th>Address</th>
          <th>Submitter</th>
          <th>Nickname</th>
          <th>Address Type</th>
          <th>Submitted</th>
          <th>Status</th>
          <th>Judgement</th>
     </tr>
<% for (let i=0; i < suggestions.length; i++) {
     let s = suggestions[i]
%>
     <tr>
          <td><%- uiTool.presentID(s.address); %></td>
          <td><%- uiTool.presentID(s.submitter, true); %></td>
          <td><%= s.nickname; %></td>
          <td><%= s.addressType; %></td>
          <td><%= s.submitDT; %></td>
          <td><%= s.status; %></td>
          <td>
<% if ( s.status == "Submitted" ) { %>
<a href='/admin/suggestjudgement/<%= s.address; %>/<%= s.submitter; %>/Accepted'>Accept</a> | 
<a href='/admin/suggestjudgement/<%= s.address; %>/<%= s.submitter; %>/Rejected'>Reject</a> 
<% } %>
	  </td>
     </td>
<%
}
%>
</table>

<%- include('footer', {apiUrl: ""}); %>
