<%- include('header', {chainInfo: chainInfo, title: "Asset"}); %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/xcmassets">Polkaholic XCM Assets</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= symbol; %></li>
  </ol>
</nav>

<%- include("priceUSD_routerAsset", { priceUSD_routerAsset, symbol, relayChain, asset: false } ); %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="symbolTab" role="tablist">
<%
let tabs = [
  { title: "Chains with Symbol", target: "chains" },
  { title: "Pools", target: "pools" },
];
for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="chains" role="tabpanel" aria-labelledby="chains-tab">
    <table id="tablechains" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Chain</th>
          <th>Your Holdings</th>
          <th>CurrencyID</th>
          <th># Holders</th>
          <th>Price</th>
          <th>Total Free</th>
          <th>TVL Free</th>
          <th>Total Reserved</th>
          <th>TVL Reserved</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tab-pane" id="pools" role="tabpanel" aria-labelledby="pools-tab">
   <%- include("poolstab", {}) %>
  </div>
</div>



<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script>
var symbol = '<%- symbol; %>';
var tabs = <%- JSON.stringify(tabs); %>;
var accounts = <%- JSON.stringify(accounts); %>;
var chains = <%- JSON.stringify(chains); %>;
var priceUSD_routerAsset = <%- JSON.stringify(priceUSD_routerAsset); %>;
var relayChain = chains[0].relayChain;

<%
let routerAssetChain = null;
let routerName = null;
let liquid = 10;
for ( const p of priceUSD_routerAsset ) {
    if ( p.liquid < liquid ) {
      routerAssetChain = p.routerAssetChain;
      routerName = p.routerName;
      liquid = p.liquid;
    }
}
%>

let routerAssetChain = "<%= routerAssetChain %>";
let routerName = "<%= routerName; %>";
showRouterAssetChainPrices(routerAssetChain, routerName);
</script>


<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/symbol.js"></script>
<script src="/poolsui.js"></script>
