<%- include('header', {chainInfo: chainInfo, title: "XCM Timeline"}); %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Polkaholic</a></li>
    <li class="breadcrumb-item"><a href="/chains/polkadot#xcmtransfers">XCM Extrinsics</a></li>
    <% if(hashType == 'extrinsic'){%>
      <li class="breadcrumb-item">Extrinsic <a href='/tx/<%= hash; %>'><%- uiTool.getShortHash(hash, true, false); %></a></li>
    <% } else if (hashType == 'xcm') {%>
      <li class="breadcrumb-item">XCM Message <a href='/xcmmessage/<%= hash; %>'><%- uiTool.getShortHash(hash, true, false); %></a></li>
    <% } %>
    <li class="breadcrumb-item active" aria-current="page">XCM Timeline</li>
  </ol>
</nav>

<h4>XCM Timeline</h4>
<%
let timelineRows = uiTool.getTimelineRows(timeline);
let firstMessage = null;
%>
<div id="xcmmessagesmap">
 <h6>XCM Messages with Instructions</h6>
 <table  class="table table-striped table-hover">
    <tr><th>Msg Hash</th><th>XCM Instructions</th><th>Assets</th></tr>
   <% for (let k = 0; k < xcmmessages.length; k++) {
    let xcm = xcmmessages[k];  %>
    <tr>
     <td><B>Hash: </B><a href='/xcmmessage/<%= xcm.msgHash; %>'><%- uiTool.getShortHash(xcm.msgHash, false); %></a><br>
     <B>Hex:</B> <%- uiTool.getShortHash(xcm.msgHex, true) %><%=` (Len=`%><%- `${(xcm.msgHex.length/2)-1})`%><br/>
     <% if ( xcm.destAddress ) {
       let dest = (xcm.destSS58Address != undefined)? xcm.destSS58Address : xcm.destAddress
       %>
       <B>Dest Addr:</B>
       <img src="/identicon/<%= dest; %>" class="rounded-start"  width="25px"  loading="lazy"/>
       <a href='/account/<%= dest %>'>
         <code><%= dest; %></code>
       </a>
       <%- uiTool.showAccountInfo(xcm, "destAddress") %>
       <br/>
     <% } %>
     <B>Origination [Para ID: <%= xcm.paraID %>]:</B> <%= uiTool.capitalizeFirstLetter(xcm.id) %>
     <% if ( xcm.blockNumberSent ) { %>
       (<a href='/block/<%= xcm.id %>/<%= xcm.blockNumberSent %>'><%= xcm.blockNumberSent %></a>)
     <% } %>
     <br/>
     <B>Destination: [Para ID: <%= xcm.paraIDDest %>]</B> <%= uiTool.capitalizeFirstLetter(xcm.idDest) %>
     <% if ( xcm.blockNumberReceived ) { %>
       (<a href='/block/<%= xcm.idDest %>/<%= xcm.blockNumberReceived %>'><%= xcm.blockNumberReceived %></a>)
     <% } %>
     <br/>
     <B>MessageType:</B> <%= xcm.msgType %><%= ` (${uiTool.capitalizeFirstLetter(xcm.id)} -> ${uiTool.capitalizeFirstLetter(xcm.idDest)})` %><br/>
     <B>Relay Chain:</B> <%= uiTool.capitalizeFirstLetter(xcm.relayChain); %><br/>
     <% if ( xcm.sentTS ) { if ( firstMessage == null ) { firstMessage = uiTool.presentTS(xcm.sentTS); } %>
        <B>Sent:</B> <%= uiTool.presentTS(xcm.sentTS) %> <br/>
     <% } %>
     <% if ( xcm.receivedTS ) { %>
        <B>Received:</B> <%= uiTool.presentTS(xcm.receivedTS) %> <br/>
     <% } %>
     <B>Delivery Status: </B>
     <% if ( xcm.receivedTS && xcm.sentTS) { %>
       Delivered
     <% } else if (xcm.sentTS){%>
       Sent: msg has been successfully sent but not yet received by the destination chain
     <% } else if (xcm.receivedTS && xcm.sentTS == undefined){ %>
       Delivered: msg is received by destination chain but origination is missing
     <% } else { %>
       Pending/Unknown
     <% } %><br/>
     <B>Execution Status:</B>
        <% if ( xcm.destStatus == -1 ) { %>
	    <button type="button" class="btn btn-warning text-capitalize">Unknown</button>
	<% } else if ( xcm.destStatus == 0 ) { %>
        <% if ( xcm.errorDesc ) { %>
	    <button type="button" class="btn btn-danger text-capitalize"><%= xcm.errorDesc %></button>
	<% } %>
	<% } else if ( xcm.destStatus == 1 ) { %>
	    <button type="button" class="btn btn-success text-capitalize">Success</button>
	<% } %>
	<br/>
	<% if ( xcm.executedEventID ) { %>
        <%- include("eventaccordion", {eventID: xcm.executedEventID}); %>
	<% } %>
    <br/>
     <% if ( xcm.parentMsgHash ) { %>
       <br> <B>Parent</B>: <br> <a href='/timeline/<%= xcm.parentMsgHash %>/xcm/<%= xcm.parentBlocknumber %>'><%- uiTool.getShortHash(xcm.parentMsgHash, false); %></a> sentAt: <%= xcm.parentSentAt; %>
     <% } %>

     <% if ( xcm.childMsgHash ) { %>
       <br> <B>Child</B>: <br> <a href='/timeline/<%= xcm.childMsgHash %>/xcm/<%= xcm.childBlocknumber %>'><%- uiTool.getShortHash(xcm.childMsgHash, false); %></a> sentAt: <%= xcm.childSentAt; %>
     <% } %>
     </td>
     <td>
     <%- include("jsonaccordion", { id: k, title: "View Instructions", params: xcm.msg, width: 600 }) %>
     </td>
     <td>
     <% if ( xcm.assetChains ) {
        let assetChains = xcm.assetChains; %>
        <% for (var i = 0; i < assetChains.length; i++) {
          let ac = assetChains[i]
          let acID = `msgAc${i}`
          %>
          <div id="<%= acID; %>" class="renderjson"></div>
          <script>document.getElementById("<%= acID; %>").appendChild(renderjson.set_show_to_level(5)(<%- JSON.stringify(ac) %>));</script>
      <% } %>
      <% let assetsReceived = xcm.assetsReceived;
         if ( assetsReceived ) {
	     let ar = JSON.parse(assetsReceived);
             for (var j = 0; j < ar.length; j++) {
	        let arID = "ar" + j + "_" + xcm.msgHash; %>
  	        <B> Received </B>
                <div id="<%= arID; %>" class="renderjson"></div>
                <script>document.getElementById("<%= arID; %>").appendChild(renderjson.set_show_to_level(5)(<%- JSON.stringify(ar[j]) %>));</script>
	  <% } %>
	<% } %>
     <% } %>
     </td>
    </tr>
   <% } %>
  </table>
</div>

<h6>Visualization</h6>
<div id="timelineNotes">
  <small>
  Legend: Horizontal axis: Timestamp
    <% if ( firstMessage ) { %>
     (starting at <%= firstMessage; %>);
    <% } %>
    Vertical: Chain (topmost sending, bottommost receiving)
  </small>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="timeline" style="height: 180px; width: 100%"></div>
<hr/>
<div><i>Select any block in the timeline above to see extrinsics, events, and traces in the table below:</i></div>

<div>
  <button id="btnShowAllTimelineObjects" type="button" class="btn-sm btn-outline-primary">Show All Events</button>
</div>
<table id="tableobjects" class="display" style='width: 100%'>
  <thead>
    <tr>
      <th>Type</th>
      <th>ID</th>
      <th>Section:Method</th>
      <th>Extrinsic / Event / Trace</th>
      <th>Time</th>
    </tr>
  </thead>
</table>

<style>
.timelineobject {
  width: 100%;
  height: 100px;
}
</style>
<script>
function showTimelineObjects(chain_id, blockNumber) {
   let objects = null;
   for ( let i = 0; i < rowsRaw.length; i++ ) {
       let t = rowsRaw[i];
       if ( t[0] == chain_id && t[1] == blockNumber ) {
         objects = t[4];
       }
   }
   showobjects(objects);
}

function showAllTimelineObjects() {
   let objects = [];
   for ( let i = 0; i < rowsRaw.length; i++ ) {
       let t = rowsRaw[i];
       objects = objects.concat( t[4] );
   }
   showobjects(objects);
}

let rowsRaw = <%- JSON.stringify(timelineRows); %>
// 0: id, 1: blockNumber
let rows = rowsRaw.map( (t) => {
    // t[4] has the objects, t[5] has the tooltip
    let extra = ( t[5] == undefined ) ? {} : t[5];
    let str = JSON.stringify(extra);
    return [ t[0], t[1], str, new Date(1000*t[2]), new Date(1000*t[3]) ];
});
google.charts.load('current', {
  'packages': ['timeline']
});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var container = document.getElementById('timeline');
  var chart = new google.visualization.Timeline(container);
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn({
    type: 'string',
    id: 'Chain'
  });
  dataTable.addColumn({
    type: 'string',
    id: 'Message'
  });
  dataTable.addColumn({
    type: 'string',
    role: 'tooltip',
  });
  dataTable.addColumn({
    type: 'date',
    id: 'Start'
  });
  dataTable.addColumn({
    type: 'date',
    id: 'End'
  });
  dataTable.addRows(rows);
  var options = {
    timeline: {
      colorByRowLabel: true
    },
    backgroundColor: '#ffd'
  };

  google.visualization.events.addListener(chart, 'select', function () {
     var selection = chart.getSelection();
     if (selection.length > 0) {
        // 0: id, 1: blockNumber
        showTimelineObjects(dataTable.getValue(selection[0].row, 0), dataTable.getValue(selection[0].row, 1));
     }
  });
  chart.draw(dataTable, options);
  if ( rowsRaw.length > 0 ) {
     showAllTimelineObjects();
  }
}

$('#btnShowAllTimelineObjects').on('click', function(e) {
   showAllTimelineObjects();
});

</script>
<script src="/timeline.js"></script>
<%- include('footer', {apiUrl: "/"}); %>
