<%- include('header', {chainInfo: chainInfo, title: "Account"}); %>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2  text-center">
      <img src="/identicon/<%= address; %>"  class="rounded-start"  width="128"  loading="lazy" class="card-img-center"/><br/>
      <% if ( contract ) { %>
          <%- contract.assetType %>
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Token: <%- contract.assetName; %></h5>
        <table class="table table-hover table-bordered">
	<tr>
		<td>Symbol:</td>
		<td>
		<% if ( contract.symbol ) { %>
		  <a href='/symbol/<%= contract.symbol; %>'><%- contract.localSymbol %></a>
		<% } else if ( contract.localSymbol ) { %>
		  <%- contract.localSymbol %>
		<% } %>
		</td>
	</tr>
	<tr>
		<td>Contract:</td>
		<td>
		  <a href='/address/<%= address; %>'><%- uiTool.getShortHash(contract.asset) %></a>
		</td>
	</tr>
	<tr>
		<td>Price:</td>
		<td><%- uiTool.currencyFormat(contract.priceUSD); %>
		</td>
	</tr>
	<tr>
		<td>Total Supply:</td>
		<td><%- uiTool.presentFloat(contract.totalSupply); %></td>
	</tr>
	<tr>
		<td>Fully Diluted Market Cap:</td>
		<td><%- uiTool.currencyFormat(contract.totalSupply*contract.priceUSD) %></td>
	</tr>
	<tr>
		<td>Holders:</td>
		<td><%- uiTool.presentNumber(contract.numHolders) %> addresses</td>
	</tr>
	<% if ( contract.token0 && contract.token1 ) { %>
	<tr>
	   <td>Contract:</td>
	   <td><a href='/address/<%- contract.token0 %>'><%- uiTool.getShortHash(contract.token0) %></a> / <a href='/address/<%- contract.token1 %>'><%- uiTool.getShortHash(contract.token1) %></a></td>
	</tr>
	<% } %>
	<tr>
	   <td>Decimals:</td>
	   <td><%= contract.decimals %></td>
	</tr>
	</table>
      </div>
    </div>
  </div>
</div>

<div id="unfinalized">
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" style="font-size:1rem" id="accountTab" role="tablist">
<%
let tabs = [
{ title: "Your Holdings", target: "accountassets" },
{ title: "Liquidity Pools", target: "assetsrelated" },
{ title: "Transactions", target: "evmtxs" },
{ title: "Transfers", target: "transfers" },
{ title: "XCM Transfers", target: "xcmtransfers" },
];

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane" id="accountassets" role="tabpanel" aria-labelledby="accountassets-tab">
    <table id="tableaccountassets" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Your Account</th>
          <th>Your Holdings</th>
          <th>Value (USD)</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane" id="evmtxs" role="tabpanel" aria-labelledby="evmtxs-tab">
    <table id="tableevmtxs" class="display" style='width: 100%'>
      <thead>
        <tr>
      <th>Tx Hash</th>
      <th>Method</th>
      <th>Block</th>
      <th>Age</th>
      <th>From</th>
      <th>To</th>
      <th>Value</th>
      <th>Fee</th>
        </tr>
      </thead>
    </table>
  </div>
  
  <div class="tab-pane" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
    <table id="tabletransfers" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Event ID</th>
          <th>From</th>
          <th>To</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Amount (USD)</th>
          <th>Date</th>
          <th>Chain</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tab-pane" id="xcmtransfers" role="tabpanel" aria-labelledby="xcmtransfers-tab">
    <table id="tablexcmtransfers" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Extrinsic</th>
          <th>Amount Sent</th>
          <th>Value (USD)</th>
          <th>Sender</th>
          <th>Beneficiary</th>
          <th>From Chain</th>
          <th>To Chain</th>
          <th>Date</th>
          <th>Chain</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane" id="assetsrelated" role="tabpanel" aria-labelledby="assetsrelated-tab">
    <table id="tableassetsrelated" class="display" style='width: 100%'>
    <thead>
    <tr>
      <th scope="col">Asset</th>
      <th scope="col">Your Holdings</th>
      <th scope="col"># Holders</th>
      <th scope="col">Current Price (USD)</th>
      <th scope="col">Total Free</th>
      <th scope="col">TVL</th>
    </tr>
    </thead>
    </table>
  </div>

</div>

<script>
var address = '<%= address; %>';
var chainID = '<%= chainID; %>';
var accounts = <%- JSON.stringify(accounts); %>;
var requestedChainAddress = '<%= address; %>';
var tabs = <%- JSON.stringify(tabs); %>;
var chainListStr = '<%= chainListStr; %>';
var isEVM = 1;
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/accountui.js"></script>
<script src="/assetui.js"></script>
<script src="/token.js"></script>
