<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Trace`}); %>
<%- include('chainheader', { chain: chain, title: `Block ${blockNumber}` }); %>

<ul class="nav nav-tabs" id="tracesTab" role="tablist">
<%
let tabs = [
{ title: "Trace", target: "traces" }
];

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="recentblocks" role="tabpanel" aria-labelledby="recentblocks-tab">
<table id="tabletraces" class="display" style='width: 100%'>
  <thead>
    <tr>
      <th><%- include("tooltip", {k: "traceid"}) %>Trace ID</th>
      <th><%- include("tooltip", {k: "sectionstorage"}) %>Section:Storage</th>
      <th><%- include("tooltip", {k: "storagekey"}) %>Storage Key</th>
      <th><%- include("tooltip", {k: "storagevalue"}) %>Storage Value</th>
    </tr>
  </thead>
</table>
</div>
</div>

<script src="/trace.js"></script>
<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
let blockNumber = <%= blockNumber %>;
let blockHash = '';
let tabs = <%- JSON.stringify(tabs); %>;
setuptabs(tabs, id);
$(document).ready(function() {
    setupapidocs("trace", "", `${chainID}/${blockNumber}`);
});
</script>
