<%- include('header', {chainInfo: chainInfo, title: `${tx.chainName} Extrinsic`}); %>
<h4>Extrinsic #<%=`${tx.extrinsicID}`%></h4>
<%
let f = tx;
let xcmInfoFound = ( f.xcmInfo != undefined &&
( ( ( typeof f.xcmInfo  === 'object' ) && f.xcmInfo.origination != undefined && f.xcmInfo.destination != undefined && f.xcmInfo.relayChain != undefined ) || Array.isArray(f.xcmInfo) ) ) ? true : false
let assetTransferFound = (  tx.transfers && tx.transfers.length > 0 )? true : false
let txResult = (f.result != undefined)? f.result == 1: true //by default tx result is true (until we back fill it)
let errStr = (f.result != undefined)? f.err: false //by default tx result is true (until we back fill it)
if (txResult){
    if (typeof txResult === 'object') {
      txResult = JSON.stringify(txResult)
    }
}
let fee = (f.fee != undefined)? f.fee: '-'
let feeUSD = (f.feeUSD != undefined)? `($${f.feeUSD})`: ''
let chainSymbol = (f.chainSymbol != undefined)? f.chainSymbol: ''
%>
<script src="/tx.js"></script>
<div class="scrollable">
<table class="table table-hover table-bordered">
  <tbody>

    <tr>
      <td><%- include("tooltip", {k: "extrinsictimestamp"}) %>Timestamp</td>
      <td class='date'>
        <%= uiTool.presentTS(f.ts); %>
        <%= uiTool.presentSecondsAgoTS(f.ts); %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "extrinsichash"}) %>Extrinsic Hash</td>
      <td>
        <code><%= f.extrinsicHash; %></code>
      </td>
    </tr>

    <% if ( f.evm !== undefined ) { %>
        <tr>
          <td><%- include("tooltip", {k: "evmtransaction"}) %>EVM Transaction</td>
          <td><%- include("extrinsicevmlink", {evm: f.evm}); %></td>
        </tr>
    <% } %>

    <% if ( xcmInfoFound) {  %>
        <% if ( assetTransferFound) { %>
        <tr>
          <td><%- include("tooltip", {k: "assettransferred"}) %>Tokens Transferred <B><%-`[${tx.transfers.length }]`%></B></td>
          <td><%- include("assettransferred", {transfers: f.transfers}); %></td>
        </tr>
        <% } %>
        <tr>
          <td><%- include("tooltip", {k: "xcmtimeline"}) %>XCM Timeline</td><td>
	  <% if ( Array.isArray(f.xcmInfo) ) { console.log(f.xcmInfo); %>
	    <% for (let i = 0 ; i < f.xcmInfo.length; i++) { %>
            <div>
	    <%- include("xcminfo", {xcm: f.xcmInfo[i], traceID: null}); %>
	    </div>
	    <% } %>
	  <% } else { %>
            <%- include("xcminfo", {xcm: f.xcmInfo, traceID: f.traceID}); %>
	  <% } %>
        </tr>
    <% } %>

    <tr>
      <td><%- include("tooltip", {k: "finalized"}) %>Finalized</td>
      <td><span id="status"><%- include("finalized", {finalized: (f.status=="finalized" || f.status == "finalizeddest")}); %></span></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "result"}) %>Result</td>
      <td><%- include("txResult", {success: txResult, errorMsg: errStr}); %></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "block"}) %>Block</td>
      <td>
        <a href='/blocks/<%= f.id; %>'><%= f.chainName; %></a>
        <%- include("blockNumber", {chainID: f.id, blockNumber: f.blockNumber}); %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "account"}) %>Sender</td>
      <td>
        <% if (f.signer){  %>
	  <%- uiTool.presentBlockiesOrIdenticon(f.signer, 25) %>
          <a href='/account/<%= paraTool.getPubKey(f.signer) %>'>
            <code><%= f.signer; %></code>
          </a>
	         <%- uiTool.showAccountInfo(f, "fromAddress") %>
        <% } else {%>
          <%- `-`; %>
        <% } %>
      </td>
    </tr>

    <% if ( !xcmInfoFound && assetTransferFound) { %>
    <tr>
        <td><%- include("tooltip", {k: "assettransferred"}) %>Tokens Transferred <B><%-`[${tx.transfers.length }]`%></B></td>
        <td><%- include("assettransferred", {transfers: f.transfers}); %></td>
    </tr>
    <% } %>
    <tr>
      <td><%- include("tooltip", {k: "module"}) %>Module</td>
      <td><%- include("module", {chainID: f.id, section: f.section, method: f.method}); %></td>
    </tr>
<%  if ( f.section == "contracts" && f.method == "call" && f.identifier ) { %>
    <tr>
       <td><%- include("tooltip", {k: "decodedwasm"}) %>Decoded WASM Call Data</td>
       <td>
       <button type="button" class="btn-lg btn-primary"><%= f.identifier %></button>
       <% if ( f.decodedCall ) { %>
       <code><%- f.decodedCall; %></code>
       <% } %>
       </td>
    </tr>
    <% if ( f.decodedEvents && f.decodedEvents.length > 0 ) { %>
    <tr>
      <td><%- include("tooltip", {k: "params"}) %>Decoded WASM Events</td>
      <td><%- include("decode", {id: "events" + f.extrinsicHash, obj: f.decodedEvents, verify: null,  size: [] }); %></td>
    </tr>
    <% } %>
<% } %>
    <tr>
      <td><%- include("tooltip", {k: "params"}) %>Params</td>
      <td><%- include("decode", {id: f.extrinsicHash, obj: f.params, verify: null,  size: []  }); %></td>
    </tr>
    <% if ( f.lifetime ) { %>
    <tr>
      <td><%- include("tooltip", {k: "lifetime"}) %>Life Time</td>
      <td>
        <% if ( f.lifetime.isImmortal > 0 ) { %>
     Immortal
        <% } else { %>
           <%- include("blockNumber", {chainID: f.id, blockNumber: f.lifetime.birth}); %> -
           <%- include("blockNumber", {chainID: f.id, blockNumber: f.lifetime.death}); %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td><%- include("tooltip", {k: "nonce"}) %>Nonce</td>
      <td><%= f.nonce; %></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "txfees"}) %>Fee</td>
      <td><%- tx.fee; %> <%- tx.chainSymbol; %>
      <% if (tx.feeUSD){  %>
        (<%- uiTool.currencyFormat(tx.feeUSD, tx.priceUSD, tx.priceUSDCurrent); %> )
     <% } %>
      </td>
    </tr>
<% if ( tx.weight ) { %>
    <tr>
      <td><%- include("tooltip", {k: "weight"}) %>Weight</td>
      <td><%- tx.weight %></td>
    </tr>
<% } %>

      <td><%- include("tooltip", {k: "specversion"}) %>Spec Version</td>
      <td>
        <%- uiTool.presentSpecVersion(f.id, f.specVersion); %>
      </td>
    </tr>
    <% if ( typeof tx.signature === 'object' && tx.signature !== null ) {
        let signType = Object.keys(tx.signature)
        let signature = tx.signature[signType]
        %>
        <tr>
          <td><%- include("tooltip", {k: "substrateSignature"}) %>Signature</td>
          <td><%- signature; %></td>
        </tr>
    <% } %>

    <tr>
      <td><%- include("tooltip", {k: "events"}) %>Events</td>
      <td>
        <% if ( f.events ) { %>
        <%- include("events", {events: f.events, blockNumber: f.blockNumber, chainID: f.chainID}); %>
        <% } else { %>
        None
        <% } %>
      </td>
    </tr>
</table>
</div>

<script>
let tabs = [];
let txHash = '<%= tx.extrinsicHash; %>';
let chainID = '<%= f.chainID; %>';
let defHash = "#overview";
$(document).ready(function() {
  showtxstatus("<%= tx.extrinsicHash %>");
});
</script>

<script src="/wasmcontractui.js"></script>
<%- include('footer', {apiUrl: apiUrl}); %>
