<%- include('header', {chainInfo: chainInfo, title: `${tx.chainName} Extrinsic`}); %>
<h4>Transaction #<%=`${tx.extrinsicID}`%></h4>
<%
let f = tx;
let txResult = (f.result != undefined)? f.result == 1: true //by default tx result is true (until we back fill it)
let errStr = (f.result != undefined)? f.err: false //by default tx result is true (until we back fill it)
if (txResult){
    if (typeof txResult === 'object') {
      txResult = JSON.stringify(txResult)
    }
}
let fee = (f.fee != undefined)? f.fee: '-'
let feeUSD = (f.feeUSD != undefined)? `($${f.feeUSD})`: ''
let chainSymbol = (f.chainSymbol != undefined)? f.chainSymbol: ''
%>
<script src="/tx.js"></script>
<table class="table table-hover table-bordered">
  <tbody>

    <tr>
      <td><%- include("tooltip", {k: "extrinsictimestamp"}) %>Timestamp</td>
      <td class='date'>
        <%= uiTool.presentTS(f.ts); %>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "blocktimestamp"}) %>Block Time</td>
      <td>
        <%= uiTool.presentSecondsAgoTS(f.ts); %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "extrinsichash"}) %>Extrinsic Hash</td>
      <td>
        <code><%= f.extrinsicHash; %></code>
      </td>
    </tr>

    <% if ( f.evm !== undefined ) { %>
        <tr>
          <td><%- include("tooltip", {k: "evmtransaction"}) %>EVM Transaction</td>
          <td><%- include("extrinsicevmlink", {evm: f.evm}); %></td>
        </tr>
    <% } %>

    <% if ( f.xcmInfo ) {  %>
        <tr>
          <td><%- include("tooltip", {k: "xcmtimeline"}) %>XCM Timeline</td>
          <td><%- include("xcminfo", {xcm: f.xcmInfo}); %></td>
        </tr>
    <% } %>

    <tr>
      <td><%- include("tooltip", {k: "finalized"}) %>Finalized</td>
      <td><span id="status"><%- include("finalized", {finalized: (f.status=="finalized" || f.status == "finalizeddest")}); %></span></td>
    </tr>
    <% if ( f.lifetime ) { %>
    <tr>
      <td><%- include("tooltip", {k: "lifetime"}) %>Life Time</td>
      <td>
        <% if ( f.lifetime.isImmortal > 0 ) { %>
     Immortal
        <% } else { %>
           <%- include("blockNumber", {chainID: f.id, blockNumber: f.lifetime.birth}); %> -
           <%- include("blockNumber", {chainID: f.id, blockNumber: f.lifetime.death}); %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td><%- include("tooltip", {k: "chain"}) %>Chain</td>
      <td>
        <a href='/chain/<%= f.id; %>'><%= f.chainName; %></a>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "block"}) %>Block</td>
      <td>
        <%- include("blockNumber", {chainID: f.id, blockNumber: f.blockNumber}); %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "account"}) %>Account</td>
      <td>
        <% if (f.signer){  %>
	  <%- uiTool.presentBlockiesOrIdenticon(f.signer, 25) %>
          <a href='/account/<%= paraTool.getPubKey(f.signer) %>'>
            <code><%= f.signer; %></code>
          </a>
	         <%- uiTool.showAccountInfo(f, "fromAddress") %>
        <% } else {%>
          <%- `-`; %>
        <% } %>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "nonce"}) %>Nonce</td>
      <td><%= f.nonce; %></td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "txfees"}) %>Fee</td>
      <td><%- tx.fee; %> <%- tx.chainSymbol; %>
      <% if (tx.feeUSD){  %>
        (<%- uiTool.currencyFormat(tx.feeUSD, tx.priceUSD, tx.priceUSDCurrent); %> )
     <% } %>
      </td>
    </tr>
<% if ( tx.weight ) { %>
    <tr>
      <td><%- include("tooltip", {k: "weight"}) %>Weight</td>
      <td><%- tx.weight %></td>
    </tr>
<% } %>
    <tr>
      <td><%- include("tooltip", {k: "result"}) %>Result</td>
      <td><%- include("txResult", {success: txResult, errorMsg: errStr}); %></td>
    </tr>

      <td><%- include("tooltip", {k: "specversion"}) %>Spec Version</td>
      <td>
        <%- uiTool.presentSpecVersion(f.id, f.specVersion); %>
      </td>
    </tr>
    <tr>
        <% if ( tx.transfers && tx.transfers.length > 0 ) { %>
            <tr>
              <td><%- include("tooltip", {k: "assettransferred"}) %>Tokens Transferred <B><%-`[${tx.transfers.length }]`%></B></td>
              <td>
                <table>
        	  <tr>
        	    <th>From</td>
        	    <th>To</td>
              <th>Token</td>
              <th>Value</td>
        	  </tr>
        	  <% for (let t = 0 ; t < tx.transfers.length; t++) {
        	    let tok = tx.transfers[t];
        	  %>
        	    <tr>
                    <td>
                      <% if (tok.from){  %>
                        <%- uiTool.presentBlockiesOrIdenticon(tok.from, 25) %>
                        <a href='/account/<%= paraTool.getPubKey(tok.from) %>'>
                          <%- uiTool.getShortHash(tok.from, true, false) %>
                        </a>
                      <% } else {%>
                        <%- `-`; %>
                      <% } %>
                    </td>
                    <td>
                      <% if (tok.to){  %>
                        <%- uiTool.presentBlockiesOrIdenticon(tok.to, 25) %>
                        <a href='/account/<%= paraTool.getPubKey(tok.to) %>'>
                            <%- uiTool.getShortHash(tok.to, true, false) %>
                        </a>
                      <% } else {%>
                        <%- `-`; %>
                      <% } %>
                    </td>
        	      <td><%- tok.symbol; %> <%- ; %></td>
                  <td><%- tok.amount; %>
                  <% if ( tok.amountUSD ) { %>
                       (<%- uiTool.currencyFormat(tok.amountUSD, tok.priceUSD, tok.priceUSD); %> )
                  <% } %>
                  </td>
        	    </tr>
        	  <% } %>
        	</table>
              </td>
            </tr>
        <% } %>
      <td><%- include("tooltip", {k: "module"}) %>Module</td>
      <td><%- include("module", {chainID: f.id, section: f.section, method: f.method}); %></td>
    </tr>
    <% if ( typeof tx.signature === 'object' && tx.signature !== null ) {
        let signType = Object.keys(tx.signature)
        let signature = tx.signature[signType]
        %>
        <tr>
          <td><%- include("tooltip", {k: "substrateSignature"}) %>Signature</td>
          <td><%- signature; %></td>
        </tr>
    <% } %>
    <tr>
      <td><%- include("tooltip", {k: "params"}) %>Params</td>
      <td><%- include("decode", {id: f.extrinsicHash, obj: f.params, verify: { verification: "extrinsic", blockNumber: f.blockNumber, extrinsicHash: f.extrinsicHash, extrinsicID: f.extrinsicID },  size: []  }); %></td>
    </tr>
<% let decodeWASM = false;
    if ( f.section == "contracts" && f.method == "call"  && f.metadata ) {  decodeWASM = true; %>
    <tr>
       <td><%- include("tooltip", {k: "decodedwasm"}) %>Decoded WASM Call Data</td>
       <td>
       <div id="decodedWASM"></div>
       <script>function decodeWASM() { decodeWASMContractsCall('<%= f.chainID %>', <%- JSON.stringify(f.params); %>, <%- JSON.stringify(f.metadata); %>, "decodedWASM"); }</script>
       </td>
    </tr>
    <tr>
       <td><%- include("tooltip", {k: "wasmcontractmetadata"}) %>WASM Contract Metadata</td>
       <td>
       <%- include("decode", {id: "metadata", obj: JSON.parse(f.metadata), verify: null, size: [] }); %>
       </td>
    </tr>
<% } %>
    <tr>
<% if ( f.xcmdest == undefined && false) { %>
    <td>Compare to</td>
    <td>
      <% if ( chain.subscanURL && false ) {
         let subscanURL = (f.signer)? `${chain.subscanURL}/extrinsic/${f.extrinsicHash}` : `${chain.subscanURL}/extrinsic/${f.extrinsicID}`;
         %>
      <a href="<%= subscanURL; %>" target="_new"><img src="https://cdn.polkaholic.io/subscan.svg" width="16"></a>
      <% }%>
    </td>
<% } %>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "events"}) %>Events</td>
      <td>
        <% if ( f.events ) { %>
        <%- include("events", {events: f.events, blockNumber: f.blockNumber, chainID: f.chainID}); %>
        <% } else { %>
        None
        <% } %>
      </td>
    </tr>
</table>

<script>
let tabs = [];
let txHash = '<%= tx.extrinsicHash; %>';
let chainID = '<%= f.chainID; %>';
let defHash = "#overview";
$(document).ready(function() {
  showtxstatus("<%= tx.extrinsicHash %>");
  <% if ( decodeWASM ) { %>
    decodeWASM();
  <% } %>
});
</script>

<script src="/wasmcontractui.js"></script>
<%- include('footer', {apiUrl: apiUrl}); %>
