<%- include('header', {chainInfo: chainInfo, title: "About Polkaholic"}); %>
<script src="/verify.js"></script>
<script>
let wsEndpoints = <%- JSON.stringify(wsEndpoints); %>;
</script>
<div class="card">
  <div class="card-body">
<% if ( uiTool.verifierEnabled() ) { %>
   <div>
   <% if ( verify.verification == "extrinsic" ) { %>
       <h5>Verify <%= verify.extrinsicID; %> (<%= verify.extrinsicHash %>) on chain <%= verify.id %></h5>
       <div id="status"></div>
       <script>verifyExtrinsic('<%= verify.id %>', '<%= verify.extrinsicID %>', '<%= verify.extrinsicHash %>', <%- JSON.stringify(obj) %>, "live")</script>
   <% } else if ( verify.verification == "event" ) { %>
       <h5>Verify EventID <%= verify.eventID; %> on chain <%= verify.id; %></h5>
       <div id="status"></div>
       <script>verifyEvent('<%= verify.id %>', '<%= verify.blockNumber %>', '<%= verify.eventID %>', <%- JSON.stringify(obj) %>, "live")</script>
   <% } else if ( verify.verification == "block" ) { %>
       <h5>Verify Block <%= verify.eventID; %> on chain <%= verify.id; %></h5>
       <div id="status"></div>
       <script>verifyBlock('<%= verify.id %>', '<%= verify.blockNumber %>', <%- JSON.stringify(obj) %>, "live")</script>
   <% } else if ( verify.verification == "account" ) { %>
       <h5>Verify Account <%= verify.address; %> on chain <%= verify.id; %></h5>
       <div id="status"></div>
       <script>verifyAccount('<%= verify.id %>', '<%= verify.address;  %>', <%- JSON.stringify(obj) %>, "live")</script>
   <% } else { %>
       <h5>Verification Request</h5>
       <div class="alert" role="alert" data-mdb-color="warning"><i class="fas fa-exclamation-triangle"></i>This verification pattern cannot be handled yet.</div>
       <textarea style='width:800px'><%- JSON.stringify(verify); %></textarea>
   <% } %>
   </div>
   <div>
      <h6>Indexed Result:</h6>
      <textarea style='width:800px; height: 200px;'><%- JSON.stringify(obj); %></textarea>
      <h6>On Chain Result Retrieved dynamically from WSEndpoint:</h6>
      <textarea id="live" style='width:800px; height: 200px;'>
      </textarea>
   </div>
   <div>
      <h6>Comparison:</h6>
      <div id="comparison">
      </div>
   </div>
<% } else { %>
       <div class="alert" role="alert" data-mdb-color="warning"><i class="fas fa-exclamation-triangle"></i>Verification features are under construction.</div>
<% } %>
  </div>
</div>

<%- include('footer'); %>
