<hr>
<b><%- m.label; %></b><br/>
<% if ( m.payable ) { %>
  <button type="button" class="btn-sm btn-outline-primary">Payable</button>
<% } %>
<table>
<% for (let j=0; j < m.args.length; j++) { %>
  <% let a = m.args[j]; %>
  <tr><td><%- a.label %></td><td><input type=text placeHolder="<%- a.type.displayName.join(":") %>" size=80></td></tr>
<% } %>
  <tr><th>Return:</th><td><input type=text placeHolder="<%- m.returnType.displayName.join(":") %>" size=80/></td></tr>
</table>
 
<% if ( m.mutates ) { %>
  <button type="button" class="btn-sm btn-primary">Write</button>
<% } else { %>
  <button type="button" class="btn-sm btn-primary">Read</button>
<% } %>

<div>
<small>
<%- m.docs.join(""); %> (<i>Selector:</i> <%- m.selector; %>)
</small>
</div>
