<%- include('header', {chainInfo: chainInfo, title: "WASM Code"}); %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" style="font-size:1rem" id="wasmcodeTab" role="tablist">
<%
let tabs = [
{ title: "Overview", target: "overview" },
];
let metadata = code && code.metadata ? JSON.parse(code.metadata) : null;
let spec = metadata && metadata.V3 && metadata.V3.spec ? metadata.V3.spec : null;
let types = metadata && metadata.types ? metadata.types : null;
var constructors, events, messages, readMessages = [], writeMessages = [];
if ( spec ) {
   constructors = spec.constructors;
   events = spec.events;
   messages = spec.messages;
   readMessages = messages.filter( (m) => {
     return ! m.mutates;
   });
   writeMessages = messages.filter( (m) => {
     return m.mutates;
  });
}

tabs.push({ title: "Code", target: "codesource" });
tabs.push({ title: "Contracts Using Code", target: "contracts" });

for (let i=0; i<tabs.length; i++) {
  let t = tabs[i];
  let title = t.title;
  let target = t.target;
  let id = target + "-tab";
  let href = "#" + target;
%>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="<%= id; %>" data-mdb-toggle="tab" href="<%= href; %>" role="tab" aria-controls="<%= target; %>"><%= title; %></a>
  </li>
<%
}
%>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="overview" role="tabpanel" aria-labelledby="overview-tab">
     <%- include('wasmcodeOverview', {code: code}); %>
  </div>

  <div class="tab-pane" id="codesource" role="tabpanel" aria-labelledby="code-tab">
      <div id="codesourceagg">
      </div>
  </div>
  <div class="tab-pane" id="contracts" role="tabpanel" aria-labelledby="contracts-tab">
    <table id="tablecontracts" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "contractaddress"}) %>Contract Address</th>
          <th><%- include("tooltip", {k: "extrinsichash"}) %>Extrinsic ID</th>
          <th><%- include("tooltip", {k: "instantiatedat"}) %>Instantiated At</th>
          <th><%- include("tooltip", {k: "deployer"}) %>Deployer</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script>
var baseURL = '<%= config.baseURL; %>'
let codeHash = '<%= codeHash; %>';
let tabs = <%- JSON.stringify(tabs); %>;
let isEVM = 0;
let metadata = <%- code.metadata; %>;
let contracts = <%- JSON.stringify(code.contracts); %>;
let source = <%- JSON.stringify(code.source); %>;
let code = <%- JSON.stringify(code); %>;
</script>

<%- include('footer', {apiUrl: apiUrl}); %>
<script src="/wasmcode.js"></script>
