<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `WASM Contracts` }); %>


<table id="tablewasmcontracts" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "wasmcontractaddress"}) %>Contract Address</th>
          <th><%- include("tooltip", {k: "wasmcontractstatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "wasmcontractdeployer"}) %>Deployer</th>
          <th><%- include("tooltip", {k: "wasmcodehash"}) %>Code Hash</th>
          <th><%- include("tooltip", {k: "wasmcontractinstantied"}) %>Instantiated</th>
          <th><%- include("tooltip", {k: "wasmcontracttimestamp"}) %>Date</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
  showwasmcontracts(id);
  setupapidocs("chain", "wasmcontracts", `${id}`);
});
</script>
<script src="/chainui.js"></script>

