<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `WASM Code` }); %>

<table id="tablewasmcode" class="display" style='width: 100%'>
      <thead>
        <tr class="tableheader">
          <th><%- include("tooltip", {k: "wasmcodehash"}) %>Code Hash</th>
          <th><%- include("tooltip", {k: "wasmcodestatus"}) %>Status</th>
          <th><%- include("tooltip", {k: "wasmcodestorer"}) %>Storer</th>
          <th><%- include("tooltip", {k: "wasmcodestored"}) %>Stored</th>
          <th><%- include("tooltip", {k: "wasmcodelanguage"}) %>Language</th>
          <th><%- include("tooltip", {k: "wasmcodecompiler"}) %>Compiler</th>
          <th><%- include("tooltip", {k: "wasmcodetimestamp"}) %>Date</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';

$(document).ready(function() {
  showwasmcode(id);
  setupapidocs("chain", "wasmcode", `${id}`);
});
</script>
<script src="/chainui.js"></script>
