<%

    let out = ``
    let args0 = [];
if ( m.args ) {
  for (let j = 0; j < m.args.length; j++) {
        let a = m.args[j];
        let id = `p${n}-${j}`
        out += `${a.label}<br/><input id="${id}" type=text placeHolder="${a.type.displayName} ${a.type.type}" size=80><br/>`;
  }
}
  
if (m.mutates) {
   out += `<a href="javascript:executeWrite()"  class="btn btn-primary">Write</a>&nbsp;<small>${m.selector}</small>`;
} else {
   out += `<a href="javascript:executeRead()" class="btn btn-primary">Query</a>`;
}
if ( m.docs ) {
   out += `<div>${m.docs.join(" ")}</div>`;
}

%>
<div class="accordion-item">
   <h6 class="accordion-header" id="heading<%= n %>">
      <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapse<%= n; %>" aria-expanded="false" aria-controls="collapse<%= n %>">
      <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i><%= m.label %></button>
   </h6>
   <div id="collapse<%= n %>" class="accordion-collapse collapse" aria-labelledby="heading<%= n; %>" data-mdb-parent="#accordionRead">
     <div class="accordion-body"><%- out; %></div>
   </div>
</div>
