<%
let f = code;
%>
<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200">Code Hash</td>
      <td><code><%- uiTool.getShortHash(f.codeHash, false) %></code>
      </td>
    </tr>

<% if ( f.codeStoredTS && f.extrinsicHash ) { %>
    <tr>
      <td>Created</td>
      <td>
	<%= uiTool.presentTS(f.codeStoredTS); %> @ <%- uiTool.presentFullTx(f.extrinsicHash); %>
        <a href='/blocks/<%= f.chainID; %>'><%= f.chainName; %></a> <%- include("blockNumber", {chainID: f.chainID, blockNumber: f.sourceBlocknumber}); %>
      </td>
    </tr>
<% } else { %>
    <tr>
      <td>Status</td>
      <td>
        <i>Not Deployed</i>
      </td>
    </tr>
<% } %>
<% if ( f.storer_ss58 ) { %>
    <tr>
      <td>Storer</td>
      <td><%- uiTool.presentID(f.storer_ss58) %></td>
    </tr>
<% } %>
<% if ( f.language ) { %>
    <tr>
      <td>Language</td>
      <td><%= f.language %></td>
    </tr>
<% } %>
<% if ( f.compiler ) { %>
    <tr>
      <td>Compiler</td>
      <td><%= f.compiler %></td>
    </tr>
<% } %>

<% if ( metadata ) {
     let c = metadata.contract;
     if ( c && c.name ) { %>
    <tr>
      <th>Contract Name</th>
      <td><%= c.name %></td>
    </tr>
    <tr>
      <td>Metadata</td>
      <td><textarea id="metadata" class="contractdata" disabled><%= JSON.stringify(metadata); %></textarea>
      <div>
         <a class="btn btn-sm text-capitalize" href="javascript:copyToClipboardId('metadata')"><i class="fa-regular fa-copy"></i>Copy</a>
      </div>
       </td>
    </tr>


<%   }
     if ( c && c.version ) { 
%>
    <tr>
      <th>Version</th>
      <td><%= c.version %></td>
    </tr>
<%   }
     if ( c.authors ) { 
%>
    <tr>
      <th>Authors</th>
      <td><%= c.authors.join(",") %></td>
    </tr>
<%   }
   } %>


<% if ( code.verifier == "0x58E0fB1aAB0B04Bd095AbcdF34484DA47Fe9fF77" ) { %>
    <tr>
      <td>Verified?</td>
      <td>
<div><button class="btn-success">Verified by <img src="https://cdn.polkaholic.io/chainide_logo.svg" width="100"/></button></div>
      </td>
    </tr>
<% } %>

    <tr>
      <td>WASM</td>
      <td>
          <textarea id="wasm" class="contractdata" disabled><%- code.wasm %></textarea>
          <div>
            <a class="btn btn-sm text-capitalize" href="javascript:copyToClipboardId('wasm')"><i class="fa-regular fa-copy"></i>Copy</a>
          </div>
      </td>
    </tr>
  </tbody>
</table>
