<%
let c = contract;
%>
<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200">Contract Address</td>
      <td><code><%- uiTool.getShortHash(c.address, false) %></code>
      </td>
    </tr>

    <tr>
      <td width="200">Code Hash</td>
      <td>
        <a href='/wasmcode/<%= c.codeHash %>'><%- uiTool.getShortHash(c.codeHash, false) %></a>
      </td>
    </tr>

    <tr>
      <td>Instantiated</td>
      <td>
	<%= uiTool.presentTS(c.blockTS); %> @ <a href='/blocks/<%= c.chainID; %>'><%= c.chainName; %></a> <%- include("blockNumber", {chainID: c.chainID, blockNumber: c.instantiateBN}); %>
      </td>
    </tr>
    <tr>
      <td>Salt</td>
      <td><%= c.salt %></td>
    </tr>

<%   if ( c && c.contractName ) { %>
    <tr>
      <th>Contract Name</th>
      <td><%= c.contractName %></td>
    </tr>
<%   } %>
<%  if ( c && c.version ) { %>
    <tr>
      <th>Version</th>
      <td><%= c.version %></td>
    </tr>
<%   } %>
<%   if ( c && c.authors ) { %>
    <tr>
      <th>Authors</th>
      <td><%= c.authors.join(",") %></td>
    </tr>
<%   } %>


<% if ( c.verifier == "0x58E0fB1aAB0B04Bd095AbcdF34484DA47Fe9fF77" ) { %>
    <tr>
      <td>Verified?</td>
      <td>
<div><button class="btn-success">Verified by <img src="https://cdn.polkaholic.io/chainide_logo.svg" width="100"/></button></div>
      </td>
    </tr>
<% } %>

    <tr>
      <td>Deployer</td>
      <td><%- uiTool.presentID(c.deployer_ss58) %></td>
    </tr>

    <tr>
      <td>Constructor</td>
      <td>
          <code><%- contract.constructor %></code>
      </td>
    </tr>
<% if ( c.metadata ) { %>
    <tr>
      <td>Metadata</td>
      <td>
         <textarea id="metadata" class="contractdata" disabled><%= JSON.stringify(c.metadata); %></textarea>
         <div>
           <a class="btn btn-sm text-capitalize" href="javascript:copyToClipboardId('metadata')"><i class="fa-regular fa-copy"></i>Copy</a>
         </div>
       </td>
    </tr>
<% } %>   
    <tr>
      <td>WASM</td>
      <td>
         <textarea id="wasm" class="contractdata" disabled><%- contract.wasm %></textarea>
         <div>
           <a class="btn btn-sm text-capitalize" href="javascript:copyToClipboardId('wasm')"><i class="fa-regular fa-copy"></i>Copy</a>
         </div>
      </td>
    </tr>
  </tbody>
</table>
