<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<% if ( chain && chain.id ) { %>
<%- include('chainheader', { chain: chain, title: `XCM Assets` }); %>
<% } %>

<table id="tablexcmassets" class="display" style='width: 100%'>
  <thead>
    <tr class="tableheader">
      <th scope="col"><%- include("tooltip", {k: "assets"}) %>Asset</th>
      <th scope="col"><%- include("tooltip", {k: "holdings"}) %>Chain-Specific Holdings</th>
      <th scope="col"><%- include("tooltip", {k: "currencyid"}) %>CurrencyID</th>
      <th scope="col"><%- include("tooltip", {k: "numholders"}) %># Holders</th>
      <th scope="col"><%- include("tooltip", {k: "price"}) %>Price</th>
      <th scope="col"><%- include("tooltip", {k: "free"}) %>Total Free</th>
      <th scope="col"><%- include("tooltip", {k: "tvlfree"}) %>TVL Free</th>
      <th scope="col"><%- include("tooltip", {k: "reserved"}) %>Total Reserved</th>
      <th scope="col"><%- include("tooltip", {k: "tvlreserved"}) %>TVL Reserved</th>
      <th scope="col"><%- include("tooltip", {k: "relaychain"}) %>Relay Chain</th>
    </tr>
  </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<% if ( id ) { %><%= id; %><% } else { %>all<% } %>';
var accounts = <%- JSON.stringify(accounts); %>;
$(document).ready(function() {
  showxcmassets(id);
  setupapidocs("chain", "assets", `${id}`);
});
</script>
<script src="/chainui.js"></script>

