<%
let symbol = ( xcmdest.symbol ) ? xcmdest.symbol : "";
let txFeeSymbol = ( xcmdest.sourceChainSymbol ) ? xcmdest.sourceChainSymbol : "";
%>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cross Chain Transfer</h5>
    <b>Destination</b>: <%- uiTool.presentChain(xcmdest.chainIDDest, xcmdest.chainIDDestName); %><br>
    <% if (xcmdest.destAddress){  %>
      <b>Dest Addr</b>: <%- uiTool.presentBlockiesOrIdenticon(xcmdest.destAddress, 25) %>
      <a href='/account/<%= xcmdest.destAddress; %>'>
        <code><%= xcmdest.destAddress; %></code>
      </a><br>
    <% } %>
    <% if (xcmdest.msgHash && xcmdest.msgHash != '0x'){  %>
      <b>Msg Hash</b>:<a href='/xcmmessage/<%= xcmdest.msgHash; %>'><%- uiTool.getShortHash(xcmdest.msgHash, false, false)%></a><br>
    <% } %>
    <b>Asset Sent</b>: <%= uiTool.presentNumber(xcmdest.amountSent); %> <%= symbol; %> (<%- uiTool.currencyFormat(xcmdest.amountSentUSD, xcmdest.priceUSD, xcmdest.priceUSDCurrent) %>)<br>
    <b>Asset Received</b>: <%= uiTool.presentNumber(xcmdest.amountReceived); %> <%= symbol; %> (<%- uiTool.currencyFormat(xcmdest.amountReceivedUSD, xcmdest.priceUSD, xcmdest.priceUSDCurrent) %>)<br>
    <b>XCM Fees</b>: <%= uiTool.presentNumber(xcmdest.fee); %> <%= symbol; %> (<%- uiTool.currencyFormat(xcmdest.feeUSD, xcmdest.priceUSD, xcmdest.priceUSDCurrent) %>) + <b>TX Fees</b>: <%= uiTool.presentNumber(xcmdest.sourceTxFee); %> <%= txFeeSymbol; %> (<%- uiTool.currencyFormat(xcmdest.sourceTxFeeUSD, xcmdest.priceUSD, xcmdest.priceUSDCurrent) %>)<br>
    <b>Confirmed at Block</b>: <%- uiTool.presentBlock(xcmdest.chainIDDest, xcmdest.blockNumberDest); %> (<%- uiTool.presentSecondsAgoTS(xcmdest.destTS); %>)<br/>
    <b>Confirmed Time</b>: <%= uiTool.presentTS(xcmdest.destTS); %><br>
    <a href='/timeline/<%= extrinsicHash; %>'>XCM timeline</a>
  </div>
</div>
