<%- include('header', {chainInfo: chainInfo, title: "XCM Timeline"}); %>

<script src="/xcmexecutor/<%= src; %>.js"></script>
<script src="/xcmexecutor.js"></script>

<h5>XCM Executor</h5>
    
<div class="btn-group" role="group" aria-label="Traces">
<%
let traces = {
    	"moonbase-xTokens_transfer-1000-888": "xTokens:Transfer Alpha 1000 -> Beta 888",
	"moonbase-xcmTransactor_transactThroughSigned-1000-888": "xcmTransactor:transactThroughSigned Alpha 1000 -> Beta 888",
	"moonbase-precompile-xTokens-transfer-1000-888": "EVM precompile xTokens:Transfer Alpha 1000 -> Beta 888",
	"moonbase-precompile-xcmTransactor_transactThroughSigned-1000-888": "EVM precompile xcmTransactor:transactThroughSigned Alpha 1000 -> Beta 888"
};
for (const [_src, desc] of Object.entries(traces)) {
  let cls = ( src == _src ) ? "btn-primary" : "btn-tertiary";
%>
  <a class="btn <%= cls %>  text-capitalize" href="/xcmexecutor/<%= _src %>/0"><%= desc; %></a>
<% } %>
</div>

<script>
function build_paginator(src, l) {
    let out = [];
    out.push('<li class="page-item"><small><i>Step:</i></small></li>');
    for (let i=0; i < l; i++) {
	let cls = ( i == idx ) ? " active" : "";
	out.push(`<li class="page-item${cls}"><a class="page-link" href="/xcmexecutor/${src}/${i}">${i+1}</a></li>`);
    }
    document.getElementById("paginator").innerHTML = out.join("")
}
</script>

<nav aria-label="Page navigation example">
  <ul class="pagination" id="paginator">
  </ul>
</nav>

<div style='padding-left: 30px; margin-left: 30px; border: 1px solid block;'>
  <ul class="timeline-with-icons">
    <!-- Section: Origination -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-paper-plane text-primary fa-sm fa-fw"></i>
      </span>
      <div id="origination"></div>
    </li>
    <!-- Section: RelayChain -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-spinner text-primary fa-sm fa-fw"></i>
      </span>
      <div id="relayed"></div>
    </li>
    <!-- Section: Destination Chain -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
      </span>
      <div id="destination"></div>
    </li>
  </ul>
</div>
<script>
let idx = <%= idx %>;
let src = '<%= src %>';
$(document).ready(function() {
    build_paginator(src, xcmInfo.length);
    showxcmexecutor(xcmInfo[idx]);
});
</script>
<%- include('footer', {apiUrl: apiUrl}); %>
