
<div style='padding-left: 2px; margin-left: 2px; border: 1px solid block;'>

  <ul class="timeline-with-icons">

 <!-- Section: Origination -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-paper-plane text-primary fa-sm fa-fw"></i>
      </span>
      <h6 class="fw-bold">
       <% if ( xcm.origination.paraID == 0 ) { %>
         <%- include("tooltip", {k: "origination"}) %>Origination [RelayChain] <%= uiTool.capitalizeFirstLetter(xcm.origination.id) %>
       <%} else {  %>
         <%- include("tooltip", {k: "origination"}) %>Origination [Para ID: <%= xcm.origination.paraID %>]: <%= uiTool.capitalizeFirstLetter(xcm.origination.id) %>
       <% } %>
      </h6>

      <p class="text-muted mb-2 fw-bold"><%- uiTool.presentTS(xcm.origination.ts) %></p>
      <p class="mb-2">
        <%- include("tooltip", {k: "amountsent"}) %><B>Sent</B>: <span class="fw-bold"><%- uiTool.presentFloat(xcm.origination.amountSent) %></span> <%= xcm.symbol; %> (<%= uiTool.currencyFormat(xcm.origination.amountSentUSD)%>)<br/>
      </p>
      <p class="text-muted">
      <% if ( xcm.origination.transactionHash ) { %>
       <%- include("tooltip", {k: "transactionhash"}) %><B> Transaction Hash: </b><%- uiTool.presentTx(xcm.origination.transactionHash) %>
      <% } else { %>
       <%- include("tooltip", {k: "extrinsicid"}) %><B> Extrinsic ID: </B> <%- uiTool.presentExtrinsicID(xcm.origination.extrinsicHash, xcm.origination.extrinsicID); %>
      <% } %>
      <br/>

      <%- include("tooltip", {k: "sender"}) %><B>Sender:</B>
      <% if ( xcm.origination.sender ) {
        let sender = xcm.origination.sender
      %>
      <%- uiTool.presentBlockiesOrIdenticon(sender, 25) %>
      <%- uiTool.presentID(sender); %>

      <% } %>
      <br/>

      <%- include("tooltip", {k: "module"}) %><B>Module</B>: <%- include("module", {chainID: xcm.origination.id, section: xcm.origination.section, method: xcm.origination.method}); %><br/>
      <%- include("tooltip", {k: "sentatblock"}) %><b>Sent At Block</B>: <a href='/block/<%= xcm.origination.id %>/<%= xcm.origination.blockNumber; %>'><code><%= xcm.origination.blockNumber; %></code></a><br/>
      <%- include("tooltip", {k: "xcmmessagehash"}) %><b>XCM Message Hash</b>: <a href='/xcmmessage/<%= xcm.origination.msgHash %>/<%= xcm.origination.sentAt %>'><%- uiTool.getShortHash(xcm.origination.msgHash) %></a><br/>
      <% if ( xcm.origination.txFee != undefined) { %>
      <%- include("tooltip", {k: "txfees"}) %><B>TX Fees:</B>
         <%- uiTool.presentFloat(xcm.origination.txFee, 10) %> <%= xcm.origination.txFeeSymbol %>
         (<%- uiTool.currencyFormat(xcm.origination.txFeeUSD, xcm.priceUSD, xcm.priceUSDCurrent) %>)<br/>
      <% } %>
      </p>
    </li>

 <!-- Section: RelayChain -->
<% if ( xcm.relayChain ) { %>
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-spinner text-primary fa-sm fa-fw"></i>
      </span>
      <h6 class="fw-bold">
      <%- include("tooltip", {k: "relaychain"}) %>Relay Chain: <%= xcm.relayChain.relayChain; %>
      </h6>

      <p class="text-muted">
      <% if ( xcm.relayChain.relayAt ) { %>
      <%- include("tooltip", {k: "relayedatblock"}) %><B>Relayed At Block:</B>
      <a href='/block/<%= xcm.relayChain.relayChain %>/<%= xcm.relayChain.relayAt; %>'>
        <code><%= xcm.relayChain.relayAt; %></code>
      </a>
      <% } %>
    </li>
<% } %>
 <!-- Section: Destination Chain -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
      </span>
      <h6 class="fw-bold">
        <% if ( xcm.destination.paraID == 0 ) { %>
        <%- include("tooltip", {k: "destination"}) %>Destination: [RelayChain]</B> <%= uiTool.capitalizeFirstLetter(xcm.destination.id) %>
        <% } else { %>
        <%- include("tooltip", {k: "destination"}) %>Destination: [Para ID: <%= xcm.destination.paraID %>]</B> <%= uiTool.capitalizeFirstLetter(xcm.destination.id) %>
        <% } %>
      </h6>
      <% if ( xcm.destination.ts ) { %>
      <p class="text-muted mb-2 fw-bold"><%- uiTool.presentTS(xcm.destination.ts) %></p>
      <% } %>
      <p class="mb-2">
       <% if ( xcm.destination.amountreceived ) { %>
       <%- include("tooltip", {k: "amountreceived"}) %><B>Received</B>: <span class="fw-bold"><%- uiTool.presentFloat(xcm.destination.amountReceived) %></span> <%= xcm.symbol; %> (<%= uiTool.currencyFormat(xcm.destination.amountReceivedUSD)%>)<br/>
       <% } %>
      </p>
      <p class="text-muted">
       <% if ( xcm.destination.blockNumber ) { %>
       <%- include("tooltip", {k: "receivedatblock"}) %><B> Received At Block:</B> <a href='/block/<%= xcm.destination.id %>/<%= xcm.destination.blockNumber %>'>
         <code><%= xcm.destination.blockNumber %></a></code>
       <br/>
       <% } %>

       <%- include("tooltip", {k: "beneficiary"}) %><B>Beneficiary:</B>
       <% if ( xcm.destination.beneficiary ) {
           let beneficiary = xcm.destination.beneficiary;
       %>
       <%- uiTool.presentBlockiesOrIdenticon(beneficiary, 25) %>
       <%- uiTool.presentID(beneficiary); %>
       <% } %>
       <br/>

       <% if ( xcm.destination.remoteEVMTxHash ) {
           let remoteEVMTxHash = xcm.destination.remoteEVMTxHash;
           let remoteEVMResult = xcm.destination.remoteEVMResult;
       %>
       <%- include("tooltip", {k: "removeevmtx"}) %><B>Remote EVM Tx:</B>
       <%- uiTool.presentFullTx(remoteEVMTxHash); %>
       <%- include("txResult", {success: remoteEVMResult, errorMsg: false}); %>
       <br/>
       <% } %>


      <%- include("tooltip", {k: "executionstatus"}) %><B>Execution Status:</B>
       <% if ( xcm.destination.status ||  xcm.destination.success) { %>
	    <button type="button" class="btn btn-success text-capitalize">Success</button>
       <% } else { %>
         <% if ( xcm.destination.error ) { %>
	    <button type="button" class="btn btn-danger text-capitalize"><%= xcm.destination.error.errorType %></button><br/>
            <%= xcm.destination.error.errorDesc; %><br/>
	 <% } %>
       <% } %>
	 <br/>
	 <% if ( xcm.destination.eventID ) { %>
         <%- include("tooltip", {k: "executedeventid"}) %><B> Event ID:</B> <%= xcm.destination.eventID %><br/>
	 <%- include("eventaccordion", {eventID: xcm.destination.eventID}); %>
	 <% } %>
	 <br/>
       <% if ( xcm.destination.teleportFee ) {
           let  teleportFeeSymbol = (xcm.destination.teleportFeeSymbol != undefined)? xcm.destination.teleportFeeSymbol : xcm.destination.teleportFeeChainSymbol
       %>
      <p class="text-muted">
      <%- include("tooltip", {k: "teleportfees"}) %><B>Teleport Fees:</B>
      <%- uiTool.presentFloat(xcm.destination.teleportFee, 10) %> <%= teleportFeeSymbol %> (<%- uiTool.currencyFormat(xcm.destination.teleportFeeUSD, xcm.priceUSD, xcm.priceUSDCurrent) %>)
      </p>
       <% } %>
    </li>

  </ul>
  <% if ( xcm.origination.ts && xcm.destination.ts  ) { %>
  <%   let flightTime = xcm.destination.ts  - xcm.origination.ts; %>
  <i>Flight time: <%= flightTime %> seconds</i>
  <% } %>
</div>
