<%- include('header', {chainInfo: chainInfo, title: "XCM Messages"}); %>

<div class="alert" role="alert" data-mdb-color="warning">
  <i class="fa-solid fa-star"></i> NEW! You can query all XCM Messages from <code>bigquery-public-data.crypto_polkadot.xcm</code> and  <code>bigquery-public-data.crypto_kusama.xcm</code> tables in <a href='https://console.cloud.google.com/bigquery/analytics-hub/exchanges/projects/974572213039/locations/us/dataExchanges/substrate_18804f88005/listings/polkadot_188057df28c'>Google BigQuery Public Datasets</a> (<a href='https://github.com/colorfulnotion/substrate-etl/blob/main/schema/xcm.json'>schema</a>)
</div>

<h5>XCM Messages</h5>

<table id="tablexcmmessages" class="display" style="width: 100%">
      <thead>
        <tr>
	  <th><%- include("tooltip", {k: "xcmmessagehash"}) %>MsgHash</th>
	  <th><%- include("tooltip", {k: "extrinsichash"}) %>Extrinsic</th>
	  <th><%- include("tooltip", {k: "xcmmessagetype"}) %>Msg Type</th>
	  <th><%- include("tooltip", {k: "origination"}) %>Sent</th>
	  <th><%- include("tooltip", {k: "destination"}) %>Received</th>
          <th><%- include("tooltip", {k: "assets"}) %>Assets Received/Instructions</th>
          <th><%- include("tooltip", {k: "xcmmessagehash"}) %>Beneficiary</th>
	  <th>Matched/Time</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
let id = '<% id %>';
let data = <%- JSON.stringify(data) %>;
$(document).ready(function() {
    showxcmmessages(null);
    let table = $("#tablexcmmessages").DataTable();
    table.clear();
    table.rows.add(data)
    table.draw();
})
</script>
<script src="/chains.js"></script>
<script src="/chainui.js"></script>
