<%
let f = xcm;
%>
<%- include('header', {chainInfo: chainInfo, title: `${f.chainName} => ${f.chainDestName} XCM Message`}); %>
<h4>XCM Message</h4>




<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200"><%- include("tooltip", {k: "xcmmessagehash"}) %>Message Hash</td>
      <td>
        <%- uiTool.getShortHash(f.msgHash, false) %><br/>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "xcmmessagehex"}) %>Hex</td>
      <td>
        <%- uiTool.getShortHash(f.msgHex, true) %>
        <%=` (Len=`%><%- `${(f.msgHex.length/2)-1})`%>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "xcmmessagetype"}) %>Message Type</td>
      <td><%= f.msgType %><%= ` (${uiTool.capitalizeFirstLetter(f.id)} -> ${uiTool.capitalizeFirstLetter(f.idDest)})` %></td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "xcmversion"}) %>XCM Version</td>
      <td><%= f.version %></td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "sentatblock"}) %>Origination</td>
      <td>
        <a href='/chain/<%= f.chainID; %>'><%= f.chainName; %></a>
        <%- include("blockNumber", {chainID: f.chainID, blockNumber: f.sourceBlocknumber}); %>
	<% if ( f.sourceTS ) { %>
        <%=` `%> Sent: <%= uiTool.presentTS(f.sourceTS); %>
	<% } %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "relayedatblock"}) %>Relayed At</td>
      <td>
        <a href='/chain/<%= f.relayChain; %>'><%= uiTool.capitalizeFirstLetter(f.relayChain); %></a>
        <%- include("blockNumber", {chainID: f.relayChain, blockNumber: f.sentAt}); %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "relayedatblock"}) %>Destination</td>
      <td>
        <a href='/chain/<%= f.chainIDDest; %>'><%= f.chainDestName; %></a>
        <%- include("blockNumber", {chainID: f.idDest, blockNumber: f.destBlocknumber}); %>
	<% if ( f.destTS ) { %>
        <%=` `%> Received: <%= uiTool.presentTS(f.destTS); %>
	<% } %>
      </td>
    </tr>

    <tr>
      <td><%- include("tooltip", {k: "executionstatus"}) %>Execution Status</td>
      <td>
          <a href='/chain/<%= f.chainIDDest; %>'><%= f.chainDestName; %></a>
          <% if ( f.executedEventID) {
          let executionBN = f.executedEventID.split('-')[1] %>
          <%- include("blockNumber", {chainID: f.chainIDDest, blockNumber: executionBN}); %>
          <% if ( f.sourceTS && f.destBlocknumber == executionBN) { %>
          <%=` `%> Executed: <%= uiTool.presentTS(f.destTS); %>
          <% } %>
          <br/>
          <% } %>
        <% if ( f.destStatus == -1 ) { %>
	    <button type="button" class="btn btn-warning text-capitalize">Unknown</button>
	<% } else if ( f.destStatus == 0 ) { %>
        <% if ( f.errorDesc ) { %>
	    <button type="button" class="btn btn-danger text-capitalize"><%= f.errorDesc %></button>
	<% } %>
	<% } else if ( f.destStatus == 1 ) { %>
	    <button type="button" class="btn btn-success text-capitalize">Success</button>
	<% } %>
	<% if ( f.executedEventID ) { %>
        <%- include("eventaccordion", {eventID: f.executedEventID}); %>
	<% } %>
      </td>
    </tr>

<% if ( f.extrinsicHash ) { %>
    <tr>
      <td><%- include("tooltip", {k: "extrinsicid"}) %>Extrinsic</td>
      <td><a href='/tx/<%= f.extrinsicHash %>'><%= f.extrinsicID  %></a></td>
    </tr>
<% } %>

<% if ( f.parentMsgHash ) { %>
    <tr>
      <td>Parent Message</td>
      <td><a href='/xcmmessage/<%= f.parentMsgHash %>/<%= f.parentBlocknumber %>'><%= f.parentMsgHash %></a> (Sent At: <%= f.parentSentAt %>)</td>
    </tr>
<% } %>

<% if ( f.childMsgHash ) { %>
    <tr>
      <td>Child Message</td>
      <td><a href='/xcmmessage/<%= f.childMsgHash %>/<%= f.childBlocknumber %>'><%= f.childMsgHash %></a> (Sent At: <%= f.childSentAt %>)</td>
    </tr>
<% } %>

    <tr>
      <td><%- include("tooltip", {k: "xcmdestaddress"}) %>Dest Address</td>
      <td>
        <% if (f.destAddress){
          let dest = (f.destSS58Address != undefined)? f.destSS58Address : f.destAddress
          %>
          <img src="/identicon/<%= dest; %>" class="rounded-start"  width="25px"  loading="lazy"/>
          <a href='/account/<%= paraTool.getPubKey(dest) %>'>
            <code><%= dest; %></code>
          </a>
	         <%- uiTool.showAccountInfo(f, "destAddress") %>
        <% } else {%>
          <%- `-`; %>
        <% } %>
      </td>
    </tr>
    <tr>
      <td><%- include("tooltip", {k: "xcminstructionssummary"}) %>Instructions Summary</td>
      <td><code><%= f.path  %></code></td>
    </tr>

    <% if ( f.assetChains ) {
      let assetChains = f.assetChains %>
    <tr>
      <td><%- include("tooltip", {k: "xcmassets"}) %>Assets Mentioned In Instructions</td>
      <td>
        <% for (var i = 0; i < assetChains.length; i++) {
          let ac = assetChains[i]
          let acID = `msgAc${i}`
          %>
          <%- include("decode", {"obj": ac, "id": `asset${i}`, "verify": null, "size": []}) %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td><%- include("tooltip", {k: "xcminstructions"}) %>Instructions</td>
      <td>
         <%
         let msg = f.msg
         if ( f.decodeMsg ) msg = f.decodeMsg
        %>
        <%- include("decode", {"obj": msg, "id": "instructions", "verify": null, "size": [1500,1000]}) %>
      </td>
    </tr>

<% if ( msg != undefined && msg.transactList != undefined &&   msg.transactList.length > 0) { %>
    <tr>
      <td><%- include("tooltip", {k: "xcmtransact"}) %>Transact Instruction(s)</td>
      <td>
          <% for (var i = 0; i < msg.transactList.length; i++) {
            let transact = msg.transactList[i]
            let transactID = `transact${i}`
            %>
            <%- include("decode", {"obj": transact, "id": `${transactID}`, "verify": null, "size": [1500, 800] }) %>
          <% } %>
      </td>
    </tr>
<% } %>
<% if ( false ) { %>
    <tr>
      <td>Verify</td>
      <td>
        <%- include("verifyXCMMessage", {"xcm": f}); %>
      </td>
    </tr>
<% } %>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
