<%
let f = xcm;
%>
<%- include('header', {chainInfo: chainInfo, title: `${f.chainName} => ${f.chainDestName} XCM Message`}); %>
<h4>XCM Message</h4>




<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <td width="200">Hash</td>
      <td>
        <%- uiTool.getShortHash(f.msgHash, false) %><br/><a class="btn btn-link" href="/timeline/<%= f.msgHash; %>/xcm/<%= f.sentAt; %>" target="_new">XCM Timeline</a>
      </td>
    </tr>
    <tr>
      <td>Hex</td>
      <td>
        <%- uiTool.getShortHash(f.msgHex, true) %>
        <%=` (Len=`%><%- `${(f.msgHex.length/2)-1})`%>
      </td>
    </tr>

    <tr>
      <td>Message Type</td>
      <td><%= f.msgType %><%= ` (${uiTool.capitalizeFirstLetter(f.id)} -> ${uiTool.capitalizeFirstLetter(f.idDest)})` %></td>
    </tr>

    <tr>
      <td>XCM Version</td>
      <td><%= f.version %></td>
    </tr>

    <tr>
      <td>Origination</td>
      <td>
        <a href='/chain/<%= f.chainID; %>'><%= f.chainName; %></a>
        <%- include("blockNumber", {chainID: f.chainID, blockNumber: f.blockNumber}); %>
        <%=` `%> Sent: <%= uiTool.presentTS(f.blockTS); %>
      </td>
    </tr>

    <tr>
      <td>Relayed At</td>
      <td>
        <a href='/chain/<%= f.relayChain; %>'><%= uiTool.capitalizeFirstLetter(f.relayChain); %></a>
        <%- include("blockNumber", {chainID: uiTool.capitalizeFirstLetter(f.relayChain), blockNumber: f.sentAt}); %>
      </td>
    </tr>

    <tr>
      <td>Destination</td>
      <td>
        <a href='/chain/<%= f.chainIDDest; %>'><%= f.chainDestName; %></a>
        <%- include("blockNumber", {chainID: f.idDest, blockNumber: f.blockNumberDest}); %>
        <%=` `%> Received: <%= uiTool.presentTS(f.blockTSDest); %>
      </td>
    </tr>

<% if ( f.extrinsicHash ) { %>
    <tr>
      <td>Extrinsic</td>
      <td><a href='/tx/<%= f.extrinsicHash %>'><%= f.extrinsicID  %></a></td>
    </tr>
<% } %>

<% if ( f.parentMsgHash ) { %>
    <tr>
      <td>Parent Message</td>
      <td><a href='/xcmmessage/<%= f.parentMsgHash %>/<%= f.parentSentAt %>'><%= f.parentMsgHash %></a> (Sent At: <%= f.parentSentAt %>)</td>
    </tr>
<% } %>

<% if ( f.childMsgHash ) { %>
    <tr>
      <td>Child Message</td>
      <td><a href='/xcmmessage/<%= f.childMsgHash %>/<%= f.childSentAt %>'><%= f.childMsgHash %></a> (Sent At: <%= f.childSentAt %>)</td>
    </tr>
<% } %>


    <tr>
      <td>Dest Address</td>
      <td>
        <% if (f.destAddress){
          let dest = (f.destSS58Address != undefined)? f.destSS58Address : f.destAddress
          %>
          <img src="/identicon/<%= dest; %>" class="rounded-start"  width="25px"  loading="lazy"/>
          <a href='/account/<%= paraTool.getPubKey(dest) %>'>
            <code><%= dest; %></code>
          </a>
	         <%- uiTool.showAccountInfo(f, "destAddress") %>
        <% } else {%>
          <%- `-`; %>
        <% } %>
      </td>
    </tr>

    <tr>
      <td>Instructions Summary</td>
      <td><code><%= f.path  %></code></td>
    </tr>

    <% if ( f.assetChains ) {
      let assetChains = f.assetChains %>
    <tr>
      <td>Assets Mentioned In Instructions</td>
      <td>
        <% for (var i = 0; i < assetChains.length; i++) {
          let ac = assetChains[i]
          let acID = `msgAc${i}`
          %>
          <%- include("decode", {"obj": ac, "id": `asset${i}`}) %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td>Instructions</td>
      <td>
        <%- include("decode", {"obj": f.msg, "id": "instructions"}) %>
      </td>
    </tr>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
