<%
let [startDate, endDate] = uiTool.getRecentDateRange(3);
%>
<div class="card mb-3">
  <table>
    <tr>
      <td valign=top width=100>Dimension<br/>
       <select class="select" id="dimension" onchange="changedDimension()">
        <option value="date" SELECTED>Date</option>
        <option value="block">Block</option>
       </select>
      </td>
      <td width=350>
        Range<br/>
        <table class="datevisible"><tr><td>
      <div class="form-outline datepicker"  data-mdb-format="yyyy-mm-dd">
       <input type="text" class="form-control" id="startDate" value="<%= startDate; %>"/>
       <label for="startDate" class="form-label">Start Date</label>
      </div>
     </td>
     <td>
      <div class="form-outline datepicker"  data-mdb-format="yyyy-mm-dd">
       <input type="text" class="form-control" id="endDate" value="<%= endDate; %>"/>
       <label for="endDate" class="form-label">End Date</label>
      </div>
      </td>
    </tr>
	</table>

     <table class="blockvisible"><tr><td>
      <div class="form-outline">
       <input type="text" class="form-control" id="blockNumberStart" />
       <label for="blockNumberStart" class="form-label">Block # Start</label>
      </div></td><td>
      <div class="form-outline">
       <input type="text" class="form-control" id="blockNumberEnd" />
       <label for="blockNumberEnd" class="form-label">Block # End</label>
      </div></td></tr></table>
      </td>

      <td valign=top width=250>
      <% if ( tbl == "xcmtransfers" || tbl == "xcmmessages" ) { let s = ( chainID == "all" ) ? " SELECTED" : ""; %>
      Chain Source<br/>
      <select class="select" id="chainID">
        <option value="all"<%= s; %>>All</option>
        <% for ( const c of chains ) {
	   let s = ( c.chainID == chainID ) ? " SELECTED" : ""; %>
	     <option value="<%= c.chainID %>"<%= s; %>><%= c.chainName; %></option>
	<% } %>
      </select>
      <% } %>
      </td>

      <td width=150>
      <br/>
      <button type="button" id="btnFilter" class="btn btn-info">Search</button>
      </td>
    </tr>
    <tr>

     <td></td>
     <td>
     <% if ( tbl == "xcmtransfers" ) { %>
     Sender<br/>
        <input class="form-control" id="fromAddress" value="<%= fromAddress; %>">
     <% } %>
     </td>
     <td>
     <% if ( tbl == "xcmtransfers" ) { %>
     Beneficiary<br/>
        <input class="form-control" id="toAddress" value="">
     <% } else if ( tbl == "xcmmessages" ) { %>
     Message Type<br/>
        <select class="select" id="msgType">
          <option value="">All</option>
          <option value="ump">ump (upward, parachain to relay chain)</option>
          <option value="xcmp">xcmp (parachain to parachain)</option>
          <option value="dmp">dmp (downward, relay chain to parachain)</option>
        </select>
     <% } else if ( tbl == "evmtxs" || tbl == "transfers" ) { %>
     To<br/>
        <input class="form-control" id="toAddress" value="">
     <% } %>
     </td>
     <td>
     <% if ( tbl == "xcmtransfers" ) { %>
     Completed?<br/>
        <select class="select" id="complete">
          <option value="">All</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      <% } else if ( tbl == "xcmmessages") { %>
      Relay Chain<br/>
          <select class="select" id="relayChain">
            <option value="">All</option>
            <option value="Polkadot">Polkadot</option>
            <option value="Kusama">Kusama</option>
          </select>
      <% } %>
     </td>
    </tr>
  </table>

</div>

<div id="datascope"></div>
<div id="scope"></div>
<div id="processing" class="text-center" style='visibility:hidden'>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<script src="/query.js"></script>
<script>
$(document).ready(function() {
    //submitQuery("<%= chainID %>", "<%= tbl %>");
});

$("#btnFilter").on('click', function(e) {
  submitQuery("<%= chainID %>", "<%= tbl %>");
});
</script>
