<%- include('header', {chainInfo: chainInfo, title: "XCM Transfers"}); %>

<div class="alert" role="alert" data-mdb-color="warning">
  <i class="fa-solid fa-star"></i> NEW! You can query all XCM Transfers from <code>bigquery-public-data.crypto_polkadot.xcmtransfers</code> and  <code>bigquery-public-data.crypto_kusama.xcmtransfers</code> tables in <a href='https://console.cloud.google.com/bigquery/analytics-hub/exchanges/projects/974572213039/locations/us/dataExchanges/substrate_18804f88005/listings/polkadot_188057df28c'>Google BigQuery Public Datasets</a> (<a href='https://github.com/colorfulnotion/substrate-etl/blob/main/schema/xcm.json'>schema</a>) -- see <a href='https://colorfulnotion.medium.com/polkaholic-ios-2022-xcm-transfers-in-bigquery-public-dataset-substrate-etl-polkadot-xcmtransfers-dfa6f2261ce9'>blog post</a>
</div>

<h5>XCM Transfers</h5>

<table id="tablexcmtransfers" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th><%- include("tooltip", {k: "module"}) %>Section:Method</th>
          <th><%- include("tooltip", {k: "value"}) %>Value</th>
          <th><%- include("tooltip", {k: "valueusd"}) %>Value (USD)</th>
          <th><%- include("tooltip", {k: "sender"}) %>Sender</th>
          <th><%- include("tooltip", {k: "beneficiary"}) %>Beneficiary</th>
          <th><%- include("tooltip", {k: "origination"}) %>From Chain/Extrinsic ID</th>
          <th><%- include("tooltip", {k: "destination"}) %>To Chain</th>
          <th><%- include("tooltip", {k: "txtimestamp"}) %>Date</th>
          <th>Relay</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
let id = '<% id %>';
let data = <%- JSON.stringify(data) %>;

$(document).ready(function() {
    showxcmtransfers(null);
    let table = $("#tablexcmtransfers").DataTable();
    table.clear();
    table.rows.add(data)
    table.draw();
});
</script>
<script src="/chains.js"></script>
<script src="/chainui.js"></script>

