<div class="tab-pane" id="extrinsics" role="tabpanel" aria-labelledby="extrinsics-tab">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Extrinsic ID</th>
        <th>Section/Method</th>
        <th>Params</th>
        <th>From</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <%
let signedcnt = 0;
if ( extrinsics !== undefined && extrinsics.length > 0 ) {
  for ( var i = 0; i < extrinsics.length ; i++) {
     let e = extrinsics[i];
     let txResult = (e.result != undefined)? e.result == 1: true
     let errorMsg = (e.err != undefined)? e.err: false
     let signer = false
     if (e.signer != undefined && e.signer != "NONE") {
         signer = e.signer
     }
     if ( signer == false ) {
     } else if ( e.evm ) {
     } else {

        let accountID = signer;
        let address = paraTool.getPubKey(accountID);
        let extrinsicHash = e.extrinsicHash
        let extrinsicID = b.number + "-" + i;
        if ( address != "0x0000000000000000000000000000000000000000000000000000000000000000" ) {          signedcnt++; %>
      <tr>
        <td>
          <a href='/tx/<%= extrinsicHash %>'><%= extrinsicID %></a>
        </td>
        <td>
          <%- include("module", {chainID: id, section: e.section, method: e.method}); %>
        </td>
        <td>
          <%- include("jsonaccordion", {title: "View Extrinsic Parameters", params: e.params, id: i, width: 750}); %>
        </td>
        <td>
          <a href='/account/<%= paraTool.getPubKey(accountID) %>'><code><%- uiTool.getShortHash(signer, false, true); %></code></a>
        </td>
        <td><%- include("isSuccess", {success: txResult, errorMsg: errorMsg}); %></td>
      </tr>
      <% } %>
   <% } %>
 <% } %>
<% } %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  document.getElementById('extrinsics-tab').innerHTML = '<%- `Extrinsics (${signedcnt})` %>'
</script>
